/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	border: 1px solid red;
	width: 1200px;
	margin: auto;
}

header {
	border: 5px solid red;

}

header nav a {
	border: 1px solid blue;
}

header .logo {
	border: 1px solid blue;
}

.services-header-img {
	border: 1px solid red;
	position: relative;
	margin: 15px 0px 15px 30px;
}


.top-content, .text-container {
	border: 5px solid red;
	display: flex;
	justify-content: flex-start;
}

.middle-content {
	border-bottom: 5px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 95vw;
	margin: 0 auto;
}


.middle-content .box1 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;
}

.middle-content .box2 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;
}

.middle-content .box3 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;;
}


.middle-content .box4 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;
}

.middle-content .box5 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;
	
}

.middle-content .box6 {
	border: 1px solid red;
	width: 400px;
	height: 200px;
	margin: 20px 20px 20px 100px;
}


.services-info-img {
	position: absolute;
    width: 400px;
    height: 250px;
    border: 1px solid red;
    left: 650px;
    top: 603px;
}


.copyright {
text-align: center;

}

.facts {
	border-top: 3px solid black;
	margin-top: 25px;
	border: 1px solid red;
    width: 600px;
	height: 300px;
	padding: 30px;
}

.facts h2 {
	margin-top: 20px;
}

