/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.wrapper{
	width:90%;
	max-width:1000px;
	margin: 0 auto;
}

/* ~~~~~~
Nav
~~~~~~ */
nav{
	display:flex;
	justify-content: space-between;
	width:100%;
	align-items: center;
}
.nav-links{
	display: flex;
	justify-content: space-between;
	flex-basis: 70%;
}
.nav-links a{
	text-decoration: none;
	color: grey;
}
.nav-logo{
	flex-basis: 20%;
}
.nav-logo img, .nav-logo a{
	width:100%;
}

/* ~~~~~~
Header
~~~~~~ */
.hero{
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 0;
}
.hero .tagline{
	flex-basis: 50%;
	text-align: center;
}
.tagline h1{
	font-size: 50px;
}
.tagline a{
	padding: 10px 20px;
	text-decoration: none;
	color: black;
	border: 1px solid black;
}
.hero .hero-img{
	flex-basis: 50%;
}
.hero img{
	width: 100%;
}
/* ~~~~~~
Main
~~~~~~ */
.content-2col, .content-3col{
	margin: 30px 0;
}
.content-2col{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-2col div{
	width:48%;
	padding: 0 10px;
}
.content-2col img{
	width: 100%;
}
.content-2col ul{
	list-style-type: square;
	margin: 10px;
}
.content-2col ul li{
	margin: 10px;
}

.content-3col{
	display: flex;
}
.content-3col div{
	padding: 0 5px;
}
.middle-img{
	width: 100%;
}

.content-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-evenly;
}
.content-wrap div{
	width: 48%;
	padding: 10px;
	margin: 20px 0;
	background: lightgrey;
	border: 1px solid black;
}
.content-wrap button{
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 10px;
}

@media (max-width:800px){
	.content-wrap{
		flex-direction: column;
	}
	.content-wrap div{
		width: 80%;
	}
}


#gameWindow, #controlWindow{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 0;
}
#gameCanvas, #controlCanvas{
	width: 75%;
	border: 1px solid black;
}
#gameCanvas{
	height: 70%;
}
#controlCanvas{
	height: 25%;
}


/* ~~~~~~
Footer
~~~~~~ */
footer{
	margin: 20px;
	text-align: center;
}