/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 20px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
    
    
}


body {
    line-height: 1;
}
.container {
    display: flex;    
    flex-wrap: wrap;
    width: 880px;
    align-items: baseline;
}


ol, ul {
    list-style:square;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}




/* header */
header {
    display: flex;
    justify-content:center;
    width: 880px;
}
header .logo {
    height: 20px;
    display: flex;
    align-content: flex-start;
}
    header nav {
        display: flex;
        align-items: center;

       
    }

    header nav a {
        margin-right: 65px;
        font-size: 14px;
        color: gray;
        text-decoration: none;
    }

        header nav a:hover {
            text-decoration: underline;
        }

        header nav a:first-child {
            margin-left: 0;
        }

        header nav a:last-child {
            margin-right: 0;
        }

    
.services-header-img{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
}

.services {
    display: flex;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
    width: 880px;
}
h2{
    padding-left: 20px;
}

    .services p {
        display: flex;        
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
    }

.maincontent {
    display: flex;
    align-content: space-evenly;
    justify-content: space-between;
    
    flex-wrap: wrap;
    width: 880px;
}

       

    /*.maincontent {
    
    display: flex;    
    flex-wrap: wrap;
    align-content: space-evenly;    
    
    
    
}

     .maincontent > * {        
        
        border: 2px solid black;
        flex-wrap: wrap;        
        background-color: lightgray;
        padding: 20px;
        
    }*/
    .maincontent .content {
        display: flex;
        width: 40%;
        border: 2px solid black;
        flex-wrap: wrap;
        background-color: lightgray;
        padding: 0px 20px 20px 20px;
        justify-content:space-between;
        align-content: space-evenly;
    }
.content .btn {
    border-radius: 4px;
    background: white;
    vertical-align: top;
    margin-top: 6px;
    padding: 8px 44px;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}
.bottomcontent {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.facts {
    display: flex;
    
    width: 880px;
    border-top: 2px solid black;
}
    

.copyright {
    display: flex;
    justify-content: center;
    width: 880px;
}



