.bCheck(@color) {
    border: 1px solid @color;
}
.flexed {
    .container();
    .flexedHeading {
        display: flex;
        .heading1,
        .circle {
            width: 50%;
            text-align: center;
            align-self: center;
            h1 {
                font-size: 5.5rem;
            }
        }
        button {
            width: 35%;
            background: white;
            border: black 1px solid;
            border-radius: 6px;
            .ani1();
            margin-bottom: 7%;
        }
    }
    .flexedTopSection {
        .padding();
        display: flex;
        justify-content: space-between;
        div {
            width: 45%;
        }
        border-top: 2px solid gray;
    }
    .banner {
        margin: 0;
        .padding();
        img {
            width: 110%;
        }
    }
    .flexedTriSection {
        .padding();
        display: flex;
        justify-content: space-between;
        div {
            width: 30%;
        }
        border-bottom: 2px solid gray;
    }
    .contact {
        margin: 0;
    }
}
