.bCheck(@color) {
    border: 1px solid @color;
}
.flexed {
    .container();
    .flexedHeading {
        display: flex;
        .heading1,
        .circle {
            .bCheck(purple);
            width: 50%;
            text-align: center;
            align-self: center;
            h1 {
                font-size: 5rem;
            }
        }
    }
    .flexedTopSection {
        display: flex;
        justify-content: space-between;
        div {
            width: 45%;
        }
    }
}
.banner {
    margin: 0;
    img {
        width: 110%;
    }
}
