nav {
    .grid();
    grid-template-columns: 5fr 1fr;
    padding-top: 1%;
    .logo {
        padding: 10% 0 0;
        margin-left: 15%;
    }
    .navSeparation {
        .grid();
        grid-template-columns: repeat(6, minmax(30px, 1fr));
        a {
            width: 30%;
            margin-left: 30%;
        }
    }
}
