nav {
    .grid();
    grid-template-columns: 5fr 1fr;
    padding-top: 1%;
    border: 2px solid blue;
    .logo {
        border: 2px dotted magenta;
        padding: 10% 0 0;
        margin-left: 15%;
    }
    .navSeparation {
        border: 2px solid red;
        .grid();
        grid-template-columns: repeat(6, minmax(30px, 1fr));
        a {
            border: 1px solid blue;
            width: 30%;
            margin-left: 30%;
        }
    }
}
.heading {
    .grid();
    .container;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    .heading1 {
        display: grid;
        border: 1px solid purple;
        justify-self: center;
        align-self: center;
        h1 {
            font-size: 4rem;
            text-align: center;
        }
        button {
            justify-self: center;
            width: 50%;
            background: white;
            border: black 1px solid;
            border-radius: 6px;
        }
    }
    .circle {
        border: 1px solid midnightblue;
        align-self: center;
        justify-self: center;
    }
}
