nav {
    .grid();
    grid-template-columns: 5fr 1fr;
    padding: 1.5%;
    .logo {
        padding: 10% 0 0;
        margin-left: 15%;
    }
    .navSeparation {
        .grid();
        grid-template-columns: repeat(6, minmax(10%, 1fr));
        a {
            width: 30%;
            margin-left: 30%;
            color: grey;
            text-decoration: none;
            &:hover {
                text-shadow: black 0 0 10px;
            }
        }
    }
    @media @phone {
        display: flex;
        flex-direction: column;
        .navSeparation {
            flex-direction: column;
            display: flex;
            .bCheck(magenta);
            a {
                margin: 0;
                width: 100%;
                text-align: center;
                .bCheck(green);
            }
        }
    }
}
