.grid() {
    display: grid;
}
.container() {
    width: 90%;
    margin: 0 5%;
}

.top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .container();
    div {
        p {
            padding: 3% 10% 3% 0;
        }
    }
}
.banner {
    .container();
    img {
        width: 100%;
    }
}
.triSection {
    .grid();
    .container();
    margin-top: 2%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
}
.contact {
    .container();
}
h6 {
    text-align: center;
}
