/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
	width: auto;
}

header a {
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	color: lightgray;
	margin: 40px;
}

.logo {
	float: right;
	display: inline-block;
	height: 30px;
	padding-left: 80px;
	margin-bottom: -10px;
}

.main-top{
	width: 100%;
	margin: auto;
}

.main-left{
	width: 48%;
	display: inline-block;
	font-size: 100px;
	text-align: center;
	margin-top: 100px;
}

.main-right{
	width: 48%;
	height: auto;
	display: inline-block;
	float: right;
}

button{
	background: white;
	border:2px solid black;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	padding: 10px 75px;
	margin-top: -30px;
}

hr {
	width: 100%;
	color: black;
	border: 1px solid black;
	margin-top: 125px;
}

h2 {
	font-weight: 600;
}

.wrapper {
	font-size: 24px;
	margin-top: 50px;
}

.middle-left {
	width: 45%;
	display: inline-block;

}

.middle-right {
	width: 45%;
	display: inline-block;
}

.middle-img {
	width: 100%;
	margin: 50px 0px;

}
.wrapper p {
	font-size: 20px;
}

.bottom {
font-size: 24px;
display: inline-block;
width: 30%;
}

.service {
	width: 200%;
	margin: 50px 40px;
	
}

.item-container{
	width: 75%;
	display: flex;
	flex-direction: row;

}



.item {
	height: 350px;
	width: 25%;
	border: 1px solid black;
	background: #e6e3e3;
	color: black;
	display: flex;
	flex-direction: column;

}



.buttons {
	background: white;
	border:2px solid black;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	padding: 0px 0px;
	margin-top: -30px;
	float: right;
}
.services-info-img {
	float: right;
}