/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*	display: flex;*/
/*}*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*!* Set every element's box-sizing to border-box *!*/
/** {*/
/*	box-sizing: border-box;*/
/*	!*border: 1px solid red;*!*/


html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 800px;
	height: 1200px;
	margin: 0 auto;
}


h1 {
	font-family: "Pacifico", cursive;
	/*position: relative;*/
	font-size: 48px;
	/*text-align: center;*/
	/*top: 100px;*/
	/*right: 400px;*/
	/*margin-left: 400px;*/
}
h2 {
	text-align: center;
	font-size: 30px;
}
h3 {
	text-align: center;
	font-size: 24px;
}
header {
	display: flex;
	/*height: 35%;*/
	justify-content: space-around;

}

.leftHead{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}
.getStarted {
	font-family: "Russo One", sans-serif;
	font-size: 21px;
	position: initial;
	color: forestgreen;
	/*!*text-align: center;*!*/
	*/*width: 145px;*/
	/*height: 32px;
	border: 3px solid orange;
	border-radius: 15px;
	bottom: 40px;
	left: 35px;
}


.bigPic {
	position: relative;
	top: -175px;
	left: 400px;

	 */
.logo {
	background-image: url("../img/logo.png");
	background-size: auto;
	background-repeat: no-repeat;
	width: 200px;
	height: 40px;
	background-position-x: center;
}

.logo:hover {
	background-image: url("../img/logo1.png");
	background-size: auto;
	background-repeat: no-repeat;
	width: 200px;
	height: 40px;
	background-position-x: center;
}
.Head img {
	/*display: flex;*/
	width: 100%;
}
.navigation {
	/*flex-grow: 1;*/
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

nav {
	width: 70%;
	display:flex;
	justify-content: space-between;
	position: relative;
	top: 10px;
}

nav a {
	font-family: "Josefin Sans", sans-serif;
	font-size: 20px;
	/*text-align: center;*/
	/*display: inline;*/
	/*border: 1px solid orange;*/
	/*border-radius: 20px;*/
	/*width: 60%;*/
	text-align: center;
	/*display: flex;*/
	/*justify-content: space-evenly;*/
	/*	!*padding-right: 15px;*!*/
	/*	!*padding-left: 12px;*!*/
	/*	!*padding-top: 3px;*!*/
}

.middleImg{
	display: flex;
	justify-content: space-around;
}
.middle-img {
	/*position: relative;*/
	width: 90%;
	/*left: 41px;*/
	/*bottom: 10px;*/
}

.topStuff{
	display: flex;
	justify-content: center;
}
/*.Features {*/
/*	display: inline-block;*/
/*	width: 50%;*/
/*	position: relative;*/
/*	height: 200px;*/
/*}*/
/*.About {*/
/*	display: inline-block;*/
/*	width: 400px;*/
/*	position: absolute;*/
/*	height: 200px;*/
/*}*/

.botStuff{
	display: flex;
}
/*.Services {*/
/*	display: inline-block;*/
/*	width: 33%;*/
/*	position: relative;*/
/*	height: 230px;*/
/*}*/
/*.Product {*/
/*	display: inline-block;*/
/*	width: 33%;*/
/*	position: relative;*/
/*	height: 230px;*/
/*}*/
/*.Vision {*/
/*	display: inline-block;*/
/*	width: 268px;*/
/*	position: absolute;*/
/*	height: 230px;*/
/*}*/

.bottom {
	display: flex;
	width: 100%;
}

.leftBottom {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.leftBottom h3 {
	position: relative;
	right: 25px;
	top: 10px;
}
.leftBottom h5 {
	font-size: 10px;
	width: 90%;
}

.Contact{
	display: flex;
	width: 100%;
	flex-direction: column;

}
address a{
	font-size: 12px;
	display: flex;
	justify-content: space-around;
	/*display: inline;*/
	/*position: relative;*/
	/*padding-left: 70px;*/
	/*padding-right: 60px;*/
	/*bottom: 15px;*/

}
h4 {
	font-family: "Monospaced", serif;
	font-size: 10px;
	text-align: center;
}

p {
	font-family: "Shadows Into Light", serif;
	font-size: 22px;
	/*position: relative;*/
	width: 90%;
	text-align: center;
	/*left: 20px;*/
}
p:hover {
	transform: scale(1.2);
}

.termsBox{
	position: relative;
	width: 500px;
	height: 500px;
	overflow: scroll;
	left: 155px;
}
.termsBox h1 {
	font-family: "Bangers", serif;
	font-size: 18px;
}
h6 {
	font-family: "Shadows Into Light", serif;
	font-size: 20px;
	/*position: relative;*/
	width: 85%;
	text-align: center;
	/*left: 20px;*/
}
h6:hover {
	transform: scale(1.2);
}

h5 {
	font-family: "Shadows Into Light", serif;
	font-size: 14px;
	width: 100%;
	text-align: center;
}
h5:hover {
	transform: scale(1.2);
}

.things {
	position: relative;
	left: 100px;
	bottom: 50px;
}
.botServPic img {
	position: relative;
	width: 360px;
	height: 240px;
}
.termsCheck {
	display: flex;
	justify-content: space-evenly;
}

.yesorno{
	display: flex;
	width: 200px;
	height: 100px;
	position: relative;
	left: 300px;
}
.yesorno h1 {
	font-family: "Times New Roman", serif;
	font-size: 15px;
	text-align: center;
}

.Agree {
	font-family: "Russo One", sans-serif;
	font-size: 21px;

	color: forestgreen;
}
.Decline {
	font-family: "Russo One", sans-serif;
	font-size: 21px;

	color: red;
}

.Sorry {
	font-family: "Russo One", sans-serif;
	font-size: 21px;

	color: forestgreen;
	display: block;
	position: relative;
	left: 350px;
}

/*.end {*/
/*	display: absolute;*/

/*}*/

