/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  padding: 10px;
}

a {
  color: gray;
  text-decoration: none;
  margin-right: 5%;
}
a:hover {
  text-decoration: underline;
}

.head {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 90%;
}

.head.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-self: center;
  text-align: center;
}

.head.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: right;
  align-self: right;
  margin-left: auto;
  align-items: right;
}

.top {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 30px;
}

.top.left {
  justify-content: flex-end;
  align-self: center;
  flex-direction: column;
  font-size: 60pt;
  align-content: left;
  text-align: center;
}

.top.right {
  justify-content: flex-end;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.button {
  background-color: white; /* Green */
  border-color: black;
  color: black;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-decoration: none;
  display: flex;
  font-size: 18px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 20px;
}
.info.features {
  justify-content: flex-start;
  align-self: left;
  flex-direction: column;
  align-content: left;
  text-align: left;
  align-items: left;
}
.info.about {
  justify-content: flex-end;
  align-self: right;
  flex-direction: column;
  align-content: left;
  text-align: left;
  align-items: left;
}

.info2 {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 20px;
}
.info2.services {
  justify-content: flex-start;
  align-self: left;
  flex-direction: column;
  align-content: left;
  text-align: left;
  align-items: left;
}
.info2.product {
  justify-content: center;
  align-self: left;
  flex-direction: column;
  align-content: left;
  text-align: left;
  align-items: left;
}
.info2.vision {
  justify-content: flex-end;
  align-self: left;
  flex-direction: column;
  align-content: left;
  text-align: left;
  align-items: left;
}

.middleImg {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 90%;
  padding: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: left;
  align-content: left;
  width: 90%;
  padding: 20px;
}
.copyright {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 90%;
  padding: 20px;
}

.hr {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-block-start: auto;
  margin-block-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  height: 3px;
}

/* Services Styles */
.service.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  align-self: center;
  flex-flow:row wrap;
  margin-left: 5%;
}

.service.head {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  margin-bottom: 1%;
  width: 80%;
  margin-left: 5%; 
}

.service.head.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: right;
  font-size: 20pt;
  align-content: right;
  text-align: right;
}

.service.head.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: right;
  align-self: right;
}

img {max-width:80%;}

.service.image {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 5%; 
}

.service.note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: left;
  align-self: left;
  text-align: left;
  width: 80%;
  margin-left: 5%; 
  margin-top: 2%;
  font-size: 15pt;
}

.cards.column {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 1%;
}

.cards.column1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3%; 
  margin-top: 2%; 
}

.cards.column2 {
  border: 1px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 40%;
  margin-left: 20px;
  padding: 2%;
  border-radius: 6px;
  background-color: lightgrey;
}

.learn {
  background-color: white; /* Green */
  border-color: black;
  color: black;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin-top: 8px;
  border-radius: 6px;
  padding: 10px;
}

.footcolumn {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 3%; 
  margin-top: 2%; 
  flex-grow: 1;
  margin-bottom: 10px;
}

.footcolumn.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: right;
  align-content: right;
}

.footcolumn.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: left;
  font-size: 14pt;
  align-content: left;
  text-align: left;
  width: 30%;
}