/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Nav bar */
header {
  display: flex;
  width: 900px;
  margin: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  vertical-align: top;
}

header nav a {
  color: #808080;
  font-size: 16px;
  font-family: 'times new roman';
  margin: 25px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
}

/* index.html */
.main-sec {
  display: flex;
  width: 900px;
  margin: auto;
}

.main-sec .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 80px;
  text-align: center;
}

h1 {
  width: 320px;
  font-size: 70px;
}

button {
  background-color: white;
  display: inline-block;
  font-size: 18px;
  width: 175px;
  height: 40px;
  border: 1px solid black;
  margin-top: 20px;
}

button:hover {
  color: white;
  cursor: pointer;
}

.main-img {
  margin-top: 35px;
  margin-bottom: 25px;
}

hr {
  width: 900px;
  margin: auto;
}

.top-info {
  display: flex;
  width: 900px;
  margin: auto;
}

.col-2 {
  width: 425px;
  margin: 35px 10px;
}

.mid-img {
  display: flex;
  width: 900px;
  margin: auto;
}

.btm-info {
  display: flex;
  width: 900px;
  margin: auto;
}

.col-3 {
  width: 280px;
  margin: 35px 8px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

.contact {
  padding: 18px 5px;
}

.copr {
  text-align: center;
  font-size: 14px;
}

/* services.html */
.services {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

.services-header-img {
  /* border: 1px solid red; */
}

.services-cta {
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

h2 {
  font-size: 28px;
}

.services-cta p {
  text-align: justify;
}

.services-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 900px;
  margin: auto;
}

.info-cta {
  border: 1px solid black;
  width: 400px;
  margin: 28px 0;
  padding: 15px;
  line-height: 18px;
}

.btn-info {
  background-color: #EFEFEF;
  width: 100px;
  font-size: 12px;
}

.btn-info:hover {
  color: grey;
}