/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
	

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* header */

header nav {
  display: flex;
  flex-direction: row;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
  flex-shrink: 10%;
  }

header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}



header .logo {
  margin: 25px;
  margin-left: 700px;
  margin-top: -25px;
}

/* or header {
  display: flex;
}

/* cta */
.cta {
  display: flex;
}


.cta .cta-text {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 60px;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: flex;
  margin-top: 69px;
}



.main-content {
	border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
 
}

.main-content .top-content {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  margin: 10px;
}

.main-content .top-content .text-content {
  width: 410px;

  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
  display: flex;
  align-items: center
  
  
}

.main-content .bottom-content {
  display: flex;
  margin-top: 37px;
  padding: 0 10px;
  
}

.main-content .bottom-content .text-content {
  width: 275px;
  margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {	display:flex;
  flex-direction: column;
	margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer p {
  text-align: center;
  margin: 32px 0;
  font-size: 14px;
}

.container2 {
  width: 880px;
  /* TB LR */
  margin: 0 auto;

}

.services {
  display:flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;

}

.learn {
  margin: 25px;
}

.services p {
  margin-bottom: 25px;
}

.services h2 {
  font-size: 24px;
  margin-top: 25px;
}

 .design {
  margin-top: 25px;
  border: 1px solid black;
  width: 400px;
  background-color: lightslategray

}

.design p {
  margin-left: 25px;
  margin-right: 25px;
}

.design h3 {
  margin-top: 25px;
  margin-left: 25px;

}

.middle{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
  margin-bottom: 50px;
}


.last h3 {
  margin-top: 25px;

}

.last p {
  width: 400px;
  margin-bottom: 25px
}

.copy {
  text-align: center;
vertical-align: bottom;
margin-top: 200px;
margin-bottom: 25px;
}

.last li {
  vertical-align: top;
}

.services-info-img {
 float: right;
 flex-shrink: 10%;

}

.list {
  display:flex; 
  flex-direction: column;
  justify-content: space-between;
}