/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    margin: 40px;
}
body {
    margin: 0 auto;
}

.container {
    margin-left: 120px;
    /* flex-basis: 1000px;
    justify-content: flex-start; */
}

header nav {
    display: flex;
}

header nav a {
    margin: 10px;
    padding: 30px;
    text-decoration: none;
    color: gray;
    align-self: center;
}

header nav .logo {
    align-self: center;

}

.first-section{
    display: flex;
    margin-left: 30px;
    padding: 20px;
    /* align-self: center; */
    width: 100%;
}
.first-section .column{
    justify-content: space-between;
    width: 330px;
    box-sizing: border-box;
    margin-left: 80px;
}
.first-row{
    padding: 10px;
}
.firstrow-left-column{
    padding: 10px;
}
h1{
        font-size: 60px;
        top: 0;
    }
.get-start{
    text-align: center;
    width: 140px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.second-section{
    width: 920px;
    margin-left: 60px;
}

.second-section .first-row{
    display: flex;
}
.middle-img{
    margin-left: 20px;
}
.third-section{
    display: flex;
    padding: 40px;
    margin-left: -20px;
}
footer{
    margin-left: 80px;
}
.copyright{
    margin-left: 313px;
    padding: 40px;

}