/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

header nav a, header img {
    margin: 20px 50px;
    padding: 10px;
    /* border: 1px solid red; */
}

.button {
	background-color: white;
	border-radius: 5px;
	color: gray;
	padding: 10px;
	text-decoration: none;
}

.design-catchphrase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.catchphrase {
    text-align: center;
}

.catchphrase h1 {
    margin: 20px;
    font-size: 60px;
    text-transform: uppercase;
}

.get-started-button {
    margin: 50px;
    
    background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	color: gray;
	padding: 5px 20px;
	text-decoration: none;
}

.feature-about-descriptions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top-color: black;
}

.services-product-vision-description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-bottom-color: solid black;
}

.link-descriptions h2 {
    font-size: 20px;
    padding:10px;
}

.link-descriptions section {
    padding: 20px;
}

.middle-img, .services-header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

.link-descriptions {
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
    margin: 70px 30px 20px 30px;
}

footer {
	padding: 30px;
}

.copyright {
	text-align: center;
	margin: 10px 10px 50px 10px;
}

/*most of the service pg css*/

.service-description h1 {
    font-size: 80px;
}

.services-description {
    margin: 25px;
}

.services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 40px 20px 40px 20px;
}

.services section p {
    margin 10px 10px 40px 10px;
}

.services section a {
    margin: 10px;
    background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	color: gray;
	padding: 5px 20px;
	text-decoration: none;
}

.digital-design, .ui-ux, .digital-marketing, .web-development, .ios-development, .android-development {
    margin: 20px;
    padding: 20px;
    width: 45%;
    background-color: lightgray;
    height: 200px;
}

.digital-design, .digital-marketing, .ios-development {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.ui-ux, .web-development, .android-development {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style-type: circle;
    margin: 20px;
}

footer p {
    margin: 10px;
}