/* *{
	 border: 2px red solid !important; 
} */
body{
	padding: 5%;
}
h1, h2{
	font-family: 'Bangers', cursive;
	letter-spacing: 0.2vh;
}
p, li{
	font-size: 20px;
	font-family: 'Staatliches', cursive;	
	/* font-family: 'Titillium Web'; */
}
/* Header */

a{
	color:lightgrey;
	text-decoration: none;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.title-div{
    margin: 45px;
    display: flex;
    justify-content: space-around;
}
.title{
    display: flex;
    flex-direction: column;
    width: 42%;
    text-align: center;
}
.header-img{
	width: 38%;
}
.title h1 {
	font-size: 100px;
	text-align: center;
}
.title-div h3{
	width: 25%;
	text-align: center;
	border: 1px gray solid;
	font-size: 20px;
    padding: 1%;
	align-self: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Text Area */

h2{
	justify-self: flex-start;
	font-size: 30px;
	margin: 5% 0;
}

.text-area{
	border-top: 2px gray solid;
	border-bottom: 2px gray solid;
	display: flex;
	flex-wrap: wrap;
}
.textOne{
	margin: 15px 0 30px;
	display: flex;
	justify-content: flex-start;
}
.about{
	margin-left: 15%;
}
.middle-img{
	width: 100%;
}
.textTwo{
	padding-bottom: 25px;
	display: flex;
	justify-content: flex-start;
}
.product{
	margin-left: 5%;
}
.vision{
	margin-left: 5%;
}
.copyright{
	margin-top: 20px;
	text-align: center;
}

/* Services Starts here */
.services-header-img{
	width: 100%;
	margin: 3% 0;
}
.box{
	height: 28%;
	width: 46.5%;
	border: 2px solid black;
	background-color: lightgrey;
	box-sizing: border-box;
	padding: 2%;
	display: flex;
	flex-wrap: wrap;
}
.text-srv{
	padding-top: 5%;
	height: 1400px;
	justify-content: space-between;
}
.learn{
	width: 35%;
	border: 1px black solid;
	text-align: center;
	padding: 1.5%;
	background-color: white;
}
.bigFacts{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 4% 0;
}
.facts{
	width: 47%;
	display: flex;
	flex-wrap: wrap;
}
.services-info-img{
	width: 47%;
}

/* Product starts here */
.contact-div{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.code-banner{
	width: 100%;
	margin: 3% 0;
}
.contact-img{
	width: 45%;
}
.prod-text{
	display: flex;
	justify-content: space-around;
	margin: 4% 0;
}
.prod-text .box{
	width: 40%;
}
.prods{
	border-top: 2px gray solid;
	border-bottom: 2px gray solid;
	margin: 3%;
}
















