/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body .toppage nav a {
	color: grey;
	text-decoration: none;
	margin-right: 50px;
}

.toppage {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

#centered {
	display: flex;
	justify-content: center;
}

.middle6 {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	border: 1px solid grey;
	margin: 20px;
	justify-content: space-between;
	padding: 20px;
	background-color: #ECEBEB;
}

button {
	margin-top: 20px;
	background-color: white;
	border: 1px solid grey;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	
}

#mids {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.container-services {
	width: 880px;
	margin: 0 auto;
}

.servicefacts {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	flex-direction: column;
	margin-left: 20px;
}

.bottom3 {
	display: flex;
	justify-content: center;
}

.thelist li {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	list-style-type: circle;
}

.thelist {
	margin-top: 20px;
	
}

.servicefacts h3 {
	margin: 0px;
display: flex;
height: 25px;
margin-top: 40px;
}

.spacee {
	margin-right: 25px;
}

.bottom {
	display: flex;
	justify-content: center;
	margin-top: 70px;
	margin-bottom: 30px;
}

.h20 {
	font-size: 20px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

