/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* Set every element's box-sizing to border-box 
* {
	box-sizing: border-box;
	border: 1px solid black;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*
body{
	width:100%;
	text-align:center;
	line-height:1.5;
	Border: 25px solid white;
}

	/*styling for the Header*/

/*

header{
	display:flex;
	margin-bottom:5%;
	
}
.logo{
	display: flex;
	width: 10%;
	justify-content: flex-end;
}
nav{
	font-size: 22px;
	display: flex;
	width: 70%;
	justify-content:center;
	
	
}
nav span{
	display: flex;
	width: 16%;
	align-items: center;
	
	

}
.image1{
	display: flex;
	justify-content:flex-end;
}
/*

/*End of Heading styling*/
/*start of styling for section1*/

/*
h1{
	display: flex;
	font-size:550%;
	width: 50%;
}
.section1{
	display: flex;
	justify-content:space-evenly;
}

*/


/*end of section1 styling*/
/*top-container syling*/


/*
.top-container {
	display:flex;
	width: 100%;
	margin-top:5%;	
}
.about, .feature{
	justify-content: space-evenly;
}
h2{
	display:flex;
}



.middle-img{
	display: flex; 
	width: 100%;
	position: center;
	padding: 5% 0;
	
	*/
}
/*Bottom-container styling*/

/*
.services, .product, .vision {
	display: flex;
	width: 33%;
	text-align: justify;
	padding-top: 5%;
	flex-direction:column;
}
.services, .product{
	padding-right: 3%;
}
.bottom-container{
	display:flex;
	border-top: 1px solid black;
	margin-bottom:5%;
	
}


.contacts{
	text-align: justify;
	padding-top: 4%;
	line-height: 2;
	border-top: 1px solid black;	
}


footer{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom:3%;
*/
}
/*end of page 1*/



/*start of page 2*/
/*nav styling*/
*{
	border:1px solid black;
}
.links{
	display:flex;
	justify-content: space-between;

}


