/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
html.html-container{
/* border: 2px solid purple; */
box-sizing: border-box;
margin: 30px;
}
/* ----------------Top of page--------------------- */
div.top-page-container{
	/* border: 5px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
div.top-page-container section.top-page-item{
	/* border: 1px solid black; */
	flex-grow:1;
}
div.top-page-container section.top-page-item nav a{
	color: grey;
	text-decoration: none;
	margin-left: 10px;
	font-size: 25px;
}

/* ------------------header------------------------ */
header.header-container{
	/* border: 1px solid red; */
	border-bottom: 2px solid black;
	display:flex;
	justify-content: space-evenly;
}
header.header-container section.header-item{
	margin-top: 20px;
	font-size: 70px;	
	color: black;	
	/* border: 1px solid black; */
	
}

/*----------------Body top--------------------------*/
div.top-body-container{
	display:flex;
	/* border: 1px solid red; */
	justify-content: space-evenly;
}

div.top-body-container section.top-body-item{
	margin-top: 30px;
	margin-right: 20px;
}
section.top-body-img{
	display: flex;
	justify-content: center;
	margin: 30px 0 30px 0;

}
/*---------------Body bottom------------------------*/
div.bottom-body-container{
	display: flex;
	/* border: 1px solid red; */
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}
div.bottom-body-container section.bottom-body-item{

}
/*------------footer and contact------------------- */
footer{
	margin-top: 20px;
	margin-bottom: 60px;
	text-align: center;
}

/* ------------------------------------------ */
/* ------------------------------------------ */

body.services-container{
	box-sizing: border-box;
	margin: 30px 50px;
}
/*-------------services.html nav bar-------------*/
div.nav-container{
	/* border: 4px solid red; */
	display: flex;
}
div.nav-container section.nav-item{
	flex-grow:1;
	justify-content:space-evenly;
	margin-right: 20px;

}
div.nav-container section.nav-item nav a{
	color: grey;
	text-decoration: none;
	font-size: 25px;
	margin-right: 20px;
}
/*-------------services.html header-------------*/
header div.header-container{
	display: flex;
	/* border: 2px solid red; */
	flex-wrap: wrap;
	border-bottom: 2px solid black;
	justify-content: center;
}
header div.header-container section.header-item{
/* border: 1px solid black; */
margin: 15px 0;
}
/*-------------services.html main-------------*/
div.main-container{
	/* border: 2px solid red; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}
div.main-container section.main-item{
	margin: 20px 0 20px 0;
	padding: 20px;
	background: WhiteSmoke ;
	border: 1px solid black;
}
/*-------------services.html bottom-------------*/
div.bottom-container{
	/* border: 2px solid red; */
	display: flex;
	justify-content: space-between;
}
div.bottom-container section.bottom-item{
	padding: 20px;
	/* border: 1px solid black; */
}