/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: square;
	list-style-position: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.container {
	width: 880px;
	margin: 0 auto;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}

header nav a {
	text-decoration: none;
	color: gray;
	font-size: 14px
}

header nav a:hover {
	font-size: 17px;
	transition: 200ms;
	text-decoration: underline;
}

.cta {
	display: flex;
	justify-content: space-evenly;
}

.cta-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 77px;
	text-align: center;
	align-items: center;
	margin-top: 95px;
}

.cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.cta-text button:hover {
	background-color: black;
	color: white;
	transition: 400ms;
}

.cta img {
	margin-top: 69px;
}

.main-top-content {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	padding: 40px 0;
	margin-top: 40px;
}

.bottom-content {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 40px 0;
	margin-top: 40px;
	
}
.bottom-content .middle-text-content{
	padding: 0px 5px;
}

.contact div {
	padding: 20px 0 0 ;
}

.contact p {
	padding-bottom: 14px;
}

footer {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}