/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.container {
	width: 900px;
	margin: 0 auto;

}
 header nav {
	display: flex;
	position: relative;
	background-color: #F5F5F5;
	padding-bottom: 20px;
	opacity: 0.9;
	border-radius: 10px;
	width: 900px;
}
header nav a {
	font-family: 'Permanent Marker', cursive;
	text-decoration: none;
	font-size: 15px;
	color: black;
  margin-left: 50px;
	padding-top: 40px;
}
header nav a:hover {
	text-decoration: underline;
	color: orange;
	transition: 0.5s;
}
header nav img {
	margin-left: 70px;
	margin-top: 20px;
	padding: 0 10px;
}
.main-tag {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;

}
.tag-line {
	text-align: center;
	font-size: 60px;
	padding-top: 30px;
}

.top-image {
	width: 250px;
  margin-top: -20px;
}
.button {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
	border: 1px solid black;
	cursor: pointer;
	padding: 6px 30px;
	background-color: white;
	margin-bottom: 85px;
	border-radius: 5px;
}
.button:hover {
	text-decoration: underline;
	opacity: 0.7;
	transition: 0.5s;
	text-shadow: 2px 2px orange;
}
.main-content {
	width: 100%;
	border-top: 1px solid black;
}
.wrap-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}
.features {
	width: 40%;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 30px;
}
.about {
	width: 40%;
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 30px;
}
.middle-img {
	margin-left: 15px;
	border-radius: 10px;
}
.services {
	width: 30%;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.product {
	width: 30%;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.vision {
	width: 30%;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.main-contact {
	border-top: 1px solid black;
	margin-left: 20px;
}
.contact {
	margin-top: 30px;
}
address {
	margin-bottom: 20px;
}
.contact p {
	margin-top: 20px;
}
footer {
	text-align: center;
	margin-top: 30px;
	font-size: 15px;
	padding-bottom: 50px;
}
.top {
	margin-top: 105px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
	}
	.services-content {
		width: 100%;
		padding: 5px 60px;
		text-decoration: none;
	}
.flex-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	border: 2px solid black;
	margin-bottom: 35px;
	padding-bottom: 30px;
	margin-top: 0px;
}
.box {
	border: 1px double black;
	background-color: lightgray;
	padding: 15px;
	height: 220px;
	width: 370px;
	margin: 15px;
}
.button {
	margin-top: 10px;
	height: 20%;
	width: 40%;
	border-radius: 10px;
	border: 2px solid black;
	font-size: 12px;
}
.services-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px 60px;
}
.half-section {
	padding: 15px;
	height: 270px;
	width: 400px;
	margin: 15px;

}
.list {
	list-style-type: square;
    line-height: 1.5;
    padding-left: 20px;
}
.services-info-img {
	width: 100%;
	height: 100%;
}
.copyright {
	text-align: center;
}
