/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	margin-left: 8%;
	margin-right: 8%;
}

.navbar{
	height: 50px;
	width: 90%;
	margin-top: 30px;
	align-items: baseline;
}

nav{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.logo{
	display: flex;
}

a{
	text-decoration: none; 
	color: lightgray;
	width: 50px;
	height: 50px;
	
}

a:hover{
	border-top: 2px solid dodgerblue;
}

header{
	display: flex;
	justify-items: center;
	width:100%;
	text-align: center;
	margin-top: 50px;
	border-bottom: 1px solid black;
}

.header-image {
	width:49%;
	justify-items: center;
	margin-top: 30px;
}

.text{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-bottom:75px;
}

.slogan {
	font-size: 6em;
	margin-top: 15px;
}

button{
	background: white;
	border: 1px solid black;
	font-size: 1em;
	margin: 20px 200px;
}

h3{
	font-size: 1.3em;
}

.top-content{
	display: flex;
	line-height: 1.5;
	margin-left: 1%;
	width: 100%;
	margin-bottom: 20px;
}

.services{
	width: 47%;
}

.about{
	width: 47%;
	padding-left: 2%;
}

.bottom-content{
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	line-height: 1.5;
	width: 100%;
}

.product{
	width: 30%;
	padding-right: 3%;
}

.features{
	width: 30%;
	padding-right: 3%;
}

.vision{
	width:30%;
}

.middle-img{
	width: 100%;
	height: 12%;
}

.contact{
	line-height: 1.3;
	margin-top: 30px;
}

.copyright {
	width: 100%;
	text-align: center;
	padding: 50px;
}

/*Services page*/
.servicePageHeader{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
	text-align: left;
}

.services-header-img{
	display: flex;
	width: 100%;
	padding-bottom: 20px;
}

.container{
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid black;
	margin-top: 10px;
	padding-bottom: 10px;
}


.box{
	width: 45%;
	border: 1px solid black;
	background: #DCDCDC;
	margin: 10px 0;
	padding: 10px;
}

.box:nth-of-type(odd){
	margin-right: 80px;
	margin-left: 5px;
}

ul{
	list-style-type: square;
	padding-left: 10px;
	line-height: 1.5;
}

.roundedbutt{
	padding: 5px 20px;
	margin: 5px auto;
	border-radius: 5px;
	font-size: 0.7em;
}

.servicesPageBottom{
	display: flex;
	justify-content: space-between;
}

.bottomfacts, .bottomimg{
	margin: 5px;
}