/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Home Page */

nav {
	margin: 20px;
	padding: 20px;
	display: flex;
	justify-content: center;
	color: white;
	background: #FFF;
}

a {
	text-decoration: none;
	color: gray;
	padding: 30px;
	font-size: 20px;
}

a:hover {
	color: red;
}

h1 {
	font-size: 70px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 1250px;
	height: 350px;

}

.home-button {
	height: 60px;
	width: 200px;
	margin: 30px 300px;
	font-size: 15px;
}

.container2 {
	height: 200px;
	width: 1250px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.description-section {
	height: 150x;
	width: 500px;
	font-size: 20px;
}

.middle-img {
	margin: 15px 200px;
}

.container3 {
	height: 350px;
	width: 1250px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.content-section {
	height: 150px;
	width: 300px;
	font-size: 20px;
}

address {
	font-size: 20px;
	line-height: 1.5;
	margin: 65px;
}

footer {
	font-size: 20px;
	margin: 20px 500px;
}

/* Services Page */

