/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	width: 880px;
	margin: 0px auto;
	/* display: flex; */
  }
  
  /* header */
  header {
	  display: flex;
	  justify-content: space-between;
  }

  header nav {
	display: flex;
	width: 600px;
	justify-content: space-between;
	align-content: flex-start;
	margin-top: 35px;
  }
  
  header nav a {
	/* margin-right: 65px; */
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  header nav a:hover {
	text-decoration: underline;
  }

  header .logo {
	margin-top: 25px;
  }
  
  /* cta */
  .cta {
	  display: flex;
	  justify-content: center;
	  align-items: flex-start;
  }

  
  .cta .cta-text {
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 75px;
  }
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  } 
  
  .cta img {
 	 margin-top: 69px; 
  }

  /* Services-header */
  .services-header-img {
	  margin-top: 20px;
  }
  
  .servicesintro h1 {
	font-size: 30px;
	margin-top: 20px;
  }

  .servicesintro p{
	  line-height: 1.2;
  }

  .main-content {
	border-top: 1px solid black;
	margin-top: 50px;
	padding-top: 39px;
  }
  
  .main-content .top-content {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-content: space-around; 
	flex-wrap: wrap;
  }
  
  .main-content .top-content .text-content {
	width: 410px;
	margin-right: 34px;
  }
  
  .main-content .top-content .text-content:last-child {
	margin-right: 0;
  }
  /* Services boxes */
  .main-content .top-content .servbox {
	width: 410px;
	background-color: rgb(230, 228, 228);
	border: 1px solid black;
	padding: 20px 10px;  
	margin-bottom: 20px;
  }

  .main-content .top-content .servbox button {
	background: white;
	vertical-align: top;
	margin-top: 15px;
	padding: 8px 40px;
	font-size: 10px;
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
  }

  .main-content .middle-img {
	margin-top: 45px;
  }
  
  .main-content .bottom-content {
	margin-top: 37px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
  }
  
  .main-content .bottom-content .text-content {
	width: 275px;
	margin-right: 12px;
  }
  
  .main-content .bottom-content .text-content:last-child {
	margin-right: 0;
  }
  
  .contact {
	margin-top: 30px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
  }
  .contact .info{
	  width: 410px;
  }
  .contact .info ul{
	  line-height: 1.5;
	  list-style-type: square;
	  padding-left: 20px;
  }
  .contact p {
	margin: 20px 0;
  }

  /* Facts and info */
  .facts {
	margin-top: 30px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
	display: flex;
	justify-content: space-between;
  }
  .facts .info{
	  width: 410px;
  }
  .facts .info ul{
	  line-height: 1.5;
	  list-style-type: square;
	  padding-left: 20px;
  }
  .facts p {
	margin: 20px 0;
  }

  /* Footer starts here */
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
  }