/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* index.html */
	.container {
		width: 878px;
		margin: auto;
	}
	/* header */
		header {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			height: 100%;
			justify-content: space-around;
			margin-top: 20px;
		}
		header nav {
			display: flex;
			align-items: flex-start;
			flex-wrap: nowrap;
			height: 100%;
		}

		header nav a {
			color: gray;
			text-decoration: none;
			margin: 0 20px;
		}

		header img.logo {
			margin-left: 50px;
		}
	/* /header */

	/* cta */
		.cta {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: center;
			margin-bottom: 50px;
		}
		.cta-text {
			display: flex;
			font-size: 70px;
			text-align: center;
			vertical-align: top;
			padding: 55px;
			margin-left: 25px;
			margin-top: 30px;
			flex-direction: column;
			align-items: center;
		}
		.cta-text button {
			font-size: 12px;
			background: none;
			box-shadow: none;
			border-radius: 1px;
			width: 120px;
			height: 25px;
		}
		.circle-code {
			display: flex;
			vertical-align: top;
			margin-left: 50px;
			margin-top: 45px;
		}
	/* cta */

	/* main-content */
		div.top-content {
			display: flex;
			flex-flow: row nowrap;
			align-content: flex-start;
			justify-content: space-between;
			padding: 20px 0px 20px 0px;
		}
		div.top-content div.text-content-a {
			width: 49%;
		}
		div.top-content div.text-content-b {
			width: 49%;
		}

	 	img.middle-img {
			width: 100%;
			display: flex;
		}

		div.bottom-content{
			display: flex;
			flex-flow: row nowrap;
			align-content: flex-start;
			justify-content: space-between;
			padding: 20px 0px 20px 0px;
			/* border: 1px solid green;*/
		}
		div.bottom-content div.text-content-0 {
			width: 32%;
		}
		div.bottom-content div.text-content-1 {
			width: 32%;
		}
		div.bottom-content div.text-content-2 {
			width: 32%;;
		}
	/* main-content */

	/* contact */
		.contact {
			line-height: 1.6;
		}
	/* contact */

	/* footer */
		footer {
			text-align: center;
			font-size: 12px;
			margin-bottom: 80px;
		}
	/* footer */
/* index.html */

/* services.html */
