/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 900px;
	margin:  0 auto; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

header {
	margin: 20px;
	padding: 20px;
	display: flex; 
	width: 800px;
	justify-content: space-between;
}

header nav {
	display: flex;
	width: 500px;
	justify-content: space-between;
}

nav a {
	font-size: 13px;
	color: lightgray;
}

.abc {
	display: flex;
	width: 900px;
	margin: 20px;
	justify-content: space-between;
}


.abc img {	
	width: 330px;
	height: 330px;
	margin-right: 40px;
} 

.abc-text {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding: 40px;
	width: 400px;
}

button {
	border: 2px solid grey;
	font-size: 15px;
	width: 120px;
	margin-left: 100px;
}

.abc h1 {
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
}

h1 {
	font-size: 50px;
	text-align: center;

}

.main-content .middle-img {
	width: 850px;
	height: 150px;
	margin-left: 15px;
}

.main-content .top-content {
	display: flex;
	flex-direction: row;
	border-top: 2px solid lightgrey;
	margin-left: 20px;
}

.main-content .bottom-content {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid lightgrey;	
	padding: 20px;
}

.main-content h4 {
	font-size: 14px;
	margin: 15px 0;
	
}
.main-content p {
	margin-bottom: 20px;
}

.contact h4 {
	margin: 15px 0;

}

.contact {
	margin: 10px 0px 40px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.contact .phone {
	margin: 10px 0;
} 

footer {
	display: flex;
	align-items: flex-end;
	margin-left: 200px;
}
/* //// services.html//// */

.container {
	width: 900px;
	margin:  0 auto; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 	
}

.services {
	display: flex;
	width: 880px;
	border-bottom: 2px solid black;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 36px;
	padding-top: 30px;
	
}

h3 {
	font-size: 25px;
}

.bottom-content p {
	padding: 25px;
}

.bottom-content button {
	height: 30px;
	margin-left: 50 px;
}

.bottom-content h4 {
	padding-top: 20px;
	padding-left: 20px;
}

.bottom-content {
	margin: 20px;
}



.bottom-content .text-content1 {
	display: flex;
	/* border: 5px solid red; */
}

.bottom-content .one-left {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}



.bottom-content .one-right {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}




.bottom-content .text-content2 {
	display: flex;
	/* border: 5px solid red; */
}	

.bottom-content .two-left {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}

.bottom-content .two-right {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}


 .bottom-content .text-content3 {
	display: flex;
	/* border: 5px solid red; */
}	

.bottom-content .three-left {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}

.bottom-content .three-right {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	margin: 10px;
	background-color: #F0F0F0;
	border: 1px solid black;
	height: 250px;
}
 

.facts {
	display: flex;
	margin-top: 20px;
	padding: 30px;
	border-top: 2px solid black;
	padding-right: 0;
}

.facts h4 {
	width: 460px;
}

.facts .bottom-text {
	display: flex;
	flex-direction: column;
}

.facts .bottom-text p {
	width: 420px;
	height: 120px;
	margin-right: 30px;
}


 .facts .list {
	 list-style-type: square
	 /* margin-left: 20px; */
 }

 footer {
	 margin-left: 400px;
 }