/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	width: 900px;
	margin: auto;
}

header {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
}


header nav a {
	margin: 20px;
	text-decoration: none;
	color: gray;
}

.logo {
	align-self: flex-end;
}

.cta {
	display: flex;
	align-items: center;
}

.cta-text {
	font-size: 70px;
	margin: 111px;
	text-align: center;
}

.cta .cta-text button {
	margin-left: 5px;
    border: 1px solid;
    padding: 10px;
    width: 160px;
	font-size: 15px;
	background: white;
}

.main-content {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding-top: 20px;
}

.top-content {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
}

.middle-img {
	display: flex;
	flex-direction: row;
	justify-items: center;
}

.bottom-content {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	padding: 20px;
}

.footer1 {
	text-align: center; 
	margin: 40px;
	font-size: 14px;
}


.top-content .text-content {
	margin: 40px;
}

.contact {
	margin-top: 20px; 
	margin-bottom: 40px;
}
.container2 {
	width: 800px;
	margin: 0 auto;
}

.header2 {
	display: flex;
	justify-content: space-between;
}



.intro-text h1 {
	font-size: 25px;
}

.intro-text {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: solid 1px black;
}

.main-content2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px; 
	
}

.main-content2 .text-content2 {
	flex: 0 0 48%;
	
}

.text-content2 {
	border: solid 1px black;
	padding: 20px;
	background: #f5f5f5;
	margin-top: 30px;
}

.main-content2 .text-content2 button {
	border: 1px solid;
    padding: 10px;
	width: 130px;
	height: 30px;
	font-size: 12px;
	background: white;
	border-radius: 10px;
	margin: 20px;
	text-align: center; 
}

.facts {
	display: flex; 
	border-top: solid 3px black;
	padding-top: 25px;
	padding-bottom: 25px;
}

.facts .facts-text p {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
}

ul {
	list-style-type: square;
	padding-left: 20px;
}

ul li {
	margin: 0 0 10px 0; 
}

.footer2 {
	text-align: center; 
	margin: 20px;
}

img.services-header-img {
    width: 800px;
}

.header2 a {
    margin-top: -1%;
}

.product-header-img {
	width: 800px;
	height: 181.8px;
}