90/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


h1 {
	line-height: 65px;
  }

h2 {
  font-weight: bold;
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  .container {
	width: 1024px;
	min-height: 1px;
	margin: auto;
  }
  
  header {
	margin-top: 27px;
  }
  
  nav {
	display: inline-block;
	margin-left: 58px;
	vertical-align: top;
	margin-top: 10px;
  }
  
  nav a {
	color: rgb(188,188,188);
	font-size: 14px;
  }
  
  #nav-product {
	margin-left: 50px;
  }
  
  #nav-vision {
	margin-left: 50px;
  }
  
  #nav-features {
	margin-left: 50px;
  }
  
  #nav-about {
	margin-left: 50px;
  }
  
  #nav-contact {
	margin-left: 50px;
  }
  
  img#logo {
	margin-left: 120px;
  }
  
  #header-row {
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
	margin-bottom: 65px;
  }
  
  .demand {
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
  text-transform: uppercase;
	text-align: center;
  }
  
  h1 {
	font-size: 80px;
  }
  
  .get-started {
	display: inline-block;
  text-transform: capitalize;
	border: 1px solid black;
	padding: 8px 40px;
	margin-top: 10px;	
  text-align: center;  
  }
  
  main, footer {
	margin-left: 75px;
	margin-right: 75px;
  }
  
 .features, .about, h2, .services, .product, .vision {
	display: inline-block;
	vertical-align: top;
  }
  
  .features {
	width: 420px;
  }
  
  .about {
	width: 420px;
	margin-left: 20px;
  }
  
  .top-section {
	border-top: 1px solid black;
	padding-top: 30px;
  }
  
  .middle-img {
	margin-left: 1px;
  }
  
	.bottom-section {
		display: flex;
		margin-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
  }
  
  .services {
	width: 33%;
  }
  
  .product {
	width: 280px;
	margin-left: 10px;
  }
  
  .vision {
	width: 280px;
	margin-left: 10px;
  }

  .services-header-img{
	display: flex;
	margin-left: 50px;
	justify-content: center;
	padding: 5px;
  }

  .learn-more {
	display: inline-block;
	border-radius: 5px;
	text-transform: capitalize;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	padding: 5px 30px;
  }

  p {
	display: flex;
	flex-flow: wrap;
	vertical-align: top;
	font-size: 14px;
	height: 80px;
  }

	longparagraph{
	display: flex;
	text-align: left;
	font-size: 14px;
	width:  880px;
	height: 50px;
	margin-left: 50px;
	align-items: stretch;
	margin-bottom: 10px;
	padding-bottom: 70px;
	border-bottom: 1px solid black;
}

#middle-section .digital-design, .ux-ui, .digital-marketing, .web-development, .ios-development , .android-development {
	display: flex;
	display: inline-block;
	margin-top: 20px;
	margin-left: 50px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	height: 200px;
	width: 400px;
	background-color: rgb(221, 221, 221);
	border: 1px solid black;
  }

  #fact-section{
	display: flex;
	flex-flow: flex-start;
  }

  shortparagraph {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	font-size: 14px;
	height: 100px;
	width: 400px;
  }

	.list{
	display: flex;
	justify-content: space-around;
	margin-left: -20px;

	}
	
	ul li {
	margin-bottom: 2px;
	width: 200px;
	list-style-type: circle;
  }

  .facts {
		display: flex;
		flex-direction: column;
  }

  copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	font-size: 14px;
	}
	
	h2{
		margin-left: 50px;
	}

	.index-logo {
		margin-left: 150px;
	}
 
	.footer-services {
		display: flex;
		margin-top: 30px;
		margin-left: 50px;
		height: 350px;
		width: 880px;
		border-top: 1px solid black;                                           
	}

	img.services-info-img {
	display: flex;
	justify-content: flex-end;
	margin-left: 50px;
	margin-top: 20px;
	height: 285px;
		}