/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Your code starts here! */
.container {
	margin: 0 auto;
	width: 800px;
	font-size: 20px;
	height: 150%;
}
.top-container {
display: flex;
width: 900px;
margin-bottom: 30px;
padding-top: 20px;
}
nav {
	font-size: 20px;
	justify-content: space-between;
	word-spacing: 60px;
}
nav a {
	justify-content: space-between;
	width: 900px;
}
.logo {
	display: flex;
	justify-content: end;
	margin-left: 18px;
}
.middle-container {
	display: flex;
	width: 130%;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}
.drake {
	margin-top: 15px;
	font-size: 60px;
	width: 20px;
	justify-content: center;
	margin-left: 60px;
	padding-left: 25px;
	padding-top: 30px;
}
.img-id1 { 
justify-items: end;
justify-items: right;
margin-bottom: 15px;
padding-bottom: 20px;
padding-top: 5px;
}
.double-btn {
	display: inline;
}
.btn {
	height: 25px;
	font-size: 20px;
	margin-left: 90px;
	border: 1px solid black;
	width: 80%;
}
.parent-container {
	margin: 0 auto;
	height: 50%;
	margin-top: 20px;
}
.top-content {
	display: flex;
	width: 120%;
	margin-bottom: 15px;
}
.inner-1 {
    line-height: 1.3;
}
.inner-2 {
	justify-content: right;
	justify-content: end;
	margin-left: 80px;
	line-height: 1.3;
	padding-left: 15px;
}
.middle-content {
	display: flex;
	margin-top: 20px;
	width: 130%;
	margin-bottom: 20px;
	
}
.middle-img {
	width: 130%;
}
.outter-1 {
	line-height: 1.3;
	height: 100%;
	padding: 20px;
}
.outter-1 p {
	word-break: inherit;
}
.outter-2 {
    line-height: 1.3;
}
.outter-2 p {
	word-break: inherit;
}
.outter-3 {
	line-height: 1.3;
	margin-bottom: 10px;
}
.outter-3 p {
	word-break: inherit;
}
.content-bottom {
	text-align: center;
	margin-left: 20px;
	margin-top: 30px;
}
.id-1 {
	border-top: 1px solid black;
	width: 130%;
	height: 25%;
}
footer h2 {
	margin-top: 20px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.parent-container-1 {
	margin: 0 auto;
	width: 60%;
	height: 150%;
}
.build {
  /* border-bottom: 1px solid black; */
margin-bottom: 20px;
}
.photo-id {
	display: flex;
}
.img-header {
	margin-left: 70px;
}
.header-top {
	display: flex;
	justify-content: space-between;
	word-spacing: 80px;
	margin-left: 80px;
	width: 800px;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 20px;
}
.bottom-img {
margin-left: 80px;
width: 700px;
}
.services-header-img {
	width: 150%;
}
.header-middle {
width: 90%;;
margin-top: 15px;
margin-left: 72px;
font-size: 20px;
padding: 15px;
line-height: 1.3;

}
	.parent-content {
	margin-left: 90px;
	margin-bottom: 30px;
	display: flex;
	
}
.first-content {
	border: 1px groove silver;
	width: 500px;
	padding: 15px 15px 15px 15px;
	font-size: 20px;
}
.first-content p {
	line-height: 1.4;
	font-size: 18px;
}

.second-content {
	border: 1px groove silver;
	width: 500px;
	margin-left: 75px;
	padding: 15px 15px 15px 15px;
}
.second-content p {
	line-height: 1.4;
	font-size: 18px;
}
.parent2-content {
	display: flex;
	margin-left: 90px;
	margin-bottom: 20px;
}
.third-content {
	border: 1px groove silver;
	width: 500px;
	padding: 15px 15px 15px 15px;
}
.third-content p {
	line-height: 1.4;
	font-size: 18px;
}
.fourth-content {
	border: 1px groove silver;
	width: 500px;
	margin-left: 75px;
	padding: 15px 15px 15px 15px;
}
.fourth-content p {
	line-height: 1.4;
	font-size: 18px;
}
.parent3-content {
	display: flex;
	margin-left: 90px;
	margin-bottom: 20px;
}
.fifth-content {
	border: 1px groove silver;
	width: 500px;
	padding: 15px 15px 15px 15px;
}
.fifth-content p {
	line-height: 1.4;
	font-size: 18px;
}
.six-content {
	border: 1px groove silver;
	width: 500px;
	margin-left: 75px;
	padding: 15px 15px 15px 15px;
}
.six-content p {
	line-height: 1.4;
	font-size: 18px;
}

.bottom-content {
	width: 95%;
	display: flex;
	justify-items: center;
	margin-left: 90px;
}
.inner-content {
	margin-top: 40px;
	width: 400px;
	margin-bottom: 20px;
	word-spacing: 5px;
}
.inner-content p {
	line-height: 1.4;
	font-size: 18px;
}
.footer-img {
	margin-left: 80px;
}
.services-info-img {
	width: 100%;
	margin-left: 80px;
}
.list {
	word-spacing: 5px;
	line-height: 25px;
	width: 30%;
	margin-left: 90px;
	margin-bottom: 25px;
}
.list ol {
	font-size: 18px;
}
.copy {
	text-align: center;
	font-size: 20px;
	margin-left: 18px;
}
button {
	width: 30%;
	height: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: white;
}