/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/** .help {
	border: 1px solid red;
} 

**/ 

body {
margin: 0 auto;
width: 900px;
height: auto;
display: flex;
flex-direction: column; 
justify-content: space-between;
align-items: space-between;


}
/** header **/

header {
width: 100%;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 10px;
margin: 20px;
align-content: space-between;
} 

header nav {
display: flex;
align-items: flex-start;
justify-items: left;
justify-content: space-between;
font-size: 20px;
}

header nav a {
text-decoration: none;
padding: 15px;
}

header img {
height: 50px;
margin-left: 20px;
} 


/** HOME PAGE **/ 

/** top part **/ 

.top-part {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-items: center;
	padding: 10px;
	margin: 10px;
} 


.top-part h1 {
	font-size: 68px; 
	align-content: center;
	text-align: center;


} 

button {
 border: 1px solid black; 
 background-color: white; 
 padding: 10px 30px;
 margin: 10px;
}

.top-part-left-half {
display: flex;
flex-direction: column;
align-items: center;
width: 50%;
margin: 0 30px

} 

.top-part-right-half {
width: 50%;
display: flex;
align-items: center;
} 

.top-part-right-half img {
	width: 60%;
	margin-left: 30px;
	
}

/** main section **/ 

main {

	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 0px;
	margin: 30px 0px;
}

.two-sections{
display: flex;
} 

.features, .about {
width: 49%;
padding: 20px;
}

.middle-img {
padding: 20px 0px;
align-content: center;
}

.three-sections { 
	display: flex;

}
.services, .product, .vision {
width: 33%;
align-items: center; 
padding: 20px;


}

/** contact section **/ 
.contact {
padding: 20px;
}

/** footer **/ 
footer {
display: flex;
align-items: center;
justify-content: center;
}

footer p {
	text-align: center;
	
} 


/** SERVICES PAGE **/  

.services-section {
display: flex;
flex-direction: column;
margin: 20px;
}

.services-section h1 {
	font-size: 24px;
	margin: 20px 0;
} 

/** main section **/ 

.main-section {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px 30px;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.content-box {
	border: 1px solid black;
	background-color: lightgray;
	padding: 20px;
	margin: 20px;
	width: 45%;
	height: auto;
} 

.content-box p {
	margin: 10px 0;
} 

/** bottom section **/ 

.bottom-section {
	display: flex;
	flex-direction: row;
}

.facts {
	display: flex;
	flex-direction: column; 
	align-items: left;

}
.facts h2 {
	font-size: 16px;
}
.facts p {
	margin: 20px 20px 20px 0;
}
.facts ul {
	align-items: left;
	padding: 0 20px;
}
.facts li {
	list-style-type: disc; 
	margin: 10px 0;
}