/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
	max-width: 880px;
	margin:0px auto;
}
.container { display: flex; 
	justify-content: space-evenly; padding: 50px;
}
.para1 { display: flex; flex-direction: row;
	 justify-content: flex-end; width: 800px;
	  border: 1px ; padding: 4px;}
.middle-img{display: inline-block; margin: 50px;}
	  .para2 { display: flex; flex-direction: row; justify-content: flex-end; 
	width: 800px; border: 1px; padding: 4px; margin:15px}

.center{display: inline-block;  
flex-direction: column;
vertical-align: left; text-align: left ; justify-content:left; }
.logo{display: inline-block; flex-direction: row; ;}
.break{border:1px solid gray; margin: 35px;}
.footer {display: flex; flex-direction: column; }