/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, hr {
	line-height: 1;
	margin-left: 20px;
	margin-right: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}
nav a{
	text-decoration:none;
	color:gray;
	vertical-align: center;

}

.logo { 
	 margin-top: -10px; 
}
 
/* ============ second segment================== */
.second{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}

.second img{
	width: 400px;
	height: auto;
}

.second_text{
	text-align: center;
	width: calc((100% - 40px)/2);
	vertical-align: center;
}
.second_text button{
	font-size: 50px;
}
.second_text h1{
	font-size: 100px;
}

/* ============ third segment================== */

.subcontent{
	display:flex;
	flex-direction: row;
}

.about {
width: 49%;
padding: 20px;

}

.features{
width: 49%;
padding: 20px;
}

/* ============ Fourth segment================== */
.second-img{
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);

}

/* ============ Fifth segment================== */
.subsubcontent{
	display: flex;
	flex-direction: row;
}

.services{
	width: 33%;
	padding: 20px;
}
.product{
	width: 33%;
	padding: 20px;
}
.vision{
	width: 33%;
	padding: 20px;
}

/* ============ Sixth segment================== */
.contact{
	width: 33%;
	padding: 20px;
}

/* ============ Seventh segment================== */
footer{
text-align: center;
}


/* =================== Services Page ======== */
.service-container{
	margin-left: 20px;
	margin-right: 20px;
}
.service-header-text{
	margin-top: 20px;
	margin-bottom: 10px;
}
.services-header-img{
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	margin-bottom: 20px;
}

.services-main{
	margin: 20px;
}

.service-item{
	background-color: lightgray;
	width: 48%;
	height: 200px;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid black;
}

.two-column-section{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}
.btn-learn{
    margin-top: 20px;
    width: 130px;
    height: 35px;
    border-radius: 10px; 
    font-size: 100%;
    border: 2px solid black;
    /* text-align: center; */
}
.service-closing-text{
	margin-top:40px;
	width: 48%;
	align-content: center;
}
.services-info-img{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 48%;
}
.hr-with-margin{
	margin-bottom: 20px;
}
ul.square{
	list-style-type: square;
	margin-left: 20px;
}