/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	align-content: flex-start;
	flex-direction: column;
	}

.container .nav-header {
	display: flex;
	}

.container .nav-header nav {
	display: flex;
	justify-content: space-between;
	}

header nav a {
	padding: 15px;
	margin-right: 40px;
	text-decoration: none;
	color: black;
	}

header nav a:hover {
	color: white;
	}

	.container .top-container {
		margin-top: 80px;
	}

.logo{
	width: 150px;
	height: 40px;
	margin: 5px 5px 0 100px;
	background-image: url("../img/logo.png");
	background-size: 150px 40px;
	}

/* Stretch Goal */
.nav-header {
	background: rgb(43, 180, 221);
	position: fixed;
}

.top-container {
	width: 980px;
	margin: 25px 5px;
	border-bottom: 1.2px solid black;
	}
.top-container .left{
	display: flex;
	flex-direction: column;
	padding: 0 50px 0 0;
	height: 400px;
	}

.top-container .right{
	display: flex;
	padding: 0 0 0 50px;
	height: 400px;
	}
.top-container .motto {
	font-size: 90px;
  padding: 10px;
  margin: 25px 10px 0px 90px;
	text-align: center;
	}

.top-container .startbutton {
	text-decoration: none;
	display: inline-block;
	color: black;	
	border: 1px solid black;
	width: 180px;
	height: 30px; 
	text-align: center;
	padding: 5px;
	margin-left: 190px;
	margin-bottom: 50px;
	}

.top-container .startbutton:hover {
	background: lightskyblue;
}

.top-container .codepic {
	height: 350px;
	}

.content .two-cols {
	display: flex;
	}

.content .two-cols header {
	display: flex;
	padding: 30px 10px 30px 0px;
	}

.content .two-cols header article {
	display: flex;
	flex-flow: column nowrap;
	width: 480px;
	}

.content .middle-img {
	width: 975px;
	}

.content .three-cols {
	display: flex;
	border-bottom: 1.2px solid black;
}

.content .three-cols header {
	display: flex;
	justify-content: space-between;
	padding: 30px 10px 30px 0px;
}

.contact h2 {
	margin-top: 30px;
}

.contact p {
	margin: 25px 0px;
}

footer #copyright {
	display: flex;
	margin: 80px 0 50px 0;
	justify-content: center;
	}

/* start services page */
.services {
	width: 975px;
	border-bottom: 1.2px solid black;
}

.services-header-img {
	margin-top: 48px;
	width: 977px;
}

.services h2 {
	margin-top: 25px;
}

.services p {
	margin-bottom: 25px
}

.main-content {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	width: 980px;
	height: auto;
	border-bottom: 1.2px solid black;
	margin-top: 15px;
}

.main-content article {
	display: flex;
	flex-direction: column;
	width: 470px;
	height: 220px;
	padding: 25px;
	margin: 25px 0;
	border: 1px solid gray;
	background-color: #e6f3ff;
}

.main-content article .learn-more {
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	width: 150px;
	margin-top: 15px;
	border: 1px solid black;
	background: whitesmoke;
	display: flex;
	justify-content: center;
}

.main-content article .learn-more:hover {
	background: darkblue;
	color: white;
}

.bottom-content {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}

.bottom-content .bottom-left {
	flex-direction: column;
	align-content: stretch;
	width: 470px;
	height: 336px;
}

.bottom-content .bottom-right .services-info-img {
	margin-right: 25px;
	width: 470px
}

.bottom-content .bottom-left ul li {
	list-style: disc;
	margin: 25px 0 0 20px;
}

p {
	line-height: 1.2em;
}