/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Home page */

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-wrapper {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    margin: 2em auto;
    width: 20%;
}

.box a {
    text-decoration: none;
    color: black;
    opacity: 0.3;
}

#logo {
    opacity: 1;
    animation: none;
}

.box img {
    margin-top: -10px;
}


@keyframes opacityFlash {
    0%      {opacity: 1;}
    25%     {opacity: 0.8;}
    50%     {opacity: 0.6;}
    75%     {opacity: 0.4;}
    100%    {opacity: 0.2;}

}

.nav-wrapper a:hover {
    opacity: 1;
    animation: opacityFlash 1s infinite linear alternate;
    animation-delay: 1s;
}



.header-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxH {
    width: 40%;
    margin: 20px;
    padding: 40px;
}

.boxH h1 {
    font-size: 80px;
    text-align: center;
}


.buttonBox a {
    margin-left: 220px;
    margin-top: 160px;
    border: 1px solid black;
    width: 170px;
    height: 35px;
    padding: 8px 30px;
    position: absolute;
    left: 7%;
    top: 40%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}


header a:hover {
    background-color: grey;
    animation: colorSwitch 2s infinite linear alternate;
    animation-delay: 1s;
}

.top-content {
    display: flex;
    margin-top: 2em;
    border-top: 1px solid black;
    justify-content: space-between;
    letter-spacing: 1.5px;

}

.tcbox {
    margin: 2em auto;
    width: 50%;
    height: 20%;
}

.right {
    margin: 2em auto;
    width: 50%;
    height: 20%;
}

.middle-img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1px;
}

.bottom-c {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;
    justify-content: space-between;
    letter-spacing: 1.5px;
}

.bcbox {
    margin: 0em auto;
    width: 33%;
}

.mbox {
    margin: 0em auto;
    width: 33%;
    height: 20%;
}
 


.contact {
    border-top: 1px solid black;
}

.contact h2 {
    margin-top: 2em;
}

.contact a {
    color: black;
}

footer {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 10em;
}

/*

Services page

----------------------------------------*/

.nav-wrapper2 {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.nav-wrapper2 a:hover {
    opacity: 1;
    animation: opacityFlash 1s infinite linear alternate;
    animation-delay: 1s;
}

 a img {
    margin: 20px 0 0 20px;
}


.services-header-img {
    width: 100%;
}

.serviceheader {
    display: flex;
    margin: 2em auto;
}

.serviceheader h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0.5em;
}

.serviceheader p {
    letter-spacing: 1.5px;
}


.mcWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid black;
    letter-spacing: 1.5px;
    margin-bottom: 3em;
}

.mcbox {
    margin-top: 2em;
    width: 515px;
    height: 260px;
    border: 1px solid black;
    padding: 30px;
    background-color: #f0f0f0;
}


.button  {
    padding: 1em;
    font-size: 12px;
    border: 1px solid black;
    width: 140px;
    margin-top: 2.5em;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
}

@keyframes colorSwitch {
    0%    {background-color: white; color: black;}
    50%    {background-color: grey; color: white; text-transform: uppercase;}
    100%   {background-color: white; color: black;}
}
.button:hover {
    background-color: grey;
    color: white;
    animation: colorSwitch 2s infinite linear alternate;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}



.bcbox2 {
    width: 50%;
    margin-top: 2em;
    width: 515px;
    height: 250px;
    letter-spacing: 1.5px;
}

.list-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.list {
    width: 20%;
    position: absolute;
    top: 248%;
    line-height: 2;
    left: 11%;
    margin-top: 2em;
}



.services-info-img {
    //display: block;
    width: 100%;
    height: 85%;
    margin-top: 2em;
    
} 

.servicesFooter {
    text-align: center;
    margin: 1em;
    padding: 10px;
}

ul {
    list-style-type: square;
}

