/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-family: 'Oswald', sans-serif;
	display:flex;
	flex-direction:column;
	align-items:center;
}

p.copyright {
	border-top: 1px dashed black;
	background:white;
	position:fixed;
	bottom:0;
	z-index:1;

	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content:center;

	font-size:10px;
	width:100%;
	height:43px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

ul {
	list-style-type: circle;
	list-style-position: inside;
}

ul li {
	padding:10px;
}

/* Your code starts here! */

/* FIXED HEADER NAV */
header {
	border-bottom: 1px dashed black;
	background-color:white;
	
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-content:flex-start;
	
	position:fixed;
	/* width:876px; */
	width:100%;
	height:43px;
	z-index:1;

	/* display:none; */
}

header nav {
	/* border:1px solid red; */
	display:flex;
	align-items:center;
	/* width:100%; */
}

header nav a {
	font-family: 'Oswald', sans-serif;
	color:grey;
	text-decoration:none;
	padding:20px;
}
header nav a:hover {
	color:black;
}

.logo {
	/* border:1px solid red; */
	align-self:right;
}

/* MAIN BODY CONTENT */
.container {
	/* border: 1px solid red; */
	display:flex;
	flex-direction:column;
	margin:43px;
	width:876px;
}

/* INDEX CONTENT */
.splash {
	/* border: 3px dashed cyan; */
	border-bottom:1px solid black;
	display:flex;
	justify-content:space-around;
	padding:20px 0 20px 0;
}

div .iod {
	/* border:1px solid red; */
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

@keyframes button {
	0%   {background-color:orange;}
	25%  {border-color:red;}
	50%  {border-color:black;}
	75%  {border-color:yellow;}
	100% {border-color:red;}
  }

.top-content, .bottom-content {
	/* border: 5px double red; */
	display:flex;
	justify-content:space-between;
}

.top-content .features, .top-content .about {
	text-align:left;
	display:flex;
	flex-direction:column;
	padding-top:20px;
}

img.middle-img {
	padding-top:20px;
	padding-bottom:20px;
}

.bottom-content .services, .bottom-content .product, .bottom-content .vision {
	text-align:left;
	display:flex;
	flex-direction:column;
	padding-bottom:20px;
}

footer {
	/* border: 5px double red; */
	border-top:1px solid black;
	display:flex;
	flex-direction:column;
	padding-top:20px;
	padding-bottom:20px;
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	font-size:80px;
	text-align:center;
}

/* SERVICES CONTENT */
.services-top-content {
	/* border:3px solid black; */
	display:flex;
	flex-direction:column;
	text-align:left;
	padding: 20px 0 20px 0;
}

.services-header-img {
	width:100%;
}

.services-top-content h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	font-size:40px;
	text-align:left;
}

.services-bottom-content {
	/* border:1px solid black; */
	display:flex;
	flex-direction:row;
	align-items:top;
	text-align:left;
	padding: 20px 0 20px 0;
}

div.bottom-copy {
	/* border:1px solid red; */
	display:flex;
	flex-direction:column;
	text-align:left;
	padding-right:20px;
}

.services-middle-content {
	/* border: 3px dashed cyan; */
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	display:flex;
	flex-wrap:wrap;

	justify-content:space-between;
	width:100%;
}

.buttonbox {
	border: 1px solid black;
	background:rgb(231, 235, 237);
	width: 420px;
	text-align:left;
	padding:20px;
	margin:20px 0;

	display:flex;
	flex-direction:column;
	align-items:left;
}
button {
	border:1px solid black;
	font-size:13px;
	font-family: 'Oswald', sans-serif;
	color:black;
	text-decoration:none;
	padding: 0 25px;
	
	animation-name: button;
	animation-duration: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate-reverse;
}

.buttonbox button {
	width:36%;
}