/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.services-body-header {
  display: flex;
  flex-direction: column;
  margin: 0px 70px;
}

.services-nav-logo-container, .services-header-section {
  display: flex;
  flex-direction: row;
}

.services-nav-logo-container {
  justify-content: space-between;
}

.services-header-figure {
  width: 100%;
}

.services-header-img {
  width: 100%;
}

.services-header-section {
  display: flex;
  flex-direction: column;
}

#services-header-nav {
  display: inline-flex;
  width: 75%;
  flex-direction: row;
  margin: 40px 0px;
  justify-content: space-between;
}

#services-header-nav a {
	text-decoration: none;
  color: lightgray;
}

.services-logo-container {
  display: inline-flex;
  width: 24%;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 0px 30px 50px;
}

#services-main {
  display: flex;
  flex-direction: column;
  margin: 50px 70px 0px;
  padding-top: 50px;
  border-top: 1px solid gray;
}

.services-main-container-top, .services-main-container-middle, .services-main-container-bottom {
  display: inline-flex;
  flex-direction: row;
  margin: 0px 0px 50px;
}

.services-main-container-top {
  display: flex;
  flex-direction: row;
}

.services-main-container-middle {
  display: flex;
  flex-direction: row;
}

.services-main-container-bottom {
  display: flex;
  flex-direction: row;
}

.services-section-digital-design, .services-section-UX-UI, .services-section-digital-marketing, 
.services-section-web-development, .services-section-iOS-development, .services-section-android-development {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #f2f2f2;
  padding: 25px 25px 20px;
}

.services-section-digital-design, .services-section-digital-marketing, 
.services-section-iOS-development {
  width: 50%;
  margin-right: 25px;
  padding-right: 25px;
}

.services-section-UX-UI, .services-section-web-development, 
.services-section-android-development {
  width: 49%;
  margin-left: 25px;
  padding-right: 25px;
}

.services-section-digital-design {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-section-UX-UI {

}

.services-section-digital-marketing {

}

.services-section-web-development {

}

.services-section-iOS-development {

}

.services-section-android-development {

}

.learn-more-button {
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 5px;
}

.learn-more-button-container {
  margin: 20px 0px 5px;
}

#services-footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid darkgray;
  margin: 0px 70px 50px;
  padding-top: 50px;
}

.services-footer-containter-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-footer-containter-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0px 0px;
}

.services-footer-section-some-facts {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 30px;

}

.footer-unordered-list {
  padding-left: 20px;
}

.footer-unordered-list li {
  list-style-type: square;
  margin: 10px 0px;
}

.services-info-img-container {
  display: flex;
  width: 49%;
  justify-content: flex-end;
}

.services-info-img {

}

.services-copyright-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px 0px;
}

.services-copyright {

}





















