/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.container {
	width: 890px;
	/* TB LR */
	margin: 0 auto;
}

/* header */

header {}

header nav {
	/* position: fixed;
	top: 0;
	z-index: 1; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 880px;
	margin-top: 35px;
}

header nav a {
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
}

header nav a:hover {
	color: dodgerblue;
	text-decoration: underline;
}

header nav img {}

/* header nav a:first-child {
	margin-left: 0;
}

header nav a:last-child {
	margin-right: 0;
} */

header .logo {
	display: flex;
	align-items: baseline;
}

/* cta */

.cta {
	width: 880px;
	display: flex;

}

.cta .cta-text {
	/* display: flex;
	flex-direction: column; */
	font-size: 77px;
	margin: 120px 0 0 80px;
	text-align: center;
	/* padding: 0px 75px; */
}

.cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.cta .cta-text button:hover {
	background: black;
	color: white;
}

.cta img {
	margin: 69px 10px 0 100px;
}

.main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
}

.main-content .top-content {
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.main-content .top-content .text-content {
	width: 410px;
	margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
	margin-right: 0;
}

.main-content .middle-img {
	margin-top: 45px;
}

.main-content .bottom-content {
	margin-top: 37px;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
}

.main-content .bottom-content .text-content {
	width: 275px;
	margin-right: 12px;
}

.main-content .bottom-content .text-content:last-child {
	margin-right: 0;
}

.contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
}

.contact p {
	margin: 20px 0;
}

footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
}

/* 

----- Begin Services.html css that is NOT re used from above -----

*/


.services-section {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
}

.services-section h1 {
	font-size: 1.6rem;
}

.services-section p {
	line-height: 1.2;
}

.services-header-img {
	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 4px 4px darkgrey;
}

.info-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 40px;
}

.info-section .info-item {
	width: 400px;
	/* margin: 20px 20px; */
	padding: 20px;
	border: 1px solid black;
	background-color: #f1f1f1;
}

.info-section .info-item button {
	border: 1px solid #373737;
	border-radius: 5%;
	padding: 10px 35px;
	/* border: 2px solid red; */
	margin-top: 30px;
}

.info-section .info-item p {
	line-height: 1.2;
}

.facts-section {
	display: flex;
	justify-content: space-evenly;
	padding: 30px 0 0 0;
}

.facts-section .facts-content {
	margin: 0 0 40px 0;
}

.facts-section .facts-content p {
	line-height: 1.2;
	padding: 10px 0 10px 0;
}

.facts-section .facts-content ul {
	list-style: square;
	margin: 10px 0 0 25px;

}

.facts-section .facts-content li {
	margin: 15px 0;
}