/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* 			services.html starts here			 */

/* * {
	border: 1px solid grey !important;
} */

.top  {
	/* background-color: yellow;	 */
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
}
.top nav {
	/* background-color: red;	 */
	display: flex;
	margin-left: 5%; 
}
.top nav a{
	/* background-color: purple;	 */
	display: flex;
	/* margin-left: 50%; */
	justify-content: space-between;
	padding: 3%;
	padding-top: 5%;
	margin-right: 12%;
	color: grey;
	text-decoration: none;
}
.top .logo {
	/* background-color: blue;	 */
	display: flex;
	margin-right: 5%; 
	width: 20%;
}
div a:hover {
	color: black;
}
.services-header-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 2%;
}

.services {
	/* background-color: aquamarine; */
	display: block;
	margin: 3% 5% 3% 5%;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 20px;
}
p {
	font-size: 20px;
}
hr {
	width: 90%;
	size: 1;
	color: black;
}
.block {
	background-color: rgb(228, 228, 228);
	width: 48%;
	margin-bottom: 3%;
	padding: 2.5%;
	border: 1px solid black;
}
.block p {
	margin-bottom: 6%;
}
.button {
	background-color: white; 
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	text-decoration: none;
	padding: 1% 10%;
	font-size: 15px;
}
.main div a:hover {
 	background-color: grey;
}

.main	{
	/* background-color: green; */
	display: flex;
	flex-wrap: wrap;
	margin: 3% 5% 0 5%;
	justify-content: space-between;
}
footer {
	display: flex;
	margin: 3% 5% 0 5%;
	justify-content: space-between;
}
.bottom {
	/* background-color: aquamarine; */
	margin-right: 5%;
	width:47%;
}
.bottom p {
	margin-bottom: 2%;
}
ul {
	list-style-type: square;
	margin-left: 5%;
	font-size: 20px;
  }
li {
	margin-top: 5%;
}
.services-info-img {
	width:48%;
}
.copyright {
	/* background-color: blue; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 10%;
}
.copyright p {
	text-align: center;
}

/* 		index.html starts here		 */

.maintop {
	display: flex;
	justify-content: space-between;
	/* background-color: aqua; */
	margin-top: 5%;
	margin-bottom: 5%;
}
.board {
	/* background-color: brown; */
	margin-left: 7.5%;
	display: block;
	margin-top: 5%;
	width:47%;
}
.board h2{
	font-size: 80px;
	text-align: center;
}
.circle {
	/* background-color: brown; */
	margin-right: 5%;
	width:35%;

}
.buttontop {
	/* display: flex; */
	width: 30%;
	border: 1px solid black;
	padding: 2%;
	color: black;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.block1 {
	 display: flex;
	 justify-content: space-between;
	margin: 5%;
}
.middle-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.block2 {
	display: flex;
	justify-content: space-between;
	margin: 5%;
	/* align-items: flex-start; */
}
.content2:nth-child(2) {
	background-color: white;
	margin: 0 2%;
}
.contact h3 {
	margin-bottom: 20%;
}