/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box;
}

.container{
	margin: 0 80px;
}

.container .navitems {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.container .navitems a{
	color: gray;
	text-decoration: none;
}

.container .heading .innovate {
	font-size: 6em;
	margin-right: 300px;
	padding: 50px;
	width: 100px;
	display: flex;
	flex-direction: column;
}

.container .heading .innovate h3{
	margin-top: 20px;
	font-size: 25px;
	padding: 10px;
	padding-left: 40px;
	height: 40px;
	width: 200px;
	border: 1px solid black;
}

.container .heading {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*-----------------Content Section----------------- */

.container .content1 {
	margin-top: 80px;
	display: flex;
}

.container .content1 {
	border-top: 1px solid black;
	padding-top: 50px;
	padding-bottom: 150px;
	height: 150px;
	margin-right: 100px;
}

.container .middle-img {
	width: 90%;
}

.container .content2 {
	border-bottom: 1px solid black;
	margin-top: 50px;
	margin-right: 60px;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

.container .content2 p{
margin-right: 50px;
}

.container footer{
	margin-top:50px;
	height: 300px;
}

.container footer .footer-content{
	display: flex;
	flex-direction: column;
}

.container footer .footer-content .copyright-info {
	margin-top: 50px;
	align-self: center;
}

/* -------------------Services page-------------- */

.serviceContainer{
	margin: 0 80px;
}

.serviceContainer .nav-items {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.serviceContainer .nav-items a{
	color: gray;
	text-decoration: none;
}

.serviceContainer .services-header-img{
	margin-top: 30px;
	width: 100%;
	height: 250px;
}

.serviceContainer h1 {
	margin-top: 30px;
	font-size: 2em;
}

.serviceContainer .services-para{ 
	font-size: 18px;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}

.serviceContainer .service-content{
	display: flex;
	width: 100%;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
}

.serviceContainer .service-content .content1 {
	display: flex;
	flex-direction: column;
}

.serviceContainer .service-content .content2 {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
}

.serviceContainer .service-content .learn-more {
	height: 260px;
	width: 570px;
	margin-top: 30px;
	border: 1px solid black;
	background: #DCDCDC;
	padding: 30px;
}

.serviceContainer .service-content .click {
	border: 1px solid black;
	width: 150px;
	height: 40px;
	padding: 10px 30px;
	margin-top: 40px;
	border-radius: 10px;
	background: #FFFFFF;
}

.serviceContainer .service-content button {
	margin-top: 20px;
}

.serviceContainer .content-bottom{
	height: 430px;
	display: flex;
	margin-top: 50px;
}

.serviceContainer .content-bottom .service-facts h2{
font-size: 24px;
}

.serviceContainer .content-bottom .service-facts p {
	margin-right: 100px;
}

.serviceContainer .content-bottom .list{
	margin-left: 20px;
	margin-top: 20px;
	list-style: disc;
	line-height: 2.5em;
}

.serviceContainer footer p{
	margin-left: 40%;
	margin-bottom: 25px;
}

/* -------------------Vision Page------------------*/

.vision-container {
	margin: 60px;
}
.vision-container .vision-navitems{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.vision-container .vision-navitems a{
	color: gray;
	text-decoration: none;
}	

.vision-container .vision-top-content h1{
	margin-top: 80px;
	font-size: 40px;
	border: 2px solid silver;
	border-radius: 40px;
	width: 300px;
	padding: 50px;
}

.vision-container .vision-top-content .box{
	border: 2px solid silver;
	width: 200px; 
	height: 100px;
	border-radius: 30px;
}

.vision-container .vision-top-content .title-box1 {
	position: relative;
	border-color: steelblue;
	left: 170px;
	bottom: 40px;
}

.vision-container .vision-top-content .title-box2 {
	position: relative;
	bottom: 100px;
	left: 30px;
}

.vision-container .vision-top-content .title-box3 {
	position: relative;
	border-radius: 20px;
	bottom: 430px;
	right: 40px;
	width: 100px;
	height: 60px;
}

.vision-container .vision-top-content .vision-section1 .para-img{
	display: flex;
	margin-bottom: 30px;
	position: relative;
	bottom: 100px;
}

.vision-container .vision-top-content .vision-section1 p {
	margin: 30px;
}

.vision-container .vision-top-content .vision-section2 p {
	margin-right: 20px;
}

.vision-container .vision-top-content .vision-section2 {
	display: flex;
	margin-top: 70px;
}

.vision-container .vision-top-content .vision-section1 .vision-section1-box{
	border: 2px solid steelblue;
	border-radius: 50px;
	height: 200px;
	width: 500px;
	position: relative;
	bottom: 200px;
	left: 200px;
}

.vision-container .vision-top-content .vision-section1 {
	background: silver;
	border: 1px solid silver;
	height: 600px;
	border-radius: 20px;
	margin-right: 50px;
}

.vision-container .vision-top-content .vision-section1 .para-img {
	margin-top: 150px;
}

.vision-container .vision-section1 p, .vision-section2 p{
	background: steelblue;
	height: 300px;
	padding: 60px 20px;
	border-radius: 80px;
	align-self: center;
}



.vision-img {
	width: 52%;
	margin:20px;
	border: 2px solid gray;
	border-radius: 100px;
}

.vision-container .vision-middle-content {
	padding-left: 50px;
	width: 600px;
	height:600px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}