/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/*CSS for home page*/
.container {
	margin: 0 auto;
	width: 66%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
nav a {
	text-decoration: none;
}
.innovation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

h1 {
	font-size:70px;
	text-align: center;
	margin-bottom: 10px;
}
header div button{
	text-align: center;
	margin-left: 100px;
}
.top_section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*border-top: 1px solid black;*/
	padding: 15px 0;
}
.middle_imag {
	
}
.middle_section{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 border-bottom: 1px solid black;
	 margin-bottom: 25px;
	 padding: 25px 0;
}
section div.product{
	 margin: 0 15px;
}
.section_bottom{
     margin-bottom: 25px;
}
footer{
	 padding-bottom: 50px;
}
footer p {
	 text-align: center;
	 margin-top: 50px;
}


/* CSS for Services page */
header {
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}
.services-header-img {
	margin-bottom: 20px;
}
#services {
	font-size: 25px;
	text-align: left;
}
.servicesection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.servicesection div {
	margin-bottom: 25px;
	padding: 25px;
	border: 1px solid black;
}
.servicestype {
	width: 48%;
	background-color: beige;
}
.servicesection div p {
	padding-bottom: 15px;
}
.servicesection div button {
	text-align: center;
	width: 100px;
	padding: 5px 0;
	border-radius: 8px;
}
.facts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid black;
	padding: 25px 0;
}
ul {
	list-style-type: unset;
	margin: 25px 0 0 18px ;
	line-height: 25px;
}