/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	width: 876px;
	margin-left: 500px;
}

header nav {
	margin-top: 10px;
}

.logo {
	margin-left: 10px;
}

h1 {
	font-size: 60px;
	text-align: center;
	align-self: center;
	margin: 0 125px;
}

.top-section {
	margin: 60px auto 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.top-section button {
	padding: 10px 40px;
	border: 1px solid black;
	background-color: white;
	height: 40px;
	width: 152px;
	margin-left: 176px;
	position: relative;
	top: -70px;
}

@keyframes colorchange {
  from {background-color: white;}
  to {background-color: black;}
  from {color: black;}
  to {color: white;}
}
.top-section button:hover {
	background: white;
	color: black;
	animation-name: colorchange;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

header nav a {
	color: white;
	margin-right: 38px;
	text-decoration: none;
	border-radius: 40px;
	border: 1px solid black;
	padding: 10px;
	background-color: black;
}

.top-section {
	display: flex;
}

.main-content {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	height: 600px;
	margin: 36px auto 20px auto;
}

.main-content-top {
	margin: 40px auto;
	display: flex;
	flex-wrap: wrap;
}

.main-content-bottom {
	margin: 40px auto;
	display: flex;
	flex-wrap: wrap;
}

.main-content-top p {
	width: 380px;
}

.about {
	margin-left: 146px;
}

.child {
	margin-left: 116px;
}

.main-content-top h3 {
	width: 350px;
	font-size: 20px;
}

.main-content-bottom p {
	width: 250px;
}

.main-content-bottom h3 {
	width: 200px;
}

.bottom-title {
	margin-left: 113px;
}

.bottom-info {
	margin-left: 63px;
}

footer {
	margin-top: 40px;
}

h3 {
	font-size: 20px;
}

.copyright {
	margin-left: 370px;
	margin-bottom: 30px;
}
