/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;.
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	box-sizing: border-box
}

.container {
	border: 1px solid lightgray;
	padding: 70px; 
	margin:  300px 500px;
	width: 1000px;
}

.menubar nav {
	display: flex;
	justify-content: flex-end;
}

.menubar nav a {
	margin-right: 50px;
	color: lightgray; 
	text-decoration: none;
}

.slogan{
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin: 30px 25px;

}
.row {
	padding: 30px; 
}

#header {
	margin: 5px;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-bottom: 35px;
}

h1 {
	text-align: center;
	font-size: 75px;
	line-height: 70px;
	
}

.call-to-action {
	text-align: center;
	padding: 20px;
}

.btn {
	font-size: 18px;
	border: 1px solid black;
	padding: 10px;
	width: 175px;
	margin-left: 45px;
	
}

h2 {
	font-size: 16px;
}


.top-content {
	border-top: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.top-box {
	width: 100%;
}

.middle-img {
	display: flex;
	justify-content: center;
	margin: 25px 0px;
	width: 100%;
}

.bottom-content {
	border-top: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-bottom: 1px solid black;

}

.bottom-box {
	margin-bottom: 25px;
}

.footer-content {
	text-align: left;
	width: 200px;
	margin: 20px 0px;
	padding: 20px;
	font-size: 16px;
	line-height: 20px;
}

.copyright {
	text-align: center;
	padding: 50px;
}

/* SERVICE PAGE CSS */

.services h2 {
	font-size: 25px;
	margin: 25px 0px 20px;
}

.main-content {
	width: 900px;
	border-top: 1px solid black;
}

.services {
	margin-top: 20px;
	padding-bottom: 25px;
}

.service-boxes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 30px 0px 40px;
	border-bottom: 2px solid black;
}

.boxes {
	border: 1px solid black;
	width: 45%;
	margin: 20px 0px;
	background-color: whitesmoke;
	margin-bottom: 35px;
}

.boxes p {
	padding: 5px 20px 20px;
	line-height: 20px;
}

.boxes h2 {
	padding: 20px 20px 0px;
}

.learn {
	border: 1px solid black;
	font-size: 11px;
	width: 150px;
	text-align: center;
	margin: 5px 20px 15px;
	padding: 12px;
	border-radius: 5px;
	background-color: white;
}

.service-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer-content-services {
	width: 100%; 
}

.footer-content-services ul {
	margin-left: 20px;
	line-height: 30px;
}

.footer-content-services p {
	margin: 20px 40px 15px 0px;
}
