/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container{
	border: 2px solid red;
	width: fit-content;
    margin: auto;
	padding: 10px;
	
	
}
.header{
	border: 0px solid red;
}
.navigation{
	border: 0px solid red;
	height: 50px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	width: 665px;
}
.nav{
	border: 0px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 450px;
	
}
.nav a{
	color: grey;
}
.header-name{
	
	width: 665px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
}
.header-image{
	border: 0px solid red;
	width: 330px;
	padding-left: 50px;
}
.header-name h1{
	font-size: 50px;
	text-align: center;
	margin-right: 20px;
		
}
.header-name button{
	font-size: 15px;
	background-color: white;
	font-family: Titillium Web;
	width: 120px;
	margin: auto;
	padding-top: 5px;
}
.top-content{
	border: 0px solid red;
	width: 680px;
	height: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	Justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 0px solid black;
	padding-bottom: 20px;
	margin-bottom: 30px;
	margin-top: 30px;

}
.top1{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width:328px;
}
.top2{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 328px;
}
.middle-img{
	width: 680px;
}

.bottom-content{
	border: 0px solid red;
	width: 680px;
	height: 180px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	Justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	padding-bottom: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.bottom1{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 220px;
}
.bottom2{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 220px;
}
.bottom3{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 220px;
}

.contact{
	border: 0px solid red;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 150px;
	margin-top: 0px;
}
.footer{
	text-align: center;
	margin: auto;
}