/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 874px;
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


/* Site components  -------------------------- */
h2 { 
  font-size: 1.6rem;
}

hr {
  border: 0.5px solid black;
  width: 100%;
  margin: 40px auto;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
}

li {
  margin: 5px 0;
}


/* Column styling  ---------------------------*/
.row {
  display: flex;
  justify-content: space-between;
}

.middle-row {
  margin: 40px 0;
}

.column {}


/* header and navbar  ------------------------ */
header {
  padding: 30px 0;
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  table-layout: fixed;
  height: 36px;
  width: 100%;
}

.navlinks a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  font-size: 14px;
  color: #b8b8b8;
}

.navlinks a:hover {
  color: #999;
}

.logo {
  width:215px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}

.logo:hover {
  opacity: 0.8;
}


/* Call To Action  ---------------------------*/
.cta {
  text-align: center;
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-title {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  font-size: 85px;
  margin: 40px 0 30px 0;
  width: 100%;
}

.cta-button {
  border: 1px solid black;
  margin: auto;
  padding: 5px 40px;
}

/* Main content  ----------------------------- */
.site-content {
}

.site-content a {
  text-decoration: none;
  color: #000;
}

.site-content a:hover {
  color: #555;
}

.full-width-img {
  margin: 40px 0;
}

.services-header-img {
}

.services-facts {
  margin-right: 40px;
}

.services-card {
  width: 420px;
  min-height: 250px;
  background-color: #f4f3f4;
  border: 1px solid black;
  padding: 20px;
  line-height: 1.4rem;
}

.services-card h4 {
  margin: 0;
}

.services-card button {
  padding: 10px 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.services-card button:hover {
  background-color: #eee;
}


/* footer  ----------------------------------- */
.contact-info {
}

.contact-info p {
  display: block;
}

.phone-number {
  margin: 20px auto;
}

.copyright {
  margin: 50px auto;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
