/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/********************* GENERAL STYLES *********************/
:root {
	--border: 1px solid red;
}

.container {
	max-width: 100%;
	width: 1200px;
	margin: 0 auto;
	height: 100vh;
	/* border: var(--border); */
}

hr {
	width: 95%;
}

.navBar {
	display: flex;
	/* border: var(--border); */
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navBar nav ul {
	display: flex;
}

.navBar nav ul li {
	list-style: none;
	padding-right: 30px;
	justify-content: space-between;
}

.navBar nav ul li a {
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	transition: all 0.5s ease;
}

.navBar nav ul li a:hover {
	background: #000000;
	color: #fff;
}

.mainImage {
	padding: 20px 0;
}

.mainImage img {
	width: 95%;
	margin: 0 2.5%;
}

/* mobile responsiveness */
@media screen and (max-width: 640px) {
	.navBar, .navBar ul {
		flex-direction: column;
	}

	.navBar li {
		margin: 0 0 20px 0;
	}
}

/********************* INDEX PAGE *********************/

/****** header ******/
header {
	/* border: 1px solid orange; */
	position: relative;
	padding: 90px 0 460px 0;
}

header h1 {
	font-size: 72px;
	width: 25%;
	left: 146px;
	top: 160px;
	position: absolute;
	padding-right: 40px;
	text-align: center;
}

.headerImage {
	width: 40%;
	right: 75px;
	position: absolute;
	padding-left: 40px;
}

.button {
/* padding: 5px 38px; */
/* border: 1px solid black; */
display: inline;
position: absolute;
left: 160px;
top: 400px;
font-size: 17.5px;
}

.button a {
	text-decoration: none;
	border: 1px solid green;
	color: green;
	padding: 5px 38px;
}

.button a:hover {
	color: #0070d2;
	border-color: #0070d2;
}

/****** information section ******/
.info {
	/* border: 1px solid red; */
	/* border-top: 1px solid black; */
	/* border-width: 10px; */
	padding: 30px 0;
}

.information {
	width: 45%;
	padding-left: 70px;
	/* margin: 10px; */
	display: flex;
}

/****** body image ******/
.bodyImage img {
	width: 100%;
	padding: 0 70px;
}

/****** additional information section ******/
.additionalInfo {
	padding: 40px 70px;
}

.extraInfo {
	width: 30%;
	display: flex;
	margin-right: 27px;
}


/****** contact section ******/
.contact {
	padding: 30px 0 0 70px;
}

/****** footer ******/
footer {
	padding: 60px 0 114px 0;
}

footer p {
	text-align: center;
}

.visionSection p{
	width: 50%;
	display: flex;
}


/********************* SERVICES PAGE *********************/

/****** serivces info ******/
.servicesInfo {
	width: 95%;
	margin: 0 2.5%;
	padding: 20px 0;
}

.servicesInfo h2 {
	font-size: 24px;
}

.servicesInfo p {
	font-size: 18px;
}
/****** different services area ******/
.services {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	/* height: 100vh; */
	/* width: 50%; */
	flex-direction: row;
}

.differentServices {
	width: 45%;
	background: lightgrey;
	border: 1px solid black;
	padding: 20px;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
	margin: 0 2.5% 2.5% 2.5%;
	/* align-content: center; */
	/* justify-content: center; */
}

/* mobile responsiveness */
@media screen and (max-width: 700px) {
	.services {
		flex-direction: column;
		/* flex-wrap: nowrap; */
	}
}

.learnBtn {
	background: rgb(240, 236, 236);
	border: 1px solid black;
	border-radius: 5%;
	padding: 10px 50px;
	margin: 15px;
	width: 150px;
	text-align: center;
}

.learnBtn a {
	text-decoration: none;
}

/****** facts area ******/
.facts {
	padding: 20px 0 50px 0;
	margin: 0 2.5%;
	display: flex;
}

.facts .fewFacts {
	width: 50%;
}

.factsIMG {
	/* border: var(--border); */
	width: 50%;
}

.factsIMG img {
	width: 100%;
}

/****** footer ******/
footer {
	text-align: center;
}

@media screen and (max-width: 900px) {
	.services {
		flex-direction: column;
		align-items: center;
		/* padding: 0 0 20px 0; */
	}

	.facts {
		flex-direction: column;
		align-items: center;
	}
}

/********************** CONTACT PAGE **********************/
.contactWrapper {
	max-width: 800px;
	margin: 50px auto;
	padding: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	/* border: var(--border); */
}

.contactWrapper h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 35px;
}

.address {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 50px;
}

.inner-address p {
	font-size: 18px;
}

.inner-address .fas {
	font-size: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.form-title {
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}

.input-form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
	/* border: var(--border); */
}

.inner-msg {
	width: 100%;
	margin-bottom: 20px;
}

.input > input {
	/* border: 0; */
	width: 260px;
	padding: 10px 20px;
	outline: none;
}

.msg > textarea {
	width: 100%;
	/* border: 0; */
	padding: 10px 20px;
	height: 80px;
	outline: none;
}

.msgBtn {
	border: 2px solid #000;
	padding: 20px 30px;
	cursor: pointer;
	background: black;
	color: #fff;
	transition: all 0.5 ease;
}

.msgBtn:hover {
	background: grey;
	border: 1px solid grey;
}

.socialMedia {
	/* border: var(--border); */
	display: flex;
	justify-content: center;
}

.socialMedia .fab {
	font-size: 30px;
	margin: 0 20px;
	cursor: pointer;
	transition: all 0.5s ease;
	background: #fff;
	color: #000;
}

.fab:hover {
	color: grey;
}

/* mobile responsiveness for contact page */
@media screen and (max-width: 640px) {

	.contactWrapper {

	}

	.input-form {
		flex-direction: column;
	}

	.input:first-child > input {
		margin-bottom: 20px;
	}

	.form .input > input {
		width: 100%;
	}

	.address,
	.socialMedia {
		flex-direction: column;
		align-items: center;
	}

	.inner-address, .inner-social {
		margin: 0 0 20px 0;
	}
}
