/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	padding: 10px 50px;	
}

.navigation {
	display: flex;
	justify-content: space-between;
}
.navigation a{
	color: gray;
	text-decoration: none;
    padding: 20px;
}

.innovate {
	display: flex;
	justify-content: space-evenly;
}

.CTA {
	margin: auto 0;
	display: flex;
	flex-direction: column;
}

.CTA h1 {
	font-size: 70px;
	text-align: center;
	animation-duration: 4s;
	animation-name: slidein;
	animation-name: colorChange;
	
}

@keyframes colorChange {
	from {
	  color: rgb(60, 60, 255);
	}
  
	to {
	  color: black;
	}
  }

.CTA button {
	border: 1px solid black;
	height: 30px;
	width: 120px;
	background-color: white;
	margin-left: 5rem;
}

.innovate img {
	padding: 10% 0%;
	animation-duration: 4s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin: 100%;
	  width: 300%; 
	}
  
	to {
	  margin: 0%;
	  width: 100%;
	}
  }

.topContent {
	display: flex;
}

.features {
	padding: 2% 1% 3% 0%; 
}

.about {
	padding: 2% 0% 3% 1% ;
}

.middleImg {
	width: 100%;
	height: 150px;
}

.bottomContent {
	display: flex;
}

.services {
	padding: 3% 0%;
}
.product {
	padding: 3% 4% 3% 4%;
}

.vision {
	padding: 3% 0%;
}

.contact {
	padding-top: 2%;
}

.contactPara {
	padding: 1% 0% 0% 0%;
}

.copyright {
	margin: 0 auto;
	padding: 5%;
	text-align: center;
}

/* Service Page */

.services-header-img {
	height: 250px;
	width: 100%;
	padding-bottom: 30px;
}

.mainServices {
	font-size: 1.5rem;
}

hr {
	margin: 30px 0px;
}
.midSection {
	display: grid;
	grid-template-columns: [Col1-Start] 48.5% [Col1-End] auto [Col2-Start] 48.5% [Col2-end];
	grid-template-rows: [Row1-Start] 200px [Row1-End] 30px [Row2-Start] 200px [Row2-End] 30px [Row3-Start] 200px [Row3-End];
}

.design {
	grid-column-start: Col1-Start;
	grid-column-end: Col1-End;
	grid-row-start: Row1-Start;
	grid-row-end: Row1-End;
}

.uxui {
	grid-column-start: Col2-Start;
	grid-column-end: Col2-end;
	grid-row-start: Row1-Start;
	grid-row-end: Row1-End;
}

.marketing {
	grid-column-start: Col1-Start;
	grid-column-end: Col1-End;
	grid-row-start: Row2-Start;
	grid-row-end: Row2-End;
}

.webDevelopment {
	grid-column-start: Col2-Start;
	grid-column-end: Col2-end;
	grid-row-start: Row2-Start;
	grid-row-end: Row2-End;
}

.iosDevelopment {
	grid-column-start: Col1-Start;
	grid-column-end: Col1-End;
	grid-row-start: Row3-Start;
	grid-row-end: Row3-End;
}

.andDevelopment {
	grid-column-start: Col2-Start;
	grid-column-end: Col2-end;
	grid-row-start: Row3-Start;
	grid-row-end: Row3-End;
}

.allServices {
	height: 180px;
	width: 100%;
	border: 1px solid black;
	padding: 15px;
	background-color: rgb(226, 224, 224);
}

.button {
	border: 1px solid black;
	height: 30px;
	width: 120px;
	background-color: white;
	border-radius: 5px;
	margin-top: 20px;
}

.endSection {
	display: grid;
	grid-template-columns: [End-Col1-Start] 48.5% [End-Col1-End] auto [End-Col2-Start] 48.5% [End-Col2-end];
	grid-template-rows: [End-Row1-Start] 300px [End-Row1-End] 
}

.someFacts {
	grid-column-start: End-Col1-Start;
	grid-column-end: End-Col1-End;
	grid-row-start: End-Row1-Start;
	grid-row-end: End-Row1-End;
}

.lastImg {
	grid-column-start: End-Col2-Start;
	grid-column-end: End-Col2-end;
	grid-row-start: End-Row1-Start;
	grid-row-end: End-Row1-End;
	height: 100%;
	width: 100%;
	justify-self: stretch;
}