/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body {
	margin-left:15%;
	margin-right:15%;
	
}

 nav {
	color:grey;
	display:flex;
	justify-content: space-between;
	
}
nav a {
	text-decoration: none;
	color: grey;
}
ul.horizNav li {
	display:inline-block;
	padding:0px 30px;
}

.logo {
	margin-left:70px;

}
 .logoGraphic {
	 margin-left:70px;
 }	
#Motto {
	display:flex;
	position:relative;
	width:100%;
	padding-bottom:65px;
}


#Motto h1 {
	font-size:72px;
	text-align: center;
	padding-top:50px;
}

#Motto button{
	display:block;
	position:relative;
	padding: 10px 30px;
	background-color:white;
	border: 1px solid;
	margin: auto;
} 

.Col-1{
	width:49%;
}
#Features {
	float:left;
	width: 50%;

}

#About {
	float: right;
	width: 50%;
}

	.middle-img {
		display: flex;
		align-content:center;				
		width: 100%;
	}
	
	
	.box {
		width:40%;
		padding: 30px;
		border:1px solid black;
		margin: 30px;
		background-color:#f4f3f4;
	}

	.columns {
		display:flex;
		flex-flow: row wrap;
	}


	.Services {
		font-size:150%;
		padding-top:20px;
	}


	button {
		margin-top: 20px;
		padding: 5px 20px;
		background: white;
    	border-radius: 5px;
	}

	#Contact {
		margin-top:25px;		
		width:20%;
	}

	hr {
		border:0.5px solid black;
	}

	footer{
		padding: 20px 0px 50px 0px;
		
	}

	span.Copy { 
		display: flex;
    	flex-wrap: wrap;
		justify-content: center;
		line-height: 1.3;
		padding-top:50px;		
	}

	.someFacts {
		margin-left: 20px;
	}
	.someFacts li {
		list-style-type: square;
	}
	
	.column2 {
		width: 40%;
		margin: 30px;
	}

	.column3 {
		width: 25%;
		margin: 20px;
	}
