/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.body-con {
	color: rgb(27, 27, 27);
}

.nav-con {
	text-align: center;
}

.head-nav {
	display: inline-block;
	position: relative;
	right: 15px;
	top: 20px;
	font-size: 15px;
}
.head-nav a {
	text-decoration: none;
	padding-right: 60px;
	color: rgb(39, 38, 38);
}

.img-div {
	display: inline-block;
	position: relative;
	left: 25px;
	top: 30px;
}

.main-header {
	text-align: center;
}

.main-con {
	display: inline-block;
	margin-top: 145px;
}

.main-con h1 {
	font-size: 80px;
	letter-spacing: 1.2px;
	line-height: 80px;
}

.main-con a button {
	position: relative;
	top: 15px;
	padding: 6px 30px;
	border: 1px solid rgb(27, 27, 27);
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	width: 170px;
	font-family: 'Titillium Web', 'sans-serif';
}

.main-con a button:hover {
	cursor: pointer;
}
.main-img {
	display: inline-block;
	position: relative;
	top: 50px;
	left: 90px;
}

header hr  {
	margin-right: auto 0;
	margin-left: auto 0;
	margin-top: 120px;
	width: 65%;
}

.section-con {
	text-align: center;
	margin-top: 35px;
}

.section-con p {
	line-height: 20px;
}

.sects {
	display: inline-block;
	text-align: left;
	width: 400px;
	position: relative;
	margin-bottom: 50px;
	/* margin-top: 40px; */
}

section.sects.features {
	right: 40px;
}

section.sects.about {
	left: 40px;
}

.content-img {
	text-align: center;
	margin-bottom: 40px;
}

section.sects.services {
	width: 280px;
	right: 10px;
}

section.sects.product {
	width: 280px;
	left: 5px;
}
section.sects.vision {
	width: 280px;
	left: 15px;
}

.section-con hr  {
	margin-right: auto 0;
	margin-left: auto 0;
	margin-top: 5px;
	width: 65%;
}

.contact-con {
	text-align: center;
}

.contact-div {
	position: relative;
	display: inline-block;
	text-align: left;
	right: 365px;
	margin-top: 40px;
}

footer {
	margin-top: 60px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 90px;
}