/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.container {
  width: 1165px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
}

.nav-logo {
  display: flex;
  width: 1160px;
  margin: 0 auto;

  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 100px;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

nav a:hover {
  color: gray;
  transition-duration: 0.5s;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

hr {
  width: 1160px;
}

footer {
  border-bottom: 30px solid gray;
}
/* page style */

.logo {
  margin-top: 5px;
  top: 0px;
  right: 5px;
  width: 300px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: flex;
  justify-content: space-evenly;
}

.main-content {
  /* width: 400px; */
  line-height: 1.5;
}

/* specific styles */

.motto-section {
  font-size: 60px;
  padding: 50px 25px;
  margin: 50px 5px;
  display: flex;
  justify-content: space-evenly;
}

.motto {
  text-align: center;
}

.motto-pic img {
  height: 350px;
}

.button a {
  margin-top: 25px;
  margin-left: 30px;
  padding: 5px;
  font-size: 35px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
}

.button a:hover {
  background-color: #d3d3d3;
  color: white;
  transition-duration: 0.5s;
}

.features {
  margin: 40px 40px 40px 10px;
}

.about {
  margin: 40px 10px 40px 40px;
}

.middle-img {
  width: 1140px;
  height: 150px;
}

.sevices {
  margin: 40px;
}

.products {
  margin: 40px;
}

.vision {
  margin: 40px;
}

address {
  margin: 15px 10px 20px;
}

.copy {
  text-align: center;
  margin-bottom: 25px;
}

/*Services pages styles*/

.services-header-img {
  width: 1160px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

.our-services {
  font-size: 25px;
  line-height: 1.5;
  width: 1160px;
  margin: 15px;
}

.our-services h2 {
  font-size: 35px;
}

.top-cards {
  display: flex;
  justify-content: space-between;
}

.middle-cards {
  display: flex;
  justify-content: space-between;
}

.bottom-cards {
  display: flex;
  justify-content: space-between;
}

.card {
  font-size: 20px;
  background-color: #d3d3d3;
  line-height: 1.5;
  padding: 15px;
  margin: 25px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-btn {
  text-align: center;
  background-color: white;
  padding: 5px;
  margin: 10px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.facts-about {
  margin: 40px;
  display: flex;
  justify-content: space-between;
}

.facts-about ul {
  margin: 30px;
  list-style-type: disc;
}

.facts {
  width: 500px;
  line-height: 1.5;
}
