/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

p {
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 900px;
	margin: auto;
}

/*Header */

#headerdiv {
	background: white;
	width: 900px;
	margin: auto;
	height: 80px;
	z-index: 1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-top: 30px; */
}

header nav {
	display: flex;
	margin-left: 20px;
}

header nav a {
	margin-right: 65px;
	text-decoration: none;
	color: gray;
	margin-top: 20px;
	transition-property: transform;
	transition-duration: .2s;
}

header nav a:hover {
	/* border-bottom: 1px solid black; */
	text-decoration: underline;
	transform: scale(1.1);
}

.logo {
	margin-top: 20px;
	margin-right: 30px;
	transition-property: transform;
	transition-duration: .5s;
}

.logo:hover {
	transform: scale(1.3);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.main-content {
	padding-top: 60px;
}

/* TITLE */

.cta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-top: 160px;
}

.cta h1 {
	font-size: 60px;
	text-align: center;
	padding-top: 50px
}

.cta-img {
	height: 320px;
	width: 320px;
	/* align-self: flex-end; */
	margin-bottom: 50px;
}

.cta button {
	align-self: flex-start;
	margin-right: 450px;
	padding: 5px 40px;
	background-color: transparent;
	border-radius: 10px;
	transition-property: background transform;
	transition-duration: .2s;
	margin-left: 20px;
	position: relative;
	bottom: 120px;
}

.cta button:hover {
	background-color: black;
	color: white;
	transform: scale(1.1);
}

/* MAIN CONTENT */

.main-content {
	display: flex;
	flex-flow: row wrap;
	padding: 5% 0;
}

.main1 {
	flex: 1;
	/* padding: 3%; */
	/* text-align: center; */
	margin-right: 10px;
}

.second {
	display: flex;
	flex-flow: row wrap;
	padding: 5% 0;
}

.second-div {
	flex: 1;
	/* padding: 3%; */
	margin-right: 10px;
}

/* CONTACT */

.contact {
	display: flex;
	flex-direction: column;
	padding: 5% 0;
}

.contact p {
	margin-top: 20px;
}

.contact h2 {
	margin: 0;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

/* SERVICES CSS */

.container-services p {
	line-height: 1.4;
}

.container-services h2 {
	font-size: 20px;
}

/* TITLE AND IMG*/

.services-header-img {
	width: 900px;
	margin-top: 20px;
}

.services-title h1 {
	font-size: 30px;
	margin-top: 40px;
}

.services-title {
	margin-bottom: 40px;
}

/* SERVICES MAIN CONTENT */

.services-content {
	height: 260px;
	width: 420px;
	border: 1px solid black;
	background-color: whitesmoke;
	padding: 20px;
	margin-top: 40px;
}

.services-main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.services-content button {
	padding: 10px 30px;
	border-radius: 5px;
	border-color: black;
	margin-top: 20px;
	transition-property: background transform;
	transition-duration: .3s;
}

.services-content button:hover {
	background-color: black;
	color: white;
	transform: scale(1.1);
}

/* ABOUT SERVICES */

.facts {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 100px;
}

.services-about {
	width: 420px;
}

.services-about p {
	margin-bottom: 20px;
}

.services-about ul li {
	list-style: square;
	/* margin-top: 20px; */
	margin-left: 18px;
	padding: 10px;
}

/* FOOTER */

/* MEDIA QUERY SERVICES PAGE */

@media only screen and (max-width: 600px) {
	.container {
		width: auto;
	}
	.services-main {
		flex-direction: column;
		margin-left: 40px;
	}
	.facts {
		flex-direction: column;
		margin-left: 40px;
	}
	.services-title {
		flex-wrap: wrap;
		margin-left: 40px;
	}
	.logo {
		display: none;
	}
	.services-header-img {
		display: none;
	}
}

/* CONTACT PAGE */

.flex-contact {
	display: flex;
	justify-content: ;
	flex-flow: row wrap;
}

.flex-contact h2 {
	font-size: 20px;
}

.form {
	height: 420px;
	width: 500px;
	background: whitesmoke;
	padding: 2%;
	border-radius: 10px;
	margin-right: 20px;
	margin-top: 50px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

.form input[type="text"], input[type="email"], textarea {
	width: 100%;
	height: 40px;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	
}

.form button {
	padding: 5px 40px;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 80px;
	transition-property: background transform;
	transition-duration: .2s;
	width: 75%;
	height: 50px;
	font-size: 20px;
}

.form button:hover {
	background-color: black;
	color: white;
	transform: scale(1.1);
}



.form-text {
	border-color: grey;
}

.form2 {
	height: 100px;
	width: 300px;
	background: black;
	color: white;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.form2 button {
	padding: 5px;
	border-radius: 10px;
	transition: transform .3s;
}

.form2 button:hover {
	transform: scale(1.1);
}

.form3 {
	height: 300px;
	width: 300px;
	background: whitesmoke;
	border-radius: 10px;
	padding: 2%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: space-between;
	margin-top: 20px;
	text-align: center;
}

.flex-contact2 {
	display: flex;
	flex-flow: column wrap;
	margin-top: 50px;
	margin-bottom: 50px;
}

.form3 p {
	position: relative;
	bottom: 15px;
}

.contact-top {
	text-align: center;
	padding: 5%;
}

.contact-top h1 {
	font-size: 50px;
}

.contact-top p {
	font-size: 20px;
}