/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

h2 {
  font-family: "Anton", sans-serif;
}

.static-navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  /* background-color: rgb(0, 93, 189); */
  z-index: 5;
}

#main {
  width: 900px;
  padding: 10px;
  border: 0px;
  margin: 0;
}

.nav {
  font-size: 100%;
  margin-top: 24px;
  padding: 0px;
  display: inline-block;
  position: relative;
  text-align: relative;
  color: lightgray;
}

div a {
  margin-top: 12px;
  width: 100px;
  height: 1000px;
  padding: 20px;
  color: lightgray;
  word-spacing: 70px;
  text-decoration: none;
}

button {
  font-size: 20px;
  padding: 8px 30px;
  text-align: center;
  margin-left: 90px;
}

.logo {
  display: inline-block;
  float: right;
  position: relative;
  margin-top: -30px;
}

header h1 {
  display: inline-block;
  font-size: 70px;
  margin: 0 0 0 100px;
}

.left-side {
  margin-top: 100px;
  text-align: center;
}

.right-side {
  margin-top: 200px;
  margin: 0 0 0 500px;
}

.left-column {
  float: left;
  width: 50%;
  height: 140px;
  display: inline-block;
  text-align: center;
  padding-top: 100px;
}

.right-column {
  float: left;
  width: 50%;
  height: 140;
  display: inline-block;
  padding-bottom: 100px;
}

.first-column {
  float: left;
  width: 50%;
  height: 140px;
  margin: 20px 0;
}

.second-column {
  float: left;
  width: 50%;
  height: 140;
  margin: 20px 0;
}

.bottom-content .column-1 {
  float: left;
  width: 33%;
  margin: 20px 0;
}

.bottom-content .column-2 {
  float: left;
  width: 33%;
  margin: 20px 0;
}

.bottom-content .column-3 {
  float: left;
  width: 33%;
  margin: 20px 0;
}

.contact {
  margin-top: 10px;
}
footer {
  text-align: center;
}

hr {
  width: 100%;
  height: 2px;
  color: black;
  background-color: black;
}
