/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Your code starts here! */
.container {
	width: 1000px;
	margin: 0 auto;
}

.container nav {
	/* display: inline-block;
	width: 700px;
	vertical-align: top;
	margin-top: 35px; */
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin-top: 35px;
}

.container nav a {
	/* display: inline-block;
	margin-right: 65px; */
	font-size: 14px;
	color: gray;
	text-decoration: none;
}

.container nav a:hover {
	text-decoration: underline;
}

.container nav a:first-child {
	margin-left: 0;
}

.container nav a:last-child {
	margin-right: 0;
}

.logo {
	/* display: inline-block; */
	margin-top: 25px;
	/* display: flex;
	justify-content: flex-end; */
}

.container header {
	display: flex;
	justify-content: space-between;
}

.services {
	font-size: 20px;
	margin-top: 20px;
}

.main_boxes {
	/* border-top: 50px;
	border-top-color: 1px solid black; */
	display: flex;
	width: 1500px;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}

.box {
	width: 500px;
	margin-right: 25px;
	margin-bottom: 20px;
	border: 1px solid black;
	background: lightgray;
}

.facts {
	width: 500px;
}

.facts ul {
	list-style-type: disc;
}

.main .main-text {
	display: inline-block;
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 75px;
}

.main .main-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.main .main-text button:hover {
	background: black;
	color: white;
}

.main img {
	display: inline-block;
	margin-top: 69px;
}

.main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
}

.main-content .top-content {
	padding: 0 10px;
}

.main-content .top-content .text-content {
	width: 410px;
	display: inline-block;
	margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
	margin-right: 0;
}

.middle-img {
	margin-top: 45px;
}

.bottom-content {
	margin-top: 37px;
	padding: 0 10px;
}

.bottom-content .text-content {
	width: 275px;
	display: inline-block;
	margin-right: 12px;
}

.bottom-content .text-content:last-child {
	margin-right: 0;
}

.contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
}

.contact p {
	margin: 20px 0;
}

footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
}