/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
	 License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

	/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

	/* Your code starts here! */


a
{
	text-decoration: none;
	color: black;
}




.container
{
	max-width: 880px;
	min-width: 200px;
	margin: 0 auto;
}


.top-nav 
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.top-nav nav a
{
	margin: 0 20px;
	color: gray;
}

.top-nav nav a:hover
{
	text-decoration: underline;
}

.top-nav img
{
	margin: 0 10px;
}


header
{
	display: flex;
	justify-content:  space-around;
	align-items: center;
	margin: 40px 0;
}

header .header-text h2
{
	margin: 20px 0;
	text-align: left;
	font-size: 28px;
}

.header-text
{
	text-align: center;
	vertical-align: middle;
}

.header-text h1
{
	font-size: 72px;
	text-align: center;
}

.button
{
	size: 200px 400px;
	border: 1px solid black;
	margin: auto 100px;
	padding: 5px 20px;
	border-bottom: 1px solid gray;
}

	

.main-content
{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.main-content p 
{
 margin-top: 20px;
 width: 98%;
}

.main-content .image-box 
{
	border:grey solid 1.2px;
	float: right;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: 550;
}

.main-content .image-box img 
{
border-bottom: grey solid 1.2px;
}

.top-content
{
	display: flex;
	margin-bottom: 20px;
}

.bottom-content
{
display: flex;
margin-top: 20px;
justify-items: space-between;
}

.bottom-content section
{
margin-right: 10px;
}

.bottom-content section:last-child
{
margin-right: 0;
}



.child-container
{
	max-width: 400px;
	margin: 20px;
	font-size: 16px;
	background-color: #f3f3f3;
	border: solid thin black;
	padding: 20px;
}

.child-container .button 
{
	margin-top:20px;
	background-color: #fafafa; 
	border: black solid thin;
	border-radius: 8px;
	color: black;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.child-container .button a:hover 
{
	text-decoration: underline;
}

.parent-container 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



.footer-content .services
{
	display: flex;
	margin-bottom: 75px;
}

.footer-content ul
{
list-style-type: square;
line-height: 2;
margin: 20px;
}

.footer-content img
{
	margin-left: 40px;
}

.copyright
{
	text-align: center;
	margin: 20px 0;
	color:black;
}
