/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Your code starts here! */

html,
body {
	line-height: 1.3;
}

.container {
	max-width: 950px;
	padding: 0 15px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.nav {
	padding: 30px 0;
	display: flex;
	align-items: center;
}

.nav a {
	justify-self: center;
	margin-right: 68px;
	text-decoration: none;
	color: grey;
	
}

.nav a:hover {
	transition: 0.5s ease;
	color: black;
	font-weight: bold;
}

.headingMain {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	border-bottom: 1px solid black;
	
}

.headingSectionText {
	text-align: center;
}

.headingText {
	font-size: 72px;
	margin-bottom: 20px;
}

.imgSection {
	display: inline-block;
	margin-left: 90px;
}

button {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	background: white;
	padding: 8px 60px;
	border: 1px solid black;
}

button:hover {
	background: black;
	color: white;
	cursor: pointer;
}

.firstSection,
.secondSection,
.contactSection {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}


.contactSection {
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
}

footer {
	display: flex;
	justify-content: center; 

	font-size: 15px;
	margin-top: 50px;
	padding: 15px 0;
	margin-bottom: 15px;
}

/* Services Page  */
.servicesSection {
margin: 0px 0px 0px 0px;
border-bottom: 1px solid black;
}

.servicesSection h2 {
	margin: 15px 0px 15px 0px;;
	font-size: 28px;
}

.servicesSection p {
	margin: 15px 0px 40px 0px;
}

.servicesSectionItem {
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;
margin-bottom: 30px;
}

.servicesSectionBox {
	background: #F4F3F4;
	border: 1px solid black;
	width: 420px;
	height: 252px;
	margin: 20px 0px 0px 0px;
	padding: 20px;
}

.servicesSectionBox button {
	margin-top: 12px;
	border-radius: 5px;
	padding: 10px 45px;
}

.servicesSectionFacts {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	border-top: 1px solid black;
}

.servicesSectionInfo {
	display: flex;
	flex-direction: column;
	margin: 20px 0px 0px 0px;
	padding: 10px;
}

.servicesSectionInfo li {
	list-style-type: square;
	margin: 20px;
}

.services-info-img {
	display: flex;
	flex-direction: column;
	margin: 20px 0px 0px 0px;
	padding: 10px;
}

