/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



div{
	display:flex;
	justify-content: center;
}

header{
	font-size: 18px;
	margin: 20px;
	display:flex;
	width: 100%;
	height:5%;
	padding:1%;
	vertical-align: middle;
	justify-content: space-around;
	position: fixed; 
	top: 0; 
	width: 100%; 
}

.logo{
height: 85%;
width: 20%;
margin-right: 3%;
}

nav{
	display:flex;
	justify-content: space-around;
	width:70%;
	color: lightgrey;
	word-spacing: 6vw;
	vertical-align: middle;
}

.firsteyes{
	width:90%;
	height:35%;
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	border-bottom: 1px solid;
	margin:15% 200px 3% 3%;
	padding:1%;
	flex-wrap: wrap;
}

.firsteyes h1{
	width:38%;
	font-size: 60px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	word-spacing: 1000px;
	text-align: center;
	margin:2%;
	padding:2%;
	border: 5px;
	vertical-align: middle;
	margin-right: 5%
}

.firsteyes img{
	display: flex;
	margin:2%;
	height: 400px;
	margin-left: 6%;
	margin-bottom: 1px;
	
}
.firsteyes button{
	display:flex;
	justify-content: center;
	margin: auto 11%;
	width:175px;
	height: 40px;
	background-color: white; /* Green */
	border: 1px solid black;
	color: black;
	text-align: center;
	font-size: 16px;
	padding:0;
}

.mid{ 
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-bottom: 1px solid;
	margin:3% 200px 3% 3%;
	padding:1%;
	width: 90%
}

.mid img{
	margin: 5%;
}

.fa{
	display: flex;
	flex-direction: column;
	width:45%;
	height:100%;
	display:flex;
	margin:auto 2%;
}

.spv{
	display: flex;
	flex-direction: column;
	width:25%;
	display:flex;
	margin: 2% 2%;
}

.bot{
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

.contact{
	display: flex;
	flex-direction: column;
	width:200px;
	margin:auto 2%;
	padding:1%
}

.copyright{
	width: 100%;
	margin: 5%;
	padding: 2%;
	text-align:center
}


.serviceh {
	display:flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5%;
	padding: 2%;
	font-size: 16px;
	font-style: bold;
	border-bottom: 1px solid;
}

.serviceh img{
	margin: 5%;
	width: 90%;
	justify-content: center;
}

.serviceh h1{
	font-size: 26px;
}

.service-content{
	height: 60%;
	margin: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 1px solid;
	padding: 0;
}

.info-card{
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	height: 30%;
	background: lightgray;
	border: 1px solid black;
	justify-content: left;
	/* margin: 3%; */
	padding: 3%;
}

.facts{
	margin: 5%;
	display: flex;
	justify-content: space-around;
}

.facts-text{
	width: 50%;
	display: flex;
	flex-direction: column;
}
ol{
	margin: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

li{
	margin: 2%;
	list-style: square;
	list-style-position: outside;
}