/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* default */
body {
	padding-top: 50px;
}

a {
	text-decoration: none;
}

.container {
	width: 880px;
	margin: 0px auto;
	position: relative;
}

/* nav */
.navbar {
	background-color: dodgerblue;
	padding: 10px 0px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.navbar nav {
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
}

.navbar nav a {
	color: lightgrey;
	margin-right: 50px;
	vertical-align: top;
	font-family: 'Coda Caption', sans-serif;
	font-weight: bold;
}

.navbar nav a:hover {
    animation: nav-hover 0.25s forwards;
}

.navbar img {
	position: absolute;
	right: 0px;
}

/* header */
header {
	padding: 60px 0px;
	border-bottom: 1px solid black;
	position: relative;
}

header section {
	display: inline-block;
	width: 490px;
	vertical-align: top;
	padding-top: 70px;
	text-align: center;
	position: relative;
	left: 0;
}

header section h1 {
	font-size: 72px;
	text-align: center;
	margin-bottom: 20px;
}

header section a {
	color: darkslategrey;
	border: 1px solid darkslategrey;
	padding: 2px 35px;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	animation: button-out 0.5s forwards;
}

header section a:hover {
	animation: button-hover 0.5s forwards;
}

header img {
	display: inline-block;
	position: relative;
	right: 0;
}

/* main */
main {
	margin: 40px 0px;
	position: relative;
}

main section.col-2 {
	display: inline-block;
	width: 435px;
}

main section.col-3 {
	display: inline-block;
	width: 290px;
}

main section.left {
	position: relative;
	left: 0;
}

main section.right {
	position: relative;
	right: 0;
}

main img {
	margin: 30px 0px;
}

/* footer */
footer {
	padding: 40px 0px;
	border-top: 1px solid black;
}

footer p {
	margin: 50px 0px;
	text-align: center;
}

/* animations */
@keyframes nav-hover {
    to {
		color: darkgrey;
	}
}

@keyframes button-hover {
	from {
		font-size: 1.0em;
	}
	to {
		font-size: 1.3em;
	}
}

@keyframes button-out {
	from {
		font-size: 1.3em;
	}
	to {
		font-size: 1.0em;
	}
}

