/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 880px;
	/* TB LR */
	margin: 0 auto;
  }
  
  /* header */
  header {
	  display: flex;
  }
  
  header nav {
	width: 691px;
	vertical-align: top;
	margin-top: 35px;
  }
  
  header nav a {
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
  
  header nav a:first-child {
	margin-left: 0;
  }
  
  header nav a:last-child {
	margin-right: 0;
  }
  
  header .logo {
	margin-top: 25px;
  }
  
  /* cta */
  .cta {
	  display: flex;
  }
  
  .cta .cta-text {
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 75px;
  }
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  .cta img {
	margin-top: 69px;
  }
  
  .main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
  }
  
  .main-content .top-content {
	display: flex;
	padding: 0 10px;
  }
  

  .main-content .top-content .text-content {
	width: 410px;
	margin-right: 34px;
  }
  
  .main-content .top-content .text-content:last-child {
	margin-right: 0;
  }
  
  .main-content .middle-img {
	margin-top: 45px;
  }
  
  .main-content .bottom-content {
	display: flex;
	margin-top: 37px;
	padding: 0 10px;
  }
  
  .main-content .bottom-content .text-content {
	width: 275px;
	margin-right: 12px;
  }
  
  .main-content .bottom-content .text-content:last-child {
	margin-right: 0;
  }
  
  .contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
  }
  
  .contact p {
	margin: 20px 0;
  }
  
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
  }

  /*services.html*/
  .main-content-services {
	display: flex;
  }

  .text-content-services {
	flex: 50%;
  }
  
  .bottom-content-services {
	display: flex;
  }

	.container {
	width: 880px;
	/* TB LR */
	margin: 0 auto;
  }
  
  /* header */
  header {
	  display: flex;
  }
  
  header nav {
	width: 691px;
	vertical-align: top;
	margin-top: 35px;
  }
  
  header nav a {
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
  
  header nav a:first-child {
	margin-left: 0;
  }
  
  header nav a:last-child {
	margin-right: 0;
  }
  
  header .logo {
	margin-top: 25px;
  }
  
  /* cta */
  .cta {
	  display: flex;
  }
  
  .cta .cta-text {
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 75px;
  }
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  .cta img {
	margin-top: 69px;
  }
  
  .main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
  }
  
  .main-content .top-content {
	display: flex;
	padding: 0 10px;
  }
  

  .main-content .top-content .text-content {
	width: 410px;
	margin-right: 34px;
  }
  
  .main-content .top-content .text-content:last-child {
	margin-right: 0;
  }
  
  .main-content .middle-img {
	margin-top: 45px;
  }
  
  .main-content .bottom-content {
	display: flex;
	margin-top: 37px;
	padding: 0 10px;
  }
  
  .main-content .bottom-content .text-content {
	width: 275px;
	margin-right: 12px;
  }
  
  .main-content .bottom-content .text-content:last-child {
	margin-right: 0;
  }
  
  .contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
  }
  
  .contact p {
	margin: 20px 0;
  }
  
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
  }

	/*Begin CSS for services.html*/
	.container-services {
	width: 883px;
	/* TB LR */
	height: 2000px;
	margin: 0 auto;
	border: 0px solid red;
	}

	.services-header {
	font-family: 'Bangers', cursive;
	font-size: 25px;
	}
		
	/* header */
	header {
	display: flex;
	padding-bottom: 20px;
	font-weight: bold;
	background-image: linear-gradient(rgb(2, 30, 73), rgb(65, 95, 114), white, white);
	border: 0px solid red;
	}
		
	header nav {
	width: 691px;
	vertical-align: top;
	margin-top: 35px;
	border: 0px solid red;
	}		
		
	header nav a {
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
	border: 0px solid red;
	}
		
	header nav a:hover {
	text-decoration: underline;
	border: 0px solid red;
	}
		
	header nav a:first-child {
	margin-left: 0;
	border: 0px solid red;
	}
		
	header nav a:last-child {
	margin-right: 0;
	border: 0px solid red;
	}
		
	header .logo {
	margin-top: 25px;
	border: 0px solid red;
	}

	.cta-services {
	border: 0px solid red;
	}

	.cta-text-services {
	border: 0px solid red;
	}

	.cta-text-services-header {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.25;
	font-weight: bold;
	border-bottom: 2px solid black;
	}
	.services-header {
	font-family: 'Bangers', cursive;
	font-size: 25px;
	border: 0px solid red;
	}

	.main-content-services {
	display: flex;
	justify-content: space-between;
	border: 0px solid red;
	}
	
	.main-content-services div {
	flex: 50%;
	border: 0px solid red;
	}

	.main-content-services .text-content-services {
	display: flex;
	justify-content: space-between;
	border: 0px solid red;
	}
	
	.main-content-services .text-content-services div {
	flex: 50%;
	background: rgb(228, 227, 227);
	margin-top: 30px;
	padding: 20px;
	line-height: 1.25;
	font-weight: bold;
	border: 1px solid black;
	}

	.main-content-services .text-content-services div button {
	width: 145px;
	height: 37px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	}	

	/*.column-a {
	margin-right: 20px;
	padding-right: 20px;
		}*/

	.bottom-content-services {
	line-height: 1.25;
	font-weight: bold;
	margin-top: 40px;
	padding-top: 50px;
	border-top: 2px solid black;
	}

	.bottom-content-services .bottom-content-text .bottom-content-list {
	list-style-position: inside;
	list-style-type: square;
	padding-top: 20px;
	line-height: 2;
	}

	.bottom-content-services .bottom-content-text {
	display: flex;
	}
	
	.bottom-content-services .bottom-content-text div {
	flex: 50%;
	border: 0px solid red;
	}

	footer {
	height: 100px;
	background-image: linear-gradient(white, rgb(65, 95, 114), rgb(2, 30, 73));
	}