/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}







/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Your code starts here! */

/* Not sure if I need this */
body{
	width: auto;
	font-size: 20px;
	/* padding:2% 5% 2% 5%; */
}

/* Navigation Bar */
.navigation {
	color: gray;
	width: 100%;
	background-color: #F5F5F5;
	/* Allows the nav bar to scroll with the page */
	position: fixed;
	border: 1px solid black;
	display: flex;
	height: 1.5em;	
}

.navigation a{
	width: 18%;
	border-top: 1px solid black;
	border-right: 1px solid black;
	font-family: 'Lobster', cursive;
	background-image: url(https://images.unsplash.com/photo-1579063300556-dc4d0ae930cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2594&q=80);
	text-decoration: none;
	display: flex;
	justify-content: center;
}

/* Keeps the text color pink after being visited */
.navigation a:visited{
	color: pink;
}

.navigation a:hover{
	color: pink;
	text-align: center;
}

#link1{
	/* margin-right: .25%; */
	/* fixed missing gap between "servies" and "product" */
}

/* Nav bar image*/
.logo{
	
	width: 8%;
	position: relative; 
}
/* Header */
/*Innovation On Demand & image*/
.container1{
	width: 50%;
	text-align: center;
	font-size: 90px;
}

.container2{ 
	width: auto;	
	margin-top: 5%;
}


/*Features & About*/
/* WHY DO I HAVE TO SET WIDTH TO 49.8% TO GET EVERYTHING EVEN?*/
.firstBlock div{
	
	width: 49.8%;
	margin-top: 4%;
	padding-left: 3%; 
}

.firstBlock{
	border-top: 1px solid black;
}

/* Middle Image */
.middle-img{
	
	width: 80%;
	height: 150px;
	margin: 2% 10% 2% 10%;
}

/*Services, product & vision*/
.secondBlock div{
	
	width: 33%;
	margin-bottom: 4%;
	padding: 0% 1% 0% 1%;
}

.secondBlock{
	border-bottom: 1px solid black;
}

/* Last section of th page */
.contact{
	margin-top: 4%;
}

footer{
	text-align: center;
}