/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	margin: 30px auto;
	width: 876px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	color: lightgray;
	padding-right: 60px;
	text-decoration: none;
}


.home-content {
	margin: 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 876px;
}


.home-content div {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
}


.home-content div h1 {
	font-size: 90px;
	width: 65%;
	text-align: center;
	margin: 0 auto;
}

.home-content div button {
	margin: 20px auto;
	background: white;
	border: 1px solid black;
	height: 35px;
	width: 200px;
}

.main-content {
	padding: 40px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.primary-content-top  {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}


.primary-content .primary-top {
	border: solid 1px red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.middle-img {
	padding: 30px 0;
}

.primary-content-bottom  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.primary-content-bottom div {
	width: 290px;
}

.contact {
	padding: 40px 0;
}


.contact address {
	width: 200px;
}

.contact address span {
	display: block;
	margin-top: 20px;
}

.copyright {
	padding: 80px 0;
	text-align: center;
}

.services-header-img {
	padding: 30px 0;
}

.services-heading {
	font-size: 30px;
}

.main-services {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 30px 0;
	padding: 20px 0;
}


.main-services {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box {
	font-size: 16px;
	background: #f4f3f4;
	border: 1px solid black;
	width: 425px;
	height: 235px;
	margin: 13px 0;
	padding: 25px;
}

.box button {
	margin: 15px 0;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #000;
	background: white;
}

.services-list {
	list-style-type: square;
	padding: 20px
}

.services-secondary p {
	padding-right: 60px;
}
.services-list li {
	padding: 5px 0;
}

.services-secondary {
	display: flex;
	width: 100%;
}
