/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body {
	width: 876px;	
	margin: 0 auto;
}
.menu {
	width: 876px;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.menu nav {
	display: inline-flex;
	justify-content: space-around;
  }

.menu nav a {
	padding: 10px 50px 10px 0;
	font-size: 75%;
	color: lightgray;
	text-decoration: none;
	/* border: 1px solid red; */
}

.menu img {
	align-self: flex-end;
}

.cta {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta div{
	width: 48%;
	/* border: 1px solid red; */
	text-align: center;
}



.cta h1 {
	font-size: 75px;
	padding: 0;
}
button {
	border: 1px solid black;
	border-radius: 0%;
	padding: 5px 25px;
}

.header-image {
	padding: 30px 0;
}

.top-content {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between; 
}

.top-content div {
	width: 50%;
	padding: 25px 10px 25px 0px;
}

.bottom-content {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.bottom-content div {
	width: 33%;
	padding: 25px 10px 25px 0px;
}

.contact .email-address {
	color: black;
	text-decoration: none;
}

.contact h2 {
	padding: 40px 0 0 0; 
	margin: 0;
}

.contact .street-address {
	padding-top: 20px;
}

.contact .phone-number {
	padding-top: 20px;
}

.contact .email-address {
	padding-top: 20px;
}

.index-footer {
	text-align: center;
	font-size: 75%;
	padding: 40px 0 40px 0;
}

/* services page css below */

.header-headline {
	font-size: 150%;
}
.services-header-img {
	padding: 30px 0;
}

.services-content {
	/* border: 1px solid red; */
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	display: flex;
	flex-flow: row wrap;
	padding:30px 0;
	margin: 30px 0;
	justify-content: space-between;

}

.box {
	border: 1px solid black;
	background-color:#eee;
	width: 418.5px;
	padding: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.box h2 {
	margin-bottom: 20px;
	border: 1px solid red;
}

.box p {
	border: 1px solid red;
	margin-bottom: 20px;
}

.box button {
	width: 150px;
	padding: 10px 15px;
	border-radius: 3px;
	margin: 0;

}

.services-footer {
	padding: 0 0 60px 0;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid red;
	margin-top: 0;
	
}
.services-footer .footer-facts-copy {
	width: 418.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.services-footer p {
	padding-bottom: 20px;
}

.services-footer ul {
	list-style-type: square;
	list-style-position: inside;
}

.services-footer li {
	padding-bottom: 15px;
}

.copyright {
	text-align: center;
	font-size: 75%;

}