/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)!
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width:900px;
	margin: auto;
	
	
}
header {
	margin-top:15px;
	margin-left:35px;
	margin-bottom:-180px;
	display:flex;
	justify-content: center;
	
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav a {
	padding:10px 40px;
	color:lightgrey;
	text-decoration:none;
	
}


.first {
	display: flex;
	justify-items: center;
	
}

.first-img{
	margin-top:25%;
	margin-bottom:5%;
	margin-left:30%;
}

.logo {
	margin:3% 5%;
	padding-left:30px;
	
	
}

.first h1 {
	font-size:85px;
	text-align:center;
	display: flex;
	align-self: flex-end;
	margin-bottom:11%;

	
}

.startButton {
	display:flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	background:white;
	border:1px solid black;
	padding:5px 25px 5px 25px;
	margin-bottom: 7%;
	margin-left:-25%;
}

.topS {
	display:flex;
	width:100%;
	align-items: space-evenly;
	margin-bottom:30px;
	
	
}

.bottomS{
	display:flex;
	width: 100%;
	margin-top:30px;
	margin-bottom: 40px;
	justify-content: space-between;
	
}

.bottomP {
	width:32%;
}

/* .services {
	margin-left:25px;
	width:32%;
}

.product {
	margin-left:25px;
	width:32%;
}

.vision {
	margin-left:25px;
	width:32%;
} */


.borderLine {
	border-bottom: 1px solid black;
	margin-top: 15px;
	margin-bottom: 25px;
}

.firstBorderLine {
	border-bottom:1px solid black;
	margin-bottom: 80px;
	
}

.copywrite {
	margin:50px 0px;
	text-align:center;
}
