/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a{
	text-decoration: none;
	font-size: 18px;
	color: grey;
	margin: 45px 43px 30px;
}

.logo{
	width: 210px;
}

.home-top{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 70px;
	width: 1080px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.home-top h1{
	margin-left: 130px;
	font-size: 95px;
	text-align: center;
}

.home-top button{
	margin-left: 225px;
	font-size: 20px;
	border: 1px solid black;
	background-color: white;
	padding: 8px 45px;
}

#circle{
	margin-left: 85px;
	width: 475px;
}

.top-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top-main div{
	line-height: 1.2;
	margin: 0 10px;
	flex-wrap: wrap;
	width: 530px;
	font-size: 19px;
}

.middle-img{
	width: 1080px;
	margin: 50px;
}

.bottom-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bottom-main div{
	line-height: 1.2;
	margin: 0 15px 60px 0;
	flex-wrap: wrap;
	width: 340px;
	font-size: 19px;
}

.contact{
	margin: auto;
	margin-bottom: 50px;
	width: 1080px;
	font-size: 19px;
}

.contact p{
	margin-bottom: 20px;
}

.services-top{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.services-header-img{
	width: 1080px;
	height: 270px;
}

.services-about{
	width: 1080px;
	margin: 45px 0;
}

.services-about h1{
	font-size: 30px;
}

.services-about p{
	line-height: 1.3;
	font-size: 19px;
}

hr{
	border-top: 1px solid black;
	width: 1080px;
	margin-bottom: 50px;

}

.main-services{
	margin: auto;
	width: 1150px;
	height: 855px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size: 18px;
}

.main-services button{
	width: 120px;
	height: 35px;
	margin: 20px 0 0 0;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}
.main-services div{
	line-height:1.3;
	border: 1px solid black;
	width: 520px;
	height: 250px;
	padding: 20px;
}

.bottom-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 80px;
}

.bottom-services div{
	line-height:1.2;
	margin: 0 40px 0 0;
	font-size: 20px;
	width: 520px;
	height: 225px;
}

.bottom-services p{
	margin-bottom: 15px;
}

div ul{
	font-size: 22px;
	list-style: inside;
	line-height: 1.4;
}

.services-info-img{
	width: 520px;
}

footer{
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
}