/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

a {
	text-decoration: none;
	color: inherit;
}
.blurb:not(:last-child){
	margin-right: 1em;
}
.blurb-container {
	display: flex;
	justify-content: space-between;
}
.blurb-section {
	padding: 2em 0;
}
body {
	width: 1024px;
	margin: 0 auto;
	padding: 0px 80px 32px;
	height: auto;
}
.contact-section {
	padding: 2em 0;
	border-bottom: none;
}
.contact-section p {
	margin: 1em 0;
}
.facts-section {
	display: flex;
	padding: 2em 0;
	border-bottom: none;
}
.facts-section img {
	flex: 1;
	margin: 0 0 0 2em;
}
.facts {
	flex: 1;
}
.facts-section ul {
	list-style-position: inside;
	list-style-type: square;
	/* padding: 1em; */
}
.facts-section ul li {
	padding-top: 1em;
}
footer {
	padding: 2em 0;
}
header {
	padding: 2em 0;
}
.hero-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 2em 0 4em;
}
.hero-section div {
	flex-grow: 1;
	text-align: center;
}
.hero-section h1 {
	font-size: 4.5em;
	margin: 1rem;
}
.intro-section {
	padding-bottom: 2em;
}
.intro-section h1 {
	font-size: 1.5em;
}
.intro-section img {
	margin-top: 0;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	color: gray;
	text-decoration: none;
	font-size: .85em;
}
nav a:hover, nav a:active {
	text-decoration: underline;
}
p {
	line-height: 1.2;
}
.pseudo-button {
	border: 1px solid black;
	display: inline-block;
	padding: 8px 40px;
	margin: 1rem;
}
section {
	border-bottom: 1px solid black;
}
section img {
	margin: 32px 0;
	width: 100%;
}
.service {
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.05);
	padding: 1.5em;
	margin-top: 2em;
	width: 412px;
}
.services-button {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin-top: 1.2rem;
	padding: 10px 40px;
	font-size: .75em;
}
.services-section {
	border-bottom: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 2em;
}