/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 880px;
	margin: auto;
}

header {
	display: flex;
}

header nav {
	display: flex;
    padding-top: 35px;
	font-size: 20px;
	flex-direction: row;
}

header nav a {
	margin: 0 20px;
	text-decoration: none;
	color: grey;
}

a:hover {
	color: black;
}

header img.logo {
	margin-left: 20px;
    position: relative;
    top: 20px;
    width: 160px;
    height: 40px;
}

.top {
   display: flex;		
   border-bottom: 1px solid black;
   margin: 20px 0;
   padding: 20px 0;
}

.left-group {
	align-self: center;
    margin-left: 30px;
    text-align: center;
    font-size: 520%;
	width: 50%;
}

.button-size {
	font-size: 40%;
	position: relative; 
    bottom: 35px;ls 
}


.right-group {
	/* display: inline-block; */
}

.top-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-bottom: 10px;
	width: 100%;
}

.text-features {
	text-align: left;
	padding-bottom: 10px;
	/* display: inline-block; */
	width: 49%;
}

.text-about {
	/* display: inline-block; */
	width: 49%;
}

.image-content {
	padding-bottom: 10px;
}

.bottom-content {
	padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

.services {
	padding-top: 10px;
	padding-bottom: 10px;
	/* display: inline-block; */
}

.product {
	padding-top: 10px;
	padding-bottom: 10px;
	/* display: inline-block; */
	margin-left: 14px;
}

.vision {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
	/* display: inline-block; */
}

.contact {
	display: flex;
    flex-flow: column wrap;
	padding-top: 10px;
}

.phone {
	padding-top: 7px;
}

.email {
	padding-top: 7px;
}
footer {
	text-align: center;
}
