/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* This is the start of MOST of my CSS styling for index.html */

.container {
	margin: auto;
	margin-bottom: 50px;
	width: 876px;
}

.container header {
	margin-top: 10%;
	display: flex;
}

.container_nav {
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: #b9b9b9;
}

.main_title {
	display: flex;
	justify-content: space-around;
	margin: 10% 0 8%;
}

.main_title h1 {
	font-size: 80px;
	text-align: center;
	/* margin: 4% 0; */
	width: 50%;
}

.main_title a {
	text-decoration: none;
	vertical-align: middle;
	border: black solid 1px;
	font-family: sans-serif;
	font-size: medium;
	color: black;
	padding: 10px 40px;
}

.main_title p {
	margin-top: 15%;
	animation-name: header;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

@keyframes header {
	0% {color: black;}
	25% {color: blue;}
	50% {color: green;}
	75% {color: purple;}
	100% {color: black;}
}

.main_image {
	width: 50%;
}

/* hr {
	margin: 8% 0;
} */

.section {
	display: flex;
	margin-bottom: 5%;
}

.section p {
	line-height: 115%;
}

.second_section {
	display: flex;
	margin-top: 5%;
}

.middle_article {
	margin: 0 2%;
}

.address p {
	margin: 15px 0;
}

section h2 {
	margin-top: 50px;
}

.copyright {
	text-align: center;
}

/* This is the start of MOST of my CSS styling for my services.html page */

.line_break {
	margin: 5% 0;
}
.services-header-img {
	margin: 2% 0;
	width: inherit;
}

.content li {
	border: solid;
	border-width: 1px;
	padding: 2%;
	width: 47%;
	height: 250px;
	margin: 3% 0;
	line-height: 1.25;
	background-color: rgb(235,235,235);
}

.content_list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	flex-flow: row wrap;
	border-bottom: solid;
	border-bottom-width: 2px;
}

button {
	width: 38%;
	padding: 2.5%;
	background-color: rgb(255,255,251);
	border-radius: 10px;
	border-color: rgb(0,0,0);
	font-size: 12px;
	margin: inherit;
}

.content_list p {
	font-size: 16.25px;
}

