/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.body-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgb(27, 27, 27);
}

.nav-con {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: space-evenly;
}

.head-nav {
	justify-self: flex-start;
}
.head-nav a {
	text-decoration: none;
	margin-right: 60px;
	color: rgb(39, 38, 38);
	font-size: 14px;
}

.img-div {
	/* justify-self: flex-end; */
	margin-left: 40px;
	margin-top: -11px;
}

.main-header {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 80px;
	/* display: inline-block;
	margin-top: 145px; */
}

.main-con h1 {
	text-align: center;
	font-size: 80px;
	letter-spacing: 1.2px;
	/* margin-right: 50px; */
}

.main-con a button {
	padding: 6px 30px;
	border: 1px solid rgb(27, 27, 27);
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	width: 170px;
	font-family: 'Titillium Web', 'sans-serif';
} 

.main-con a button:hover {
	cursor: pointer;
}

.main-img {
	padding-left: 80px;
}

header hr  {
	margin-right: auto 0;
	margin-left: auto 0;
	margin-top: 75px;
	width: 65%;
}

.section-con {
	display: flex;
	flex-direction: column;
	justify-items: center;
	/* text-align: center; */
	/*margin-top: 35px; */
}

.section1 {
	display: flex;
	justify-content: center;
	/* justify-content: space-evenly; */
	/* margin: 5px; */
}

.section-con p {
	line-height: 20px;
}

.sects {
	text-align: left;
	width: 400px;
	margin-top: 25px;
	margin-bottom: 30px;
}

.sects.features {
	margin-right: 40px;
}

.sects.about {
	margin-right: 30px;
}

.content-img {
	text-align: center;
}

.sects.services {
	margin-top: 35px;
	margin-right: 18px;
	width: 280px;
}

.sects.product {
	width: 280px;
	margin-top: 35px;
	margin-right: 18px;
}
.sects.vision {
	margin-top: 35px;
	margin-right: 8px;
	width: 280px;
}

.section-con hr  {
	margin-right: auto 0;
	margin-left: auto 0;
	margin-top: 5px;
	width: 65%;
}

.contact-con {
	display: flex;
	justify-content: space-evenly;
}

.contact-div {
	align-self: flex-start;
}

footer {
	margin-top: 60px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 90px;
}


/* SERVICES PAGE */

#serv-header {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.serv-img {
	margin-top: 20px;
}

.servmain-con {
	display: flex;
	flex-direction: column;
	/* justify-items: center;
	align-self: center; */
	text-align: left;
	/* width: 400px;
	margin-top: 25px;
	margin-bottom: 30px; */
}

.serv-des {
	padding: 20px;
	border: 1px solid rgb(19, 18, 18);
	background: rgb(224, 224, 224);
}

.sect-but button {
	margin-top: 10px;
	padding: 6px 30px;
	border: 1px solid rgb(27, 27, 27);
	border-radius: 4px;
	background: #fff;
	font-size: 12px;
	font-weight: 600;
	width: 130px;
	font-family: 'Titillium Web', 'sans-serif';
} 