/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	width: 100%;
}
.inner-body {
	margin: 0 auto;
	min-width: 896px;
	max-width: 896px;
}
section {
	margin: 2em 0;
	width: 100%;
}

.h-center {
	text-align: center;
}
.w-full {
	width: 100%;
}

.flex {
	display: flex;
}
.f_direction_row {
	flex-direction: row;
}
.f_direction_col {
	flex-direction: column;
}
.f_wrap_nowrap {
	flex-wrap: nowrap;
}
.f_wrap_wrap {
	flex-wrap: wrap;
}
.f_align-items_flex-start {
	align-items: flex-start;
}
.f_align-items_center {
	align-items: center;
}
.f_justify-content_space-between {
	justify-content: space-between;
}
.f_align-content_center {
	align-content: center;
}
.f_align-content_space-between {
	align-content: space-between;
}
.f_align-content_space-around {
	align-content: space-around;
}

nav {
	height: 76px;
	/* line-height: 76px; */
}
nav a {
	color: gray;
}

a {
	text-decoration: none;
}
section a {
	color: black;
}

h1 {
	font-size: 5em;
	transform: scale(1.1, 0.9);
}
h2 {
	font-size: 1.5em;
	/* transform: scale(1.1, 0.9); */
}
h3 {
	font-size: 1em;
	/* transform: scale(1.1, 0.9); */
}

button {
	border: 1.5px;
	border-style: solid;
	border-color: black;
	width: 180px;
	padding: 5px 15px;
	font-size: 1.1em;
	background-color: white;
	cursor: pointer;
}

.row {
	margin-bottom: 2.5em;
}
.card {
	width: 48%;
}
.card-bg {
	padding: 1.25em;
	border: 1px solid black;
	background-color: #f4f3f4;
}

.learn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 40px;
  background: white;
  font-size: 0.85em;
}

p {
	transform: scale(1, 1.1);
	margin: 1.25em 0;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 2em;
}

/* Tweaks */
.v-margin-1 {
	margin: 1em 0;
}
.v-margin-2 {
	margin: 2em 0;
}
.v-margin-2_5 {
	margin: 2.5em 0;
}
.v-margin-3 {
	margin: 3em 0;
}
.v-margin-5 {
	margin: 5em 0;
}
.r-margin-0_75 {
	margin-right: 0.75em;
}
.b-margin-5 {
	margin-bottom: 5em;
}
.b-margin--0_5 {
	margin-bottom: -0.5em;
}
.t-margin-2_5 {
	margin-top: 2.5em;
}

/* Debug */
div {
	/* border: 2px dashed blueviolet; */
}