/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    /* font-family: 'Spicy Rice', cursive; */
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	box-sizing: border-box;
}
p{
	line-height: 1.2;
}
.container{
	width: 900px;
	margin: 0 auto;
}
header{
	margin: 10px 0 30px 0;
	height: 40px;
	width: 900px;
	display:flex;
	/* align-content: flex-end; */
	justify-content: space-between;
}
header nav{
	display: flex;	
	justify-content: flex-start;
}

header nav a{
	text-decoration: none;
	color: gray;
	padding: 5px 15px;
}
header nav a:hover{
	border-bottom: 2px solid gray;
}

.section{
	display: flex;
	margin-bottom: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid black;
}
article p{
	padding-right: 15px;
}
address{
	line-height: 1.5;
}
address p{
	margin-bottom: 10px;	
}

.logo{
	width: 150px;
	height: 40px;
	margin: 5px 5px 0 0;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 150px 40px;
	background-position: center;
}

h1{
	font-size: 70px;
	/* text-align: center; */
}

h2{
	font-size: 30px;
}

h3{
	font-size: 17px;
}

#hero{
	/* padding:100px 0 0 0; */
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	/* text-align: center; */
	display: flex;
}
.hero-title{
	text-align: center;
}
.services{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left{
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left .services{
	border-bottom: 1px solid black;
}

.right{
	height: 400px;
	width: 450px;
	background-image: url("../img/header-img.png");
	background-repeat: no-repeat;
	background-size: 300px 300px;
	background-position: center;
	float: right;
}
.home{
	height: 400px;
	width: 450px;
}
.button{
	padding: 8px 65px;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
}
.button:hover{
	background-color: maroon;
	color: white;
}

.middle-img{
	margin: 30px auto;
	width: 900px;
	height: 150px;
	background-image: url("../img/mid-page-accent.jpg");
	background-size: 900px 150px;
	background-repeat: no-repeat;
	background-position: center;
}

.services-header-img{
	margin-bottom: 35px;
}

.copyright{
	width: 200px;
	margin: 35px auto;
}
footer{
	display: flex;
	justify-content: center;
	margin: 25px 0;
}
/* Information Box */
li{
	list-style: disc;
	margin: 10px 0 0 20px;
}
.bigBox{
	display: flex;
	justify-content: space-between;
	/* border-bottom: 2px solid black; */
}
.smallBox{
	padding: 15px;
	width: 430px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
.infoBox{
	border: 1px solid gray;
	background-color: whitesmoke;
}
.facts{
	margin: 40px 0;
	padding-top: 40px;
	border-top: 2px solid black;
}
.learnMore{
	border: 1px solid black;
	background-color: white;
	text-decoration: none;
	color: black;
	width: 150px;
	padding: 10px 0;
	margin: 15px 0;
	display: flex;
	justify-content: center;
}

a.learnMore:hover{
	background-color: maroon;
	color: white;
}