/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body {
	display: block;
	width: 876px;
	margin: auto;
	height: auto;
}

nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 40px;
}

nav a {
	display: flex;
	justify-content: space-evenly;
	margin: 20px 40px 20px 40px;
	color: #bbb5b5;
	text-decoration: unset;
	font-size: 12px;
}

.linklogo {
	margin: 20px 0px 20px 15px;
}
.logo {
	display: flex;
	height: 25px;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 6%;
}

.innovation {
	height: 50%;
	width: 40%;
	text-align: center;
	margin-left: 20%;
}

header h1 {
	font-size: 50px;
}

header button {
	background: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 6px 38px;
}

.matrix {
	display: inline-block;
	width: 30%;
	margin: 3%;
}

.firstsection {
	display: flex;
	border-top: 1px solid black;
}

.firstcontent {
	display: inline-block;
	width: 48%;
	margin: 3% 0%;
}

.middle-img {
	display: flex;
	margin: auto;
}

.secondsection {
	display: flex;
	border-bottom: 1px solid black;
	margin: 1% 0% 0% 0%;
}

.secondcontent {
	display: inline-block;
	width: 33%;
	margin: 3% 0%;
}

.contact {
	display: flex;
	flex-direction: column;
	margin-top: 4%;
}

.farp {
	margin: 3% 0%;
}

footer {
	text-align: center;
	margin-bottom: 3%;
}

.services {
	margin: 2% 0% 4% 0%;
}

.servicescontent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	margin: 10px 0px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
	padding: 2% 0%;
}

.servicescontent div {
 flex: 0 48%;
 border: 1px black solid;
 margin: 1% 1%;
 padding: 15px 15px;
}

.servicescontent button {
	background: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-size: 10px;
	padding: 5px 20px;
	border-radius: 5px;
}
.facts {
display: flex;
margin: 3% 0% 10% 0%;
}

.services-info-img {
	margin-left: 50px;
	width: 50%;
}