/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Universal styling across pages */

.container{
	display: flex;
	max-width: 880px;
	margin: 0 auto;
	flex-direction: column;
	/* border: 1px solid black;  */
} 

.fixedNav nav{
	display: flex;
	justify-content: space-between;
	align-content: center ;
	flex-wrap: wrap;
	height:75px;
	/* position:fixed;  */
}

a{
	text-decoration:none;
	align-self: center;
	color: lightgrey;
}


/* Styling of the inovations page */

/* Section 1 container */
.innovation{
	display: flex;
	justify-content: space-between;
	align-content: center;
	border-bottom: 1px solid black;
	flex-wrap: wrap;
	padding: 25px;
}

.UI{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 48%;
	padding: 25px;
	font-size: 72px;
	order:1;
}

.UI button {
	width:150px;
	margin:15px auto;
	background: white;
}

/*Section 2 styling of Innovations page  */

.section-2{
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
	
}

.section-2 div{
	width:46%;
}

/* Dividing image */

/* Section 3 inoovations page */

 .section-3{
	display: flex;
	justify-content: space-between; 
	margin-top: 25px; 
	padding-bottom:25px;
	border-bottom: 1px solid black;

} 

.section-3 div{
	width: 32%;
}

/* Contact information container styling */

.contact{
	margin:25px 0;
}

.contact strong{
		padding: 15px 0 ;
		display: inline-block;
}


/* Services page styling*/
/* Main body container used to house all elemenets */


/* parent  of first section*/
.opener{
	display: flex;
	flex-direction: column;
}

.services{
	padding: 25px 0;
}

.services h1{
	font-size:24px;
}
/*  */
.main-container{
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
	align-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	border-top:1px solid black;
}

.main-container div{
	width: 48%;
	padding: 25px;
	margin: 15px 0;
	border: 1px solid black;
	background:rgb(236, 236, 238);
	
}

.main-container div button{
	margin-top: 15px;
	background: white;
}


/* This is the closing section of the services page */

/* Parent */
.closing{
	display: flex;
	justify-content: space-between;
	border-top:1px solid black;
	padding-top: 25px;
}

.facts{
	width: 48%;
}

.facts p, .opener p{
	padding: 15px 0;
}
.facts li{
	list-style: disc;
	margin-left: 10px;
	padding: 5px;
}

footer{
	text-align: center;
	margin: 25px;
}