/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body {
	margin: 0 auto;
	width: 900px;
	height: 1800px;
	font-size: 11pt;
	line-height: 1.3;
	z-index: 1;
}

nav {
	display: flex;
}

a {
	color: black;
	justify-content: flex-start;
	font-size: 14px;
	margin: 0 40px 0 0;
	padding: 10px;
	text-decoration: none;
	
}


.logo {
	display: flex;
    padding: 0 0 0 75px;
}

.logo:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.header-text {
	display: flex;
	height: 350px;
	font-size: 80px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 90px 0 0;
	text-align: center;
}
h1 {
	width: 300px;
	line-height: 1;
}

.header-logo {
	display: flex;
}

.header {
	display: flex;
	align-items: flex-end;
	padding: 130px 80px 60px 80px;
	border-bottom: solid 1px black
	
}

.button  {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0066ff;
	border: 1px solid black;
	font-size: 16px;
	height: 30px;
	width: 150px;
	margin: 0;
	padding: 0;
	
}

.article {
	display: flex;
	border-bottom: solid 1px black;
}

.articletop {
	width: 440px;
	height: 100px;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 35px 7px 35px 7px;
}

.articlebottom {
	width: 285px;
	
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 35px 7px 40px 7px;
}

.address {
	margin-top: 35px;
	width: 180px;
}
.address p {
	text-align: left;
}
  
footer {
	font-size: 14px;
	padding-bottom: 100px;
	padding-top: 40px;
	text-align: center;

}

.middle-img {
	width: 900px;
	/* position: fixed;
	width: 920px;
	height: 1100px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 100px;
	opacity: .1;
	z-index: -1;	 */
}

.nav-header .disabled {
	color: black;
}

.header-text .disabled {
	color: black;
}

.grow:hover {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        font-weight: bolder;
}

/* new styles */
body {
    font-size: 12pt;
}

.nav-header-services {
	display: flex;
	width: 900px;
	height: 50px;
	margin-top: 30px;
	padding: 8px 5px 5px 5px;
	position: fixed;
	background-color: lightgrey;
	opacity: 0.8;
}


.services-header-img {
    margin: 115px 0 35px 0;
    width: 900px;
}

.services-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 0 20px 0;
    padding: 0 0 35px 0;
    border-bottom: solid 1px black;
}

.services-header h1 {
    font-size: 20pt;
}

.container1 {
	width: 100%
    display: flex;
	justify-content: center;
	padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.item {
    border: solid 1px black;
    width: 400px;
    padding: 20px;
    margin: 20px 0;
    background-color: lightgrey;
    

}

.item-button {
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 1px black;
    border-radius: 6px
}

.service-footer {
	display: flex;
	border-bottom: 1px solid black;
	padding-bottom: 65px;
}

.service-footer h2 {
    font-size: 12pt;
}

.service-footer div {
    font-size: 12pt;
    text-align: left;
}


.service-footer ul {
    margin: 20px 0 0 50px;
    list-style-type: square;
}

.footer-copyright {
    display: flex;
	justify-content: center;
	padding-top: 30px;
}

.services-info-img {
	transform: scaleX(-1);
	margin: 0 20px 0 0;
	padding: 0 0 0 30px;
}

.nav-header-services .disabled {
	color: black;
}
