/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.navigation {
	list-style: none;
	width: 150%;
	height: 50px;

}
.navigation .link {	
	text-decoration: none;
	padding-left: 5%;
	color: gray;
	

}
.wrapper {
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;	
}
.logo {
	width:200px;
}
h1 {
	position: absolute;
	left: 20%;
	top: 30%;
	font-size: 60px;
	width:18%;
	text-align: center;

}
 .subhead {
	 display: flex;
	 justify-content: center;
	 
 }

 .section1 {
	border-top: 2px solid black;
	padding: 7% 0 7% 0;
	margin-left: 20%;
	display: flex;
	width: 60%;

  }
  .section2 {
	display: flex;
	width:70%;
	margin-left: 17%;
	padding: 5%;
  }
  .services {
	margin-left: 5%;
  }
  .about {
	margin-left: 5%;
  }
  .products {
	margin-left: 5%;
  }
  .vision {
	margin-left: 5%;
  }
  .button {
	border: 2px solid gray;
	color: gray;
	padding: 10px 45px 10px 45px;
	position: absolute; 
	left: 23%;
	top: 65%;
	text-decoration: none;
	font-size: 14px;
  }
  .header-img {
	margin-left: 60%;
	margin-top: 5%;
	margin-bottom: 5%;
  }
  .middle-img {
	margin-left: 18%;
	}
	.contact {
		margin-left: 5%;
		margin-right: 5%;
		padding: 3%;
		padding-left: 0%;
		border-top: 2px solid black;

	}

	footer {
		text-align: center;
		margin-bottom: 2%;
		margin-top: 2%;
	}