/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container-main{
	display: flex;
	width: 1000px;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
}

.navigation {
	display: flex;
	justify-content: space-between; 
	flex-direction: row;
}

 nav{
	display:flex;
	justify-content: space-evenly;
	flex-direction: row;
	width:1000px;
	
} 

a{
	text-decoration: none;
	color: gray;
}

.logo{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* outline: 2px solid blue; */
	width:300px;
	height:300px;
	font-size: 70px;
	margin-left: 130px;
	margin-top: 50px;
}

/* p {
	text-align:center;
} */

.get-started{
	display: flex;
	width: 100px;
	outline: 2px solid black;
	justify-content: center;
	margin-left: 220px;
}

 .head-main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* outline: 2px solid yellow; */
	align-items: stretch;
} 

.header-img{
	display: flex;
	/* justify-content: flex-end; */
	/* outline: 2px solid brown; */
	width: 400px;
	height: 400px;
}

.h-img{
	display: flex;
	justify-content: flex-end;
	/* outline: 2px solid purple; */
}

/* .head-title{
	display: flex;
	flex-direction: column;
	outline: 2px solid red;
	height: 200px;
	margin-top: 50px;

} */

.top-content{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.features{
	width: 490px;
}

.about{
		width: 490px;
}

.bottom-content{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.services{
	width: 325px;
}

.product{
	width: 325px;
}

.vision{
	width: 325px;
}

footer{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}