/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1.4;
  width:900px;
  margin:0 auto;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fjalla One', serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
h1{
  font-size:60px;
  line-height:.8;
}

/* Your code starts here! */

nav{
  width:900px;
  padding:20px 0;
  background-color:white;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  z-index:999;
/*   border:1px solid blue; */
}

nav a, img{
  text-decoration:none;
  align-items:center;
/*   border:1px solid orange; */
}

header{
  margin:12% 0 0;
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
/*   border:1px solid green; */
}

header .title{
  text-align:center;
  margin:0 10%;
 /*   border:1px solid red; */
}
button{
  font-size:15px;
  font-family:'Noto Sans';
  padding:5px 25px;
  background:white;
  border:1px solid black;
  margin:20px auto 0;
}

header img{
  width:50%;
}
hr{
  margin:20px 0;
}
.middle-img{
	margin:20px auto;
	width:100%;
}

.top-content{
  width:100%;
  display:flex;
}

.top-content div{
  width:50%;
  padding:15px;
/*   border:1px solid orange; */
}
.bottom-content{
  width:100%;
  display:flex;
}
.bottom-content div{
  width:33%;
  padding:15px;
/*   border:1px solid orange; */
}

footer{
/*   border:1px solid blue; */
  text-align:center;
}
