/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body, button {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



p {
	font-size: 100%;
}

h1 {
	font-size: 72px;
}

h2,h3,h4,h5 {
	font-size: 100%;

}

header {
	margin: 40px 10%;
	border-bottom: 1px solid grey;
}

.main-section {
	margin: 40px 10%;
	border-bottom: 1px solid grey;
}

.service-main {
	margin: 40px 10%;
	border-bottom: 1px solid grey;
}

.vision-main {
	margin: 40px 10%;
	border-bottom: 1px solid grey;
}

.contact-section {
	margin: 40px 10%;
}

.service-about {
	margin: 40px 10%;
}

.vision-info {
	margin: 40px 10%;
}

footer {
	text-align: center;
	margin-bottom: 40px;
	
}

/* top navigation bar section */

.top-bar {
	/* margin: 20px; */
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}

.top-bar nav {
	width: 70%;
	/*height: auto;
	display: inline-block;
	vertical-align: middle;  */
	display:flex;
	justify-content:space-between;
	
}

.top-bar nav a {
	/* margin-left: 9%; */
	color: grey;
	text-decoration: none;
}

.top-bar nav .first {
	/* margin-left: 0; */
}

.top-bar .logo {
	/* margin-left: 4%;
	width: 25%;
	height: 25%;
	display: inline-block;
	vertical-align: middle; */ 
}

/* main header section index*/

.main-header {
	/* margin: 50px; */
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:50px 0;

}

.main-header .left-side {
	text-align: center;
	/* margin-top:50px;
	width: 45%;
	display: inline-block; */
}

.main-header .main-img {
	margin-left: 9%;
	/*width: 45%;
	height: auto;
	display: inline-block;
	vertical-align: top; */
}
 .main-header button {
	height: auto;
	padding: 5px 40px;
	border: 1px solid black;

 }

/* main header section services*/

.services-head {
	padding-bottom: 40px;
}

.services-header-img {
	width: 100%;
	margin: 40px 0; 
}


/* main header section vision*/

.vision-header-img {
	width: 100%;
	margin: 40px 0;
}

.vision-head {
	padding-bottom: 40px;
}


/* main section styling */

.main-section .top-half {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

.main-section .top-half .left {
	/* width: 45%;
	display: inline-block; */

}

.main-section .top-half .right {
	
	margin-left: 7%;
	/*width: 45%;
	display: inline-block; */

}

.main-section .middle-img {
	width: 100%;
	height: 100%;
	display: inline-block;
}


.main-section .bottom-half { 
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
	/* text-align: unset;
	margin: 40px 0; */
}

.main-section .bottom-half .left{
	/* width: 30%;
	display: inline-block; */
}

.main-section .bottom-half .center{
	margin-left: 4%;
	/* width: 30%;
	display: inline-block; */
}

.main-section .bottom-half .right{
	margin-left: 4%;
	/* width: 30%;
	display: inline-block; */
}

/* main section styling services */

.service-main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service-main .infobox {
	width: 45%;
	height: 250px;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid black;
	text-wrap: wrap;
	background-color: lightgrey;
	text-align: left;

}

.service-main .infobox p {
	line-height: 1.25; 
}

.service-main .infobox button {
	height: auto;
	margin: 20px 0;
	padding: 7px 40px;
	border-radius: 5px;
	border: 1px solid black;
}

/* main section styling vision */

.vision-main {
	display: flex;
	justify-content: space-between;
}

.vision-main .vision-box {
	height: 550px;
	text-wrap: wrap;
	background-color: lightgrey;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 40px;
	padding: 20px;
	line-height: 1.25;
}

.vision-main .vision-box img {
	height: 45%;
	width: 45%;
}

.vision-main .vision-box button {
	height: auto;
	margin: 20px 0;
	padding: 7px 40px;
	border-radius: 5px;
	border: 1px solid black;
}

/* contact section styling */

.contact-section address{
	margin: 20px 0;

}

.contact-section p {
	margin: 20px 0;
}


/* service about section */

.service-about {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 100px;
}

.service-about .left {
	text-wrap: wrap;
	line-height: 1.25;
	padding-bottom: 20px;
	width: 50%;

}

.service-about .left ul {
	padding: 20px 0;
}


/*vision info section*/

.vision-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 100px;
}

.vision-info .left {
	line-height: 1.25;
	padding-bottom: 20px;
	
}

.vision-info .left ul {
	padding: 20px 0;
}

.vision-info img {
	height: 50%;
	width: 50%;
}