/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 880px;
	margin: auto;
}

.container1 {
	width: 876px;
	margin: auto;
}

.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: lightgray;
	margin-right: 60px;
}

.logo {
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px 0 50px 0;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
	height: 400px;
}

h1 {
	font-size: 40px;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	height: 800px;
}

.box {
	background: lightgray;
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 240px;
	border: 1px solid black;
	justify-content: space-between;
}

.bh2 {
	font-size: 20px;
	margin: 10px 0 0 10px;
}

.bp {
	margin: 0 10px 0 10px;
}

.butn {
	background: white;
	color: black;
	border: 1px solid black;
	border-radius: 2.5px;
	display: flex;
	justify-content: space-around;
	height: 30px;
	width: 200px;
	margin: 0 0 10px 10px;;
}

footer {
	margin-top: 50px;
	margin-bottom: 100px;
	padding-top: 50px;
	border-top: 1px solid black;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

h2 {
	font-size: 20px;
}

.fdiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 420px;
	height: 300px;
}

ul {
	margin-left: 20px;
	list-style-type: disc;
}

li {
	margin: 10px 0;
}

.copyright {
	display: flex;
	justify-content: center;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}

.tr {
	width: 45%;
}

.tl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 45%
}

.h1t {
	text-align: center;
	font-size: 100px;
}

.tb {
	margin: auto;
	margin-top: 10px;
	background: white;
	border: 1px solid black;
	width: 150px;
	height: 50px;
}

.ts {
	padding: 50px 0;
	border-top: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.s1 {
	width: 45%;
}

.bs {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.s2 {
	width: 30%
}

.vbs {
	margin: 50px 0;
}


