html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

/** container wrapper */
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

section#navigation-header{
  display: flex;
  flex-direction: row;
}

nav{
  display:flex;
  flex-flow: row nowrap;
  width:75%;
  margin-left: 5px;
}

nav ul{
  display: flex;

  list-style: none;
  align-items: center;
}

nav ul {
  display: flex;
  height: 3rem;
  overflow: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
}

/** Navigation A Elements **/
nav a{
  text-decoration: none;
  color: gray;
}

nav a:hover{
  background-color:#eee;
}

/** Branding **/
#branding{
  text-align: right;
  padding: 20px 0;
  width: 40%;
}

/*** ss ****/
#primary-header img{
  width: 100%;
  display: flex;
  jusitfy-content: center;
}


/************* ************ *******************/
#services{
  margin-top: 10px; /** to break even **/
  display: flex;
  flex-direction: row;
  justify-text: spacing-between;
  flex-shrink: 1;
}

section#services div{
  width: 50%;
}

hr.top-break{
  border: solid 0.5px #000;
  margin-top: 20px;
}

/*** grid hacks ***/
#services {
  padding-top: 25px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#services > div {
  display: flex;
  flex-basis: calc(43.5%); /**  math for % calculation **/
  justify-content: center;
  flex-direction: column;
}


/*
#services > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
}*/


/** service holder div **/
#services div{
  background-color:#F4F3F4;
  padding: 20px;
  margin-bottom: 40px;
  border: solid 1px black;
}
/* button **/
button{ width: 200px; margin-top: 20px; padding: 10px; border-radius: 10px; }

/* header styles **/
h2,h3{ font-weight: 900; font-family:"Bangers"; }
#services div h3{ margin-top: 0px;}

hr.hrBottom{
  border: solid 1px #000;
  margin: 15px 0 41px 0;
}

/* more **************************************/
section#more{
  display: flex;
  flex-basis: calc(43.5%);
  justify-content: space-between;
  flex-direction: row;
  flex-shrink: 1;
}

section#more > div{
  display: flex;
  width: calc(48.3%);
  flex-direction: column;
}

div.imageHolder{
  text-align: right;
}

div.imageHolder img{
  width: 100%;
}


section#more ul li{
  list-style-type: square;
}


/** footer **/
section#copyright{
  text-align:center;
  padding: 50px;
}




/*** SECTION:: HEADER ***/
section#header{
  display: flex;
}

/** inner@section:header nav **/
nav#primary-navigation{
  display: flex;
  flex-direction: row nowrap;
  width: 75%;
  margin: left;
  padding-top: 10px;
}

nav#primary-navigation ul{
  /** basic **/
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0; /** remove left padding ** only show space between */
}

/** branding **/
.branding{
  text-align: right;
  width: 30%;
}

/** product img holder **/
.product-img-holder{
  margin-top: 25px;  
}

.product-img-holder img{
  width: 100%;
  text-align:center;
}

/** section::details **/
section#details{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 1;
}

section#details .detail{
  border: solid 1px darkgray;
  background: lightgray;
}

section#details div.detail{
  padding: 20px;
  margin-bottom: 40px; /** this adds padding on the bottom **/
}

/** broadcast inner div position controls **/
section#details > div.detail{
  display: flex;
  flex-basis: calc(48%); /** this makes the space between the colum row |[ ] -space- [ ]| **/
  justify-content: center;
  flex-direction: column; /** change to row see what happens **/
}
/*** end section ***/



/**********************************************************************************************************************************
********************************************************************************************************************************/
/** section::reason **/
section#reasons{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 1;
}

section#reasons .reason{
  border: solid 1px darkgray;
  background: lightgray;
}

section#reasons div.reason{
  padding: 20px;
  margin-bottom: 40px; /** this adds padding on the bottom **/
}

/** broadcast inner div position controls **/
section#reasons > div.reason{
  display: flex;
  /** this makes the space between the colum row |[ ] -space- [ ]| adusting this allows you to add more in one row **/
  flex-basis: calc(31%); 
  justify-content: center;
  flex-direction: column; /** change to row see what happens **/
}
/*** end section ***/




/** button **/
/** since we only have one button we can just define it **/
button{ padding: 10px; width: 100%; max-width: 200px; margin: 25px auto; border-radius: 7px; background: #eee; border: solid 1px #000; }



/** HR SPACING **SPACER** */
hr{ margin: 25px 0; color: 000; border: solid 0.5px #000; }

.copyright{ text-align: center; font-weight: bold; }
