/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	margin: 5% 10% 5% 10%;
	background-color: white;
}

div{
	/* border: 1px solid black; */
}

nav {
	/* border: 1px solid black; */
	}

nav a{
	/* border: 1px solid black; */
	color: gray;
	}

.links{
	/* border: 1px solid black; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.links2{
	border: 1px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 5%;
	padding-bottom:5%;
}

.title{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 100%;
}

.title-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 49%;
	padding-top: 15%;
	padding-bottom: 15%;
}

.title-box h1{
	font-size: 70px;
	/* border: 1px solid black; */
	text-align: center;
}

.title-img{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50%;
}

.row1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

.features{
	width:49.5%;
	padding-right: 1%;
}

.about{
	width:49.5%;
	padding-right: 1%;
}

.middle-img, .mid-img{
	width:100%;
}

.row2{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

.services{
	width:33%;	
	padding-right: 2%;
}

.product{
	width:33%;
	padding-right: 2%;
}
.vision{
	width:33%;
	padding-right: 2%;
}

.contact{
	width:100%;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 3%;
}

.copyright{
	width:100%;
	text-align: center;
}

footer{
	height: 10%;
}


/* SERVICES style sheet */

.services2{
	padding-top: 1%;
	padding-bottom: 1%;
}

.middle-img2, .mid-img2{
	width:100%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.blocks{
	display:flex;	
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
	height: 700px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.digital-design{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}

.ux{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}

.digital-marketing{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}

.web-development{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}
	
.ios-development{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}

.android-development{
	width:47%;
	background-color:lightgrey;
	border:1px solid black;
	padding: 2%;
}

button{
	border:1px solid black;
	background-color: white;
	padding: 2%;
	border-radius: 10px;
}

.facts{
	display:flex;
	justify-content: space-between;
	padding-top: 2%;
	padding-bottom: 3%;
}
.facts-text{
	width:47%;
	/* border:1px solid black; */
}
.facts-image{
	width:47%;
	/* border:1px solid black; */
}

.services-info-img{
	width:100%;
}