/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	margin: 5% 10% 10% 10%;
	border: 5%
	padding: 5%;
}

nav {
	text-decoration: none;
	font-size: 20px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: gray;
}

.GreatIdea {
	text-align: right;
	margin-left: 680px;
	margin-top: -30px;
}

.GetStarted {
	font-size: 20px;
	border: .5px solid black;
	display: inline-block;
	padding: 10px 50px 10px 50px;
	text-align: center;
	margin-left: 250px;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin-right: 300px;
	margin-top: 100px;
}

.Circle {
	text-align: right;
	margin-right: -50px;
	margin-top: -350px;

}

h2 {
	font-size: 20px;
}

.Border1 {
	border: 10px solid black;
}

.Column1 {
	display: flex;
	justify-content: flex-end;
	column-count: 2;
	column-width: 5px;
	border-top: 1px solid black;
	margin-top: 80px;
}

.Column2 {
	display: flex;
	justify-content: flex-end;
	column-count: 3;
	column-width: 5px;
	border-bottom: 1px solid black;
	margin-top: 10px;
	padding: 20px;
	margin-bottom: 30px;
}

.Features {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.About {
	display: flex;
	flex-direction: column;
	align-content: end;
	margin: 10px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.Services {
	margin-top: 10px;
	margin-bottom: 50px;
	margin: 10px;
}

.Product {
	margin-top: 10px;
	margin-bottom: 50px;
	margin: 10px;
}

.Vision {
	margin-top: 10px;
	margin-bottom: 50px;
	margin: 10px;
}

#Contact {
	margin-bottom: 10px;
}

#Phone {
	margin-bottom: 10px;
	margin-top: 10px;
}

footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}