/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*shared CSS*/
.header-container {
	/* border: 1px solid blue; */
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu a {
	font-family: 'Titillium Web';
	color: #bfbfbf;
	text-decoration: none;
	/* border: 1px solid red; */
	padding: 50px;
	width: 160px;
}

.logo {
	/* border: 1px solid red; */
	padding: 50px;
}







/*CSS for index*/

.main-container {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.body-container {
	display:flex;
	flex-direction: column;
	/* border: 1px solid red; */
	justify-content: center;
	align-items: center;
}

.header1 {
	font-size: 100px;
	text-align: center;
	/* border: 1px solid red; */
	width: 500px;
	height: 300px;
}

.get-started {
	border: 1px solid black;
	width: 160px;
	padding: 10px 40px 10px 40px;
	margin-left: 170px;
}

.circle-logo {
	/* border: 1px solid red; */
}

.features-about {
	display: flex;
	justify-content: center;
}

.info {
	border-top: 1px solid black;
	width: 430px;
	padding: 20px;
	margin-top: 50px;
}

.info2 {
	border-bottom: 1px solid black;
	width: 280px;
	padding: 20px;
	margin-bottom: 50px;
}

.middle-img {
	/* border: 1px solid red; */
	width: 820px;
}

.copyright {
	/* border: 1px solid red; */
	text-align: center;
	padding-top: 20px;
	padding-bottom: 100px;
}

.contact {
	margin-right: 650px;
}






/*CSS for services*/

.new-services {
	border-bottom: 1px solid black;
	width: 900px;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.info-box {
	border: 1px solid black;
	width: 400px;
	padding: 20px;
	margin: 30px;
}

.learn-more {
	border: 1px solid black;
	border-radius: 10px;
	width: 180px;
	padding: 10px 50px 10px 50px;
	margin-top: 20px;
}

.new-header1 {
	font-size: 30px;
	font-weight: bold;
}

.new-header2 {
	font-size: 20px;
	font-weight: bold;
}