/*Start- Reset*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid gray; */
}


/*Personal Presets*/

h1,
h2,
h3 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

body,
div {
    width: 100%;
}


/*End Personal Presets*/


/*End-Reset*/


/*Start-Navigation (All Pages, index.html/services.html/about.html)*/

.navigation {
    width: 100%;
    border-bottom: 1px solid lightgray;
    box-shadow: 4px 4px 10px darkgray;
}

.nav {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 8vh;
}

ul {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}

li {
    color: black;
    margin-right: 8%;
}

li a:hover {
    background-color: black;
    color: white;
    transition: 0.5s ease-in;
}

#contact1 {
    padding-right: 3%;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
}

.logo {
    margin-right: -48%;
    float: right;
    width: 86%;
}

.home:hover {
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: 4px 4px 10px darkgray;
    transition: 0.6s ease-in;
}


/*End Navigation Bar*/


/*Start Header*/


/*Global*/

header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 3%;
}


/*Services.html heading*/

.servicesheader {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.servicesheader div.header-img {
    margin-top: 1%;
    display: block;
    width: 100%;
}

.header-img img {
    width: 100%;
    margin-left: -12%;
    margin-top: -4%;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.header-content .hservices {
    /* text-align: center; */
    font-size: 76px;
    margin-bottom: 3%;
    margin-left: -9%;
}

.servicesheader .content {
    /* text-align: center; */
    line-height: 2rem;
    font-weight: 1000;
    font-size: 20px;
    margin-left: -9%;
    padding-bottom: 4%;
    border-bottom: 1px solid darkgray;
}


/*End Services.html heading*/


/*Index.html Header*/

.innovation {
    font-size: 50px;
    text-align: center;
    width: 50%;
    /* border-right: 1px solid darkgray; */
    font-family: 'Bangers', cursive;
    font-weight: 300;
}

.innovation #btn {
    background-color: white;
    border: 1px solid darkgray;
    width: 40%;
    height: 9vh;
    font-size: 30px;
    border-radius: 10px 0 10px 0;
}

.innovation #btn:hover {
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 8px darkgray;
    transition: 0.4s ease-in;
}

.img-home {
    align-self: center;
    margin-left: 41%;
}


/* End Index.html Header*/

.top-content {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-bottom: 6%;
}

.top-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.top-content .features {
    border-right: 1px solid darkgray;
    padding-right: 1%;
    margin-left: 1%;
}

.top-content .about {
    margin-left: 3%;
}

.top-content div h2 {
    font-size: 50px;
}

.top-content div p {
    margin-top: 4%;
    line-height: 2rem;
    text-align: center;
}


/*Service Page Cards*/

.cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 9%;
    justify-content: space-evenly;
    margin-top: 4%;
    border-bottom: 2px solid black;
}

.cards section div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 78%;
}

.cards section {
    margin-bottom: 4%;
    border: 1px solid black;
    background-color: whitesmoke;
    width: 44%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 53vh;
}

.cards section div h2 {
    margin-bottom: 11%;
    text-align: center;
}

.cards div button {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    margin-top: 7%;
    margin-left: -4;
    font-weight: 700;
    border: 1px solid black;
    background: whitesmoke;
    width: 50%;
    height: 6vh;
    border-radius: 0 10px;
}

.cards div button:hover {
    border-radius: 10px;
    letter-spacing: 2.5px;
    font-weight: 900;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 8px darkgray;
    transition: 0.4s ease-in;
}


/*End Service Page Cards*/


/*Middle Image*/

div.middle {
    width: 100%;
}

img.middle-img {
    width: 100%;
    box-shadow: 4px 4px 10px darkgray;
}


/*End Middle Image*/


/*Bottom Content*/

.bottom-content {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.bottom-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.bottom-content div h2 {
    margin-bottom: 3%;
    text-align: center;
}

.bottom-content div p {
    margin-bottom: 19%;
    line-height: 2rem;
    text-align: center;
    border-bottom: 1px solid darkgray;
    padding-bottom: 11%;
}


/*End Bottom Content*/


/*Contact*/

.homefooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-left: 1px solid darkgray;
    margin-left: 4%;
    padding-left: 3%;
    margin-bottom: 1%;
}

.c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c1 li {
    width: 100%;
    margin-right: -1%;
    text-align: left;
}

footer .footcon {
    display: flex;
    flex-direction: column;
}

.contact {
    text-align: left;
    padding-left: 2%;
}


/*End Contact*/


/*Services Footer Content*/

.servicesfooter {
    display: flex;
    flex-flow: row;
    margin-top: -5%;
    justify-content: center;
    width: 100%;
    margin-left: 4%;
    padding-left: 3%;
    margin-bottom: 1%;
}

footer .footercontent {
    display: flex;
    flex-flow: column;
}

.footerlist {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-content: flex-start;
    list-style-type: disc;
    text-align: left;
}

.footerlist li {
    text-align: left;
    align-self: flex-start;
    line-height: 2;
}

.factspara {
    /* border: 1px solid; */
    width: 40%;
    line-height: 2;
    font-weight: 540;
}

.footer-img {
    display: flex;
    flex-flow: column;
    margin-right: 15%;
    width: 100%;
    height: 40vh;
}

.footer-img img {
    height: 93vh;
    width: 100%;
}

.copydiv {
    display: flex;
    justify-content: center;
    align-content: center;
}


/*End Services Footer Content*/