/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container, .top-nav {
	width: 880px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid black;
	height: 50px;
	background-color: cadetblue;

	/* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
	-moz-box-shadow:0 0 5px 0 black;
	-webkit-box-shadow:0 0 5px 0 black;
	box-shadow:0 0 5px 0 black;
}

header a {
	color: lightgray;
	text-decoration: none;
	margin-right: 25px;
}

header a:hover {
	color: white;
}

.logo {
	margin: 5px;
}

.blurb-section {
    display: flex;
    align-items: center;
	width: 100%;
	height: 380px;
	margin-top: 100px;
}

.blurb-text-div {
	width: 49%;
	z-index: -1;
}

.blurb-text {
	text-align: center;
	font-size: 75px;
	width: 100%;

}

.blurb-button-div {
    display: flex;
    justify-content: center;
	width: 100%;
}

.blurb-button {
	background-color: white;
	border: 1px solid black;
	padding: 5px 50px;
}

.blurb-button:hover {
	animation: tremble;
	animation-duration: .1s;
	animation-iteration-count: infinite;
    cursor: pointer;
}

.blurb-img-div {
	width: 49%;
	height: 380px;
}

.blurb-img {
	z-index: -1;
}

.main-text {
	font-family: 'Rajdhani', sans-serif;
}

.section1 {
    display: flex;
    justify-content: space-between;
	border-top: 1px solid black;
	width: 100%;
	padding: 25px 0;
	margin-top: 30px;
	height: 100px;
}

.features, .about {
	width: 49%;
	z-index: -1;
}


.middle-img {
	display: block;
	margin: 40px auto;
}

.section2 {
	display: flex;
    justify-content: space-between;
	border-bottom: 1px solid black;
	width: 100%;
	height: 175px;
	padding: 15px 0 50px 0;
	margin-bottom: 15px;
}

.services, .products, .vision {
	width: 32%;
	padding-right: 10px;
}

address {
	margin: 15px 0;
}

.phone {
	margin: 15px 0;
}

.copyright {
	text-align: center;
	margin: 20px;
}

@keyframes tremble {
	0% { transform: rotate(0deg) }
	25% { transform: rotate(1deg) }
	50% { transform: rotate(0deg) }
	75% { transform: rotate(-1deg) }
	100% { transform: rotate(0deg) }
}
