/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	border:1px solid grey;
	margin: 0 auto;
}

.navigation {
	display:flex;
	justify-content:space-around;
	align-items: center;
	margin:50px 200px;
	width:80%;
}

.navigation a {
	text-decoration:none;
	color:grey;
	font-size:20px;
	font-weight:lighter;
}
.navigation a:hover{
	text-decoration:underline;
}



.header {
	display:flex;
	justify-content:space-evenly;
	margin:50px;
	border-bottom:1px solid black;
	padding:50px;

}
.header1{
	display:flex;
	flex-direction:column;
	align-items:center;	 
	margin:50px 0;
}
h1 {
	font-size:500%;
	width:80%;
	text-align:center;
	
}
button {
	border:1px solid black;
	background:white;
	color:black;
	width:150px;
	height:30px;
	font-weight:bold;
}
button a {
	text-decoration:none;
}
button a:hover {
	color: black;
	text-decoration:underline;
}
.image1 {
	display:flex;
}
.top-content{
	display:flex;
	justify-content: space-between;
	width:80%;
	margin:10px 150px;
}
.content1 {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	
}
p {
	font-size:120%;
}
.middle-img {
	width:80%;
	height:30%;
	margin:50px 150px;
}
.bottom-content {
	display:flex;
	align-content: center;
	width:80%;
	margin:20px 150px;
	border-bottom:1px solid black;
	justify-content:space-between;
	padding:50px;
	
}
.bc {
	display:flex;
	flex-wrap:wrap;
	
	
}
.contact {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	margin:50px 150px;
	
}
.contact-info {
	display:flex;
	flex-direction:column;
	margin-right:20px;
}
.c1 {
	padding:10px;
	width:30%;
	font-size:100%;
	
}

footer {
	display:flex;
	justify-content:center;
	margin:50px;
}

/* Page 2 */

.first-section {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	margin:50px 200px;
}
.h1 {
	display:flex;
	justify-content: flex-start;
	font-size:150%;

}
.services-header-img {
	display:flex;
	align-items:center;
	margin:50px 180px;
	width:70%;
}
.first-section-body {
	display:flex;
	flex-direction: column;

}
