/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*A master container keeps the entire page aligned. It contains all content */
.container {
	/*A set width for my master container, so that no page content is wider than the widest image*/
	width: 880px; 
	/*margin: 0 auto; makes sure that everything on the page sits centrally; browser auto-sets margins*/
	margin: 0 auto;
  }

/* Header CSS */
/* My header contains my nav and logo */

	header {
		/* Makes everything auto-display in a row */
		display: flex;  
		/* Ensures there is space between the header logo and nav bar; pushes both to edge */
		justify-content: space-between; 
	} 

		/* header nav wraps around my entire list of items */
		header nav {
			/* Items in a row */
			display: flex; 
			/* Even space between each menu item */
			justify-content: space-evenly; 
			/* Aligns items in the center, so looks nice with logo */
			align-items: center; 
			}
			
				/* Styles every list item in my nav */
				header nav a {
					font-size: 14px;
					color: gray;
					margin-top: 20px; 
					margin-right: 70px; 
				}

	/* Logo image styling */
	header .logo {
		/* Adding margin until logo vertically aligns */
		margin-left: 10%; 
		margin-top: 20px; 
	}
  
/* Tagline CSS */
/* My tagline container holds text, a button, and the header image */
	.tagline {
		display: flex; 
	}
	
	.tagline .cta-text {
		/* creating space */
		margin-top: 120px;
		padding: 0px 75px;

		/* font styling */
		font-size: 77px;
		text-align: center;
	}   

	.tagline .cta-text button {
		/* font styling */
		font-family: 'Bangers', cursive;
		font-size: 17px;
		background: white;

		/* for easier alignment with img */
		vertical-align: top;

		/* creating space */
		margin-top: 6px;
		padding: 8px 44px;
		border: 1px solid black;
	}

	.tagline img {
		/* creating space */
		margin-top: 69px;
	}

/* Page-content CSS */
/* Page-content includes top-content, a middle img, and bottom-content */

	.page-content {
		/* Border set as a line break illusion */
		border-top: 1px solid black;
		/* Creating space*/
		margin-top: 76px;
		padding-top: 39px;
	}

	.page-content .top-content {
		/* Setting up display: flex for the parent container of my content-box*/
		display: flex; 
		justify-content: space-between; 
		/* Set top right padding at 0; bottom left padding at 10 px */
		padding: 0 10px;
	} 

	.page-content .middle-img {
		/* Image to display in a row*/
		display: flex; 
		margin-top: 45px;
	}

	.page-content .bottom-content {
		/* Setting up display: flex for bottom content*/
		display: flex; 
		margin-top: 37px;
		padding: 0 10px;
	}

/* Contact CSS */
/* Contact includes address and paragraph addresses */

	address {
		margin-top: 57px;
		border-top: 1px solid black;
		padding: 39px 10px 0;
	}
	
	address p {
		margin: 20px 0;
	}

/* Footer CSS */
/* Styling the copyright to be center of the page */

	footer {
		margin: 32px 0;
		text-align: center;
		font-size: 14px;
	}

/*Services-specific CSS starts here!  */

	/*Styling the intro at the top of the page */
		/*Header styling*/
		.services-summary h2 {
			font-size: 30px; 
		}

		.services-summary div {
			padding-bottom: 30px; 
			border-bottom: 1px solid black; 
		}

		.services-header-img {
			/* Set only a top and bottom margin so image still centers */ 
			margin-top: 30px; 
			margin-bottom: 30px; 
		}

	/*Styling the details section*/
		.services-details {
			display: flex; 
			flex-wrap: wrap;
			justify-content: space-between; 
			padding-top: 30px; 
			padding-bottom: 30px; 
			border-bottom: 1px solid black; 
		}

		.detail-box {  
			border: 1px solid black;
			background-color: whitesmoke;  
			padding: 20px; 
			width: 45%;  
			margin-bottom: 40px; 
		}

		.detail-box button {
			padding: 10px; 
			padding-right: 40px; 
			padding-left: 40px; 
			margin-top: 10px; 
			border: 1px solid black;
			border-radius: 5px; 
		}

	/*Styling the services facts section*/
	.services-facts {
		display: flex; 
	}

	.services-facts h2 {
		padding-top: 20px; 
	}

	.services-facts p {
		padding-top: 10px; 
		padding-bottom: 20px;  
		margin-right: 50px; 
	}

	.services-facts ul {
		padding-left: 30px; 
		padding-bottom: 20px; 
		list-style-type: square; 
	}

	.services-facts li {
		padding: 5px; 
	}

	.services-info-img {
		margin-top: 20px; 
	}
