h2 {
	font-size: 1.25em;
}

.cta {
	display: flex;
	padding-top: 140px;
	justify-content: space-evenly;
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 40px;
	flex-wrap: wrap;
}

.cta h1 {
	font-size: 76px;
	margin-top: 50px;
}

.cta button {
	background: repeating-radial-gradient(
		circle,
		purple,
		purple 10px,
		#4b026f 10px,
		#4b026f 20px
	);
	border: 1px solid #360d81;
	color: #EAD7D7;
	font-weight: bold;
	padding: 10px 40px;
	border-radius: 5px;
	transition: 0.1s;
}

.cta button:hover {
	border: 2px solid #360d81;
	font-size: 14px;
}

.cta img {
	width: 379px;
	border-radius: 50%;
	border: 1px solid darkslategrey;
}

.info {
	margin-top: 40px;
	border-bottom: 1px solid black;
	padding-bottom: 40px;
}

.info-container {
	display: flex;
}

.info-container p {
	line-height: 1.25;
}

.info-img {
	margin: 40px 0;
}

.info-img img {
	width: 100%;
	border: 2px solid darkslategrey;
	border-radius: 5px;
}

.contact {
	margin-top: 40px;
}

.contact p {
	display: inline-block;
	line-height: 1.5;
}

.contact p:first-child {
	margin-right: 25px;
}

.contact a {
	text-decoration: none;
}

@media screen and (max-width: 433px) {
	.cta {
		flex-direction: column-reverse;
	}

	.cta img {
		max-width: 100%;
	}
}
