/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.nav-container {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  background-color: white;
  height: 100px;
}

nav {
  margin: 0 auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: grey;
}

header {
  display: flex;
  margin-top: 20%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 50%;
  flex-flow: column wrap;
  text-align: center;
}

header h1 {
  font-size: 80px;
  margin-bottom: 7%;
}

header a {
  margin-top: 10%;
  text-decoration: none;
  padding: 5px 40px;
  border: 1px solid black;
  color: black;
}

.content-top {
  border-top: 2px solid black;
  padding-top: 5%;
  margin-top: 10%;
  width: 100%;
  display: flex;
}

.features {
  flex-direction: column;
  width: 50%;
  display: flex;
  margin-bottom: 5%;
}

.about {
  flex-direction: column;
  width: 50%;
  display: flex;
  margin-bottom: 5%;
}

.content {
  width: 100%;
  display: flex;
}

.content img {
  max-width: 100%;
  margin: 0 auto 5% auto;
}

.services {
  flex-direction: column;
  width: 33%;
  display: flex;
  margin-bottom: 5%;
}

.product {
  flex-direction: column;
  width: 33%;
  display: flex;
  margin-bottom: 5%;
}

.vision {
  flex-direction: column;
  width: 33%;
  display: flex;
  margin-bottom: 5%;
}

.content:nth-child(4) {
  border-bottom: 2px solid black;
}

address {
  margin-top: 5%;
  list-style-type: none;
  line-height: 1.5rem;
}

footer {
  text-align: center;
  margin: 10% 0 20% 0;
}

.hero-img {
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.hero-img img {
  justify-content: center;
  max-width: 100;
}

.services-main {
  margin: 3% 0 3% 0;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
}

h2.special {
  font-size: 30px;
}

.services-main p {
  font-size: 18px;
}

.flex-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}

.flex-item {
  display: flex;
  width: 47%;
  padding: 2%;
  background-color: lightgray;
  margin-bottom: 5%;
  border: 1px solid black;
  flex-direction: column;
}

.flex-item a {
  margin-top: 4%;
  justify-content: center;
  padding: 3% 10%;
  width: 40%;
  height: 100%;
  background-color: green;
  display: flex;
  font-size: 12px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.service-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.service-container li {
  list-style-type: square;
  line-height: 1.5em;
  margin-left: 3%;
}

.contact-form-container {
  display: flex;
  margin-top: 25%;
  flex-direction: column wrap;
  justify-content: center;
  text-align: center;
}

.contact-form-container input[type="text"] {
  display: flex;
  width: 450px;
  height: 50px;
  font-size: 22px;
  color: lightgray;
  margin: 5%;
}

.contact-form-container textarea {
  display: flex;
  font-size: 18px;
  color: lightgrey;
  margin: 5%;
  width: 450px;
  height: 220px;
}

.contact-header {
  display: flex;
}

label {
  font-size: 50px;
}

.contact-form-container input[type="submit"] {
  height: 50px;
  width: 200px;
}
