/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.help {
	border: 1px solid red;
}

header {
	width: 850px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

nav {
	display: flex;
	width: 650px;
}

nav a {
	padding: 0 40px 0 0;
	color: gray;
	text-decoration: none;
	padding: 10px;
	margin: 0 40px 0 0; 
}

nav a:first-child {
	padding-left: 0;
}

main {
	width: 850px;
	margin: 0 auto;
}
.top-content {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	border-bottom: 1px solid black;
	padding: 30px 0 50px;
}

.top-content-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.top-content-left h2 {
	font-size: 80px;
	text-align: center;
}

button {
	background: white;
	border: 1px solid black;
	width: 180px;
	align-self: center;
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
}

.middle-content{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.middle-content-left {
	padding-right: 10px;
}

.middle-img {
	width: 850px;
}

.bottom-content {
	display: flex;
	justify-content: space-evenly;
	padding: 30px 0;
	border-bottom: 1px solid black;
}

.bottom-content-center {
	margin: 0 10px;
}

footer {
	width: 850px;
	margin: 0 auto;
	padding: 30px 0;
}

.phone {
	margin: 15px 0;
}

.copyright {
	margin: 20px;
	text-align: center;
}

.services-header-img {
	width: 850px;
}

h1 {
	font-size: 20pt;
}

.services-top {
	padding: 30px 0;
	border-bottom: 1px solid black;
}

.services-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0;
}

.card {
	border: 1px solid black;
	width: 400px;
	padding: 20px;
	margin: 20px 0 20px;
}

.card button {
	margin-top: 20px;
	border-radius: 5px;
}

.service-facts {
	display: flex;
	justify-content: space-evenly;
	border-top: 2px solid black;
	padding-top: 40px;
}

.services-info-img {
	height: 275px;
	padding-left: 20px;
}

ul {
	list-style-type: square;
	margin:20px;
}

li {
	margin: 10px 0;
}

.contact-header {
	height: 194px;
	overflow: hidden;
	position: relative;
}

.contact-header-img {
	position: absolute;
	top: -200px;
}

.contact-top {
	padding: 30px 0;
	border-bottom: 1px solid black;
}

.contact-main {
	display: flex;
	justify-content: center;
}

.contact-phone {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-phone img {
	height: 150px;
	width: auto;
	border: 1px solid black;
	border-radius: 50%
}

.contact-phone h2 {
	text-align: center;
	font-size: 20pt;
}

.contact-phone h2:last-child {
	margin-top: 20px;
}

.contact-form {
	padding: 30px 50px;
	border-right: 1px solid black;
	width: 449px;
}

form {
	display: flex;
	flex-direction: column;
	align-content: center;
}

form p {
	text-align: center;
	margin: 10px;
	font-weight: bold;
}

form .label {
	margin: 20px;

}

.contact-address {
	text-align: center;
	padding: 20px;
}

.contact-main-right {
	width: 425px; 
}