/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	width: 920px;
	margin: auto;
	padding: 20px;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

header nav a{
	display:flex;
	justify-content: flex-start;
	align-content: center;
	text-decoration: none;
	color: lightgrey;

}

header nav{
	width: 70%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.headline{
	display:flex;
	width: 50%;
	flex-direction: column

}

h1{
	font-size: 75px;
	text-align: center;
	font-weight: 200;
	margin-bottom: 0;
}

h2{
	font-size: 20px;
	font-weight: 200;
}

.headline a{
	display: flex;
	text-decoration: none;
	width: 150px;
	height: 30px;
	background: white;
	color: black;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

.banner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0 80px;
}

.round-img{
	width: 400px;
}

.middle-img, .services-header-img{
	width: 880px;
}


.main-1, .main-2{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
.main-1{
	border-top: 1px solid black;
}

.main-1 section, .main-2 section{
	display: flex;
	flex-direction: column;
}

.main-2{
	border-bottom: 1px solid black;
}

.main-2 section{
	width: 32%;
}

/*provided code gave a bottom margin of 15px and I wanted to reset this*/
.contact h3, .services-details section h3, .services-facts h3{
	margin-bottom: 0;
}

.contact{
	height: 180px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

footer{
	text-align: center;
	font-size: 14px;
	margin: 30px 0;
}

.services-intro{
	margin: 30px 0 40px;
}

.services-details{
	height:820px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-evenly;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}

.services-details section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 220px;
	width: 420px;
	padding: 20px;
	border: 1px solid black;
	background: #F8F8F8;
}

.services-details section a{
	display: flex;
	text-decoration: none;
	color: black;
	height: 30px;
	width: 140px;
	border: 1px solid black;
	background: white;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.services-facts{
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.services-facts section{
	height: 300px;
	width: 410px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul{
	list-style: square;
	text-indent: 8px;
	padding-left: 15px;
}

li{
	margin-bottom: 25px;
}

li:last-child{
	margin: 0;
}