
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

/* 

Questions I have:

putting body with flex???
it's getting annoying to change the width for images as well as the body etc? way around that?

*/

body{
	width: 800px;
	margin: 0 auto;
}

header{
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

nav{
	background: lightblue;
	z-index: 1;
	display: flex;
	color: grey;
	justify-content: space-between;
	width: 100%;
}


nav a:hover{
	-webkit-animation: text-shadow-pop-top 0.6s both;
	animation: text-shadow-pop-top 0.6s both;
}


.index .innovation{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.index .title h1{
	font-size: 3.5em;
	text-align: center;
	font-family: 'ZCOOL KuaiLe', cursive;
}

.index .innovation .title{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.index .innovation button{
	border: 1px solid black;
}

.index .getStarted:hover{
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}

.index hr{
	height: 2px;
	background: gray;
}

.index .features-about{
	display: flex;
}

/* why did I have to do this */
.index .features-about .about{
	margin-left: 20px;
}

.index .middle-img{
	width: 800px;
}

.index .services-product-vision{
	display: flex;
}

.index .copywright{
	text-align: center;
}

.index main section, .index main img, .index footer{
	margin: 20px 0px;
}




/* For services.html --- I'm assuming with multiple css files I won't run into mutliple named class issues>? */
.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page .services-header-img{
		width: 480px;
		padding-bottom: 20px;
	}
}

.services-page .services-header-img{
	width: 800px;
	padding-bottom: 20px;
}


.services-page .intro{
	border-bottom: 1px solid black;
	margin: 20px 0;
	padding: 20px 0;
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page main .row{
		display: flex;
		flex-direction: space-between;
	}
}

.services-page main .row{
	display: flex;
	flex-direction: space-between;
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page main .row section{
		display: flex;
		border: 1px solid black;
		background: #F4F3F4;
		flex-flow: column wrap;
		flex-direction: flex-start;
		margin: 20px 10px;
		padding: 10px;
	}
}
.services-page main .row section{
	display: flex;
	border: 1px solid black;
	background: #F4F3F4;
	flex-flow: column wrap;
	flex-direction: flex-start;
	margin: 20px 10px;
	padding: 10px;
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page button{
		border: 1px solid black;
		border-radius: 5px;
		width: 150px;
		height: 50px;
		margin: 10px 0px;
		background: white;
	
	}
}

.services-page button{
	border: 1px solid black;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	margin: 10px 0px;
	background: white;

}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page main{
		border-bottom: 1px solid black;
	}
}	

.services-page main{
	border-bottom: 1px solid black;
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page .info{
		display: flex;
		margin: 40px 0px 10px 5px;
		flex-direction: space-between;	
	}
}	

.services-page .info{
	display: flex;
	margin: 40px 0px 10px 5px;
	flex-direction: space-between;	
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page .services-info{
		display: flex;
		margin: 0px 10px 0px 0px;
		padding: 10px;
		flex-flow: column wrap;
		flex-direction: flex-start;
	}
}	

.services-page .services-info{
	display: flex;
	margin: 0px 10px 0px 0px;
	padding: 10px;
	flex-flow: column wrap;
	flex-direction: flex-start;
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page ul{
		margin-left: 20px; /* how do i not do this? */
		list-style-type: square;
		line-height: 2;	
	}
}	

.services-page ul{
	margin-left: 20px; /* how do i not do this? */
	list-style-type: square;
	line-height: 2;	
}

.services-page @media (min-width: 320px) and (max-width: 480px){
	.services-page footer p{
		margin-top: 50px;
		text-align: center;
	}
}

.services-page footer p{
	margin-top: 50px;
	text-align: center;
}


/* for product.html  */


.product-images{
	display: flex;
	width: 800px;
	justify-content: space-between;
}

.product-images img{
	width: 48%;
	height: 48%;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 5em;
}

.product-page .intro{
	margin-bottom: 20px;
}

.product-page main .row{
	display: flex;
	justify-content: space-between;
}

.product-page .row section{
	width: 30%;
}

.weather-pic{
	width: 100%;
	border-radius: 50px;
}

.product-page footer p{
	margin-top: 50px;
	text-align: center;
}


.services-page @media (min-width: 320px) and (max-width: 480px){
}


@-webkit-keyframes text-shadow-pop-top {
	0% {
	  text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
	  text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
  }
  @keyframes text-shadow-pop-top {
	0% {
	  text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
	  text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	}
  }

@-webkit-keyframes vibrate-1 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
	}
	60% {
	  -webkit-transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
	}
	80% {
	  -webkit-transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
	}
	100% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
  }
  @keyframes vibrate-1 {
	0% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
	20% {
	  -webkit-transform: translate(-2px, 2px);
			  transform: translate(-2px, 2px);
	}
	40% {
	  -webkit-transform: translate(-2px, -2px);
			  transform: translate(-2px, -2px);
	}
	60% {
	  -webkit-transform: translate(2px, 2px);
			  transform: translate(2px, 2px);
	}
	80% {
	  -webkit-transform: translate(2px, -2px);
			  transform: translate(2px, -2px);
	}
	100% {
	  -webkit-transform: translate(0);
			  transform: translate(0);
	}
  }
  