/* I separated the style into 2 separate css files. Idex.css (Which I would rename "Main.css" or similar) 
would be the css style that works through the entire site but page.css contain only what is unique betweeen the pages.*/

/* Services page*/

.services-header {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid black;
}

.services-header div {
	margin-top: 30px;
}

.services-content {
	margin: 30px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.services-content button {
	
	height: 30px;
	width: 140px;
	margin-top: 20px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 15px;
}

 .services-content div {
	width: 420px;
	background-color: #f5f5f5;
	border: 1px solid black;
	margin: 20px 0 20px 0;
	padding: 20px;
}

.services-footer {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.right-footer {
	Width: 400px;
}
