
.item {
    border: none;
    background-color: white;
}
.prod-cont-1 div, .prod-cont-1 a {
    text-align: center;
    margin: auto;
}
div .item {
    margin: none;
}
.item .prod-img {
    margin-bottom: 20px;
    background-color: rgb(182, 182, 182);
}
.prod-img h1 {
    font-family: sans-serif;
    color: white;
    margin-top: 40%;
}