/* NAVBAR */
nav {
	text-align: center;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
  }

nav a {
	display: flex;
	justify-content: center;
	color: black;
	text-decoration: none;
	margin: 15px 40px;
	vertical-align: middle;
}

nav a:hover {
	animation: nav;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* Title */
.title {
    margin-top: 100px;
    text-align: center;
}

/* Players */
.game {
    display: flex;
    margin: 50px 50px;
    justify-content: center;
}

.player {
    margin: 20px 100px;
    border: 1px solid black;
    padding: 10px 110px;
}

.gameplay {
    margin: 20px 10px;
    border: 1px solid black;
    padding: 10px 10px;
    text-align: center;
}