/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width: 61.25em;
	margin: 0 auto;
}
header{
   background: #BEBEBE;
   margin: 5em 0 0 0;
}

header nav{
    width: 61.25em;
	display: flex;
	justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 1px #000000 solid;
}


header nav a{
	text-decoration: none;
    margin: 1em;
    color:black;
	padding: 10px;
	text-align: center;
	transition: 0.1s;
    border-radius: 20px;  
}
header nav  a:hover{
    background: grey;
	color: aliceblue;
	transition: .8s;
}
nav :last-child{
    margin-left: auto;
}
 .container section .sec-info-card{
justify-content: space-between;
align-items: center;
width: 45%;
flex-flow: row wrap;
border: 2px black solid;
background: #f4f3f4;
height: 15em; 
padding: 20px;
line-height: 1.4;
}

.container .services-header-img{
    width: 100%;
    margin: 1em 0em 1.5em 0em;

}

section .section-info{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;

}

.sec-info-card:nth-child(even){
    /* color: blue; */
    margin: 2em 0em 0em 9px;

}
.sec-info-card:nth-child(odd){
    /* color: red;/ */      
    margin: 2em 1px 2em 0em;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 30px 0px 0px 0px;

}

footer .footer-text{
    width:45%;
    line-height: 25px;
    font-weight: bold;
}

footer h4{
    margin: 0 auto;
    padding: 50px;
    bottom: 0px;
}
footer .footer-text ul{
    display: list-item;
    margin: 30px 0px 0px 0px; 
    list-style-type: circle; 
    list-style-position: inside;
}
footer address{
    display: inline;
}

@media only screen and (max-width: 750px){
   .container{
       width: 100vw;
   }
   header nav {
      width: 100vw;
      flex-flow: row wrap-reverse;
      justify-content: center;
   }
   header nav :last-child{
       align-self: flex-end;
       margin: 0px;
   }
 
}