/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    margin: 30px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Base Styles
============================*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Navbar
============================*/

nav {
    position: relative;
}

nav > a {
    text-decoration: none;
    margin-right: 2rem;
    padding: 1rem 1rem 1rem 0;
    color: grey;
}

nav > a:hover,
a:focus {
    color: black;
}

.logo {
    position: absolute;
    right: 0;
}

/* Header
============================*/

.services-header-img {
    width: 100%;
    margin: 2rem 0;
}

/* line breaks
============================*/

hr {
    margin: 2rem 0;
}

/* Card Section
============================*/

.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}

.card {
    width: 100%;
    height: auto;
    background-color: lightgrey;
    border: 1px solid black;
    margin: 1rem 2rem 1rem 0;
    padding: 1rem;
    display: inline-block;
}

.card > button {
    width: 8rem;
    height: 2rem;
    border: 1px solid black;
    margin-top: 1rem;
    background: #fff;
}

.card > button:hover,
button:focus {
    background-color: #111;
    color: #fff;
}

/* Bottom Section
============================*/

.bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem;
    grid-gap: 2.5rem;
}

.left {
    grid-column: 1 / 2;
}

ul {
    list-style-type: square;
    margin: 2rem 0 0 1.2rem;
}

.services-info-img {
    grid-column: 2 / 3;
}

/* Copyright
============================*/

#copyright {
    margin: 5rem auto;
    text-align: center;
}
