/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav {
    position: fixed;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    width: 880px;
    margin: 0 50px;
}

nav a {
    padding: 5px 30px;
    margin: 15px 5px;
    text-decoration: none;
    color: grey;
}

nav a:hover {
    border: 1px solid grey;
    transition: 0.3s;
    color: white;
    background-color: grey;
}

.button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 30px;
}

.button:hover {
    background: lightgrey;
    color: white;
    transition: 0.3s;
    border: 1px solid grey;
}

.services-header-img {
    margin: 50px;
}

h1 {
    font-size: 20pt;
}

header {
    width: 880px;
    margin: 0 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.service-grid {
    width: 880px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.button {
    margin: 15px 0;
    border-radius: 5px;
}

.digital-design {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
}

.ux-ui {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
}

.digital-marketing {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
    margin: 30px 0;
}

.web-dev {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
    margin: 30px 0;
}

.ios-dev {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
}

.android-dev {
    width: 48%;
    border: 1px solid black;
    padding: 20px;
}

.Lower-Service-Content {
    width: 880px;
    margin: 50px 50px 100px 50px;
    display: flex;
    justify-content: space-between;
}

.Services-About {
    width: 47%
}

footer {
    width: 880px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.Bullet-Points {
    list-style-type: square;
    margin: 20px;
}