/**********
* Layout *
**********/

.primary-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 26px;
}

.nav-link {
    font-size: 1.08em;
}

#logo {
    padding-left: 14%;
}

main {
    width: 88%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

header h1 {
    padding-top: 32px;

    font-size: 1.75em;
}

header p {
    font-size: 1.05em;
    line-height: 1.3;
    letter-spacing: 0.1px;
}

footer {
    padding: 88px 0 114px;

    font-size: 1.06em;
    text-align: center;
}

/**********
* Modules *
**********/

.nav-link {
    color: #4A4A4A;
    text-decoration: none;
}

#card-roll {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 40px;

    border-top: 1px solid #333333;
    border-bottom: 2px solid #333333;
}

.card {
    padding: 22px 20px 20px 20px;
    margin-bottom: 40px;
    max-width: 47.75%;

    border: 1px solid #333333;

    background-color: #F3F3F3;
}

.card h2, .card p, #facts h2, #facts p {
    font-size: 1.07em;
}

.card p {
    padding-top: 2px;

    line-height: 1.26;
}

.learn-button {
    display: flex;
    justify-content: center;
    padding: 11px 28px;
    margin-top: 19px;
    width: 37%;

    border: 1px solid #333333;
    border-radius: 4px;

    background-color: #FFFFFF;

    color: #000000;
    font-size: 0.8em;
    text-decoration: none;
}

#facts {
    display: flex;
    padding-top: 41px;
}

#facts .col.left {
    padding-right: 40px;
}

#facts p {
    padding-top: 4px;

    line-height: 1.26;
}

#facts ul {
    margin-top: 12px;
    margin-left: 19px;

    list-style-type: square;
}

#facts li {
    padding-top: 14px;
    padding-left: 6px;

    font-size: 1.08em;
}