/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, submit { border:none; } 

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* header */

header nav {
  display: inline-flex;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  display: inline-flex;
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: inline-block;
  margin-top: 25px;
}

.cta {
	display: flex;
	/* border: 2px solid red; */
}

.cta .cta-text {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid blue;
	margin: 25px 0px 25px 0px;
	padding-bottom: 30px;
}

.main {
	
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* border: 1px solid royalblue; */
	padding-top: 25px;
	padding-bottom: 25px;
  	
}

.main .main-content {

	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 400px;
	border: 1px solid black;
	flex-direction: column;
	background-color: #eee;
}


button {
	width: 150px;
	height: 25px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	margin: 20px 0px 10px 0px;
}
.services-header-img {
	margin-top: 15px; 
}

.footer-content	{
	border-top: 1px solid black;
	padding-top: 25px;
	display: flex;
	flex-direction: column;
}

.footer-content section {

}

.footer-content section img {
	display: inline-flex;
	justify-content: right;
}

.copyright {
	text-align: center;
}

.services {
	font-size: 1.5em
}

ul li {
	
	margin-top: 15px;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside; 
  }