/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*Your code*/

.page {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header{
    width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
nav a{
    text-decoration: none;
    color: black;
}
header .logo{
    display: flex;
    align-items: baseline;
}
.header-img .services-header-img {
    width: 1200px;
    height: 400px;
}
.services {
    width: 1200px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.services h2 {
    font-size: 42px;
}
.services p{
    display: flex;
    font-size: 20px;
}

.first-row{
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.box .learn-more{
    justify-self: flex-end;
    margin: auto; 
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
}
.first-row .Digital{
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.box {
    padding: 20px;
}
 .box p {
    font-size: 18px;
    text-align: left;
}
.first-row .UI {
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.second-row{
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.second-row .marketing {
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.second-row .web-development {
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
}

.third-row{
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: solid 1px black;
}
.third-row .ios-development{
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
.third-row .android-development{
    display: flex;
    flex-direction: column;
    background: #F4F3F4;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;

}
footer {
    width: 1200px;
    padding-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .service-facts{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: flex-start;
}
footer .list-of-things{
    padding-top: 20px;
    list-style: disc;
    line-height: 1.5;
}