/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* my index code starts here */

.services-nav {
    display: flex;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0 14%;
    
}

.services-navbar a {
    text-decoration: none;
    color: slategrey;
}

.services-header-img {
    display: block;
    margin: 2% 14%;
}

.services {
    margin: 2% 14%;
}

hr {
    width: 84%;
}

.middle-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 14%;
    justify-content: space-between;
    align-content: space-around;
}

.digital-design {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

.ux-ui {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

.digital-marketing {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

.web-dev {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

.ios-dev {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

.android-dev {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 400px;
    margin: 2% 0;
    border: 1px solid;
    padding: 2%;
}

button {
    width: 100px;
    height: 25px;
    margin-top: 3%;
}

.servicesbottomsection {
    display: flex;
    margin: 2% 14%;
    justify-content: space-between;
}

.some-facts {
    width: 400px;
}

li {
    margin-top: 3%;
    margin-left: 5%;
    list-style-type: disc;
}

footer {
    text-align: center;
    margin-top: 3%;
}