/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Service HTML's CSS */

.copyright{
	text-align: center;
	font-size: 17px;
}
head, body {
	width: 1000px;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
}
p{
	font-size: 20px;
	padding: 10px 0px 0px 20px;
}
h2{
	padding: 15px 0px 0px 15px;
	font-size: 20px
}
.Idea nav{
	padding: 10px;
	display: flex;
}
.Idea nav a{
	padding: 20px;
	margin: 20px;
	text-decoration: none;
	color: grey;
}
.logo{
	position: relative;
	padding: 0 0 0 40px;
}
img{
	margin: 25px 0;
}
.Services{
	padding: 30px;
	border-bottom: 1px solid black;
}
.serviceHeader{
	font-size: 25px;
}
.BigContainer{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	margin-top: 20px;
}
.lilbox{
	width: 46%;
	border: 1px solid black;
	margin: 20px;
	background-color: rgb(224, 220, 220);
}
button{
	margin: 20px;
	padding: 10px 30px;
	background-color: white;
}
.BottomPage{
	display: flex;
}
.ServiceList{
	display: flex;
	flex-direction: column;
	width: 46%;
	margin-right: 50px;
}
ul{
	padding: 10px 0px 0px 10px;
	margin-top: 8px;
	list-style-type: square;
}