* {
    box-sizing: border-box;
}
.container {
    width: 880px;
    /* TB LR */
    margin: 0 auto;
}
  
/* header */

header {
    display: flex;
    padding-bottom: 17px;
}

header nav {
    width: 800px;
    vertical-align: top;
    margin-top: 35px;
}
  
header nav a {
    margin-right: 65px;
    font-size: 14px;
    color: gray;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header .logo {
    margin-top: 17px;
}

.main-content-services {
    display: flex;
    flex-direction: column;
    padding-top: 39px;
}

.top-content .main-content-services {
    border-bottom: 1px solid black;
    margin-bottom: 33px;
    padding-bottom: 39px;
}

h1 {
    font-size: 35px;
}

.bottom-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom-content .content-text-left {
    border: 1px solid black;
    background-color: #F5F5F5;
    width: 47%;
    padding: 15px;
    margin: 10px 24px 10px 0;
}

.bottom-content .content-text-right {
    border: 1px solid black;
    background-color: #F5F5F5;
    width: 47%;
    padding: 15px;
    margin: 10px 0 10px 24px;
}

.bottom-content .content-text-left button {
    background: #FFFFFF;
    font-size: 10px;
    border: 1px solid black;
    padding: 4px 20px;
    margin-top: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.bottom-content .content-text-right button {
    background: #FFFFF;
    font-size: 10px;
    border: 1px solid black;
    padding: 4px 20px;
    margin-top: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.bottom-content .content-text-left button:hover {
    background: black;
    color: white;
}

.bottom-content .content-text-right button:hover {
    background: black;
    color: white;
}