/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



body{
    padding: 20% 20% 20% 20%;
    margin: auto;
}

.navi{
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.logo{
    width:20%;

}

nav a{
    color:grey;
    text-decoration: none;
   
}

.services-header-img{
    width:100%;
    padding-bottom:35px;
}
.service{
    display:flex;
    width:100%;
    margin:auto;
    padding-bottom:35px;
    border-bottom: 2px solid black;

}

h2{
    font-size: 35px;
}

.group1{
    padding: 30px 0px 30px 0px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;


}   
   
.box1{
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    background-color: lightgrey;
    margin-right:4%;
    margin-top:3%;
}

.l1{
    border:1px solid black;
    background-color: white;
    padding:10px;
    width:100px;
    margin-top:3%;
    border-radius: 10px;
}

.box2{
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    background-color: lightgrey;
    margin-top:3%;
}

.l2{
    border: 1px solid black;
    background-color:white;
    padding:10px;
    width:100px;
    border-radius:10px;
    margin-top:3%;
}

.group2{
    padding: 30px 0px 30px 0px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box3{
    /*border: 2px solid black;*/
    border-left:2px solid black;
    border-right:2px solid black;
    padding: 30px 30px 30px 30px;
    background-color: lightgrey;
    margin-right:4%;
}

.l3{
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    width:100px;
    margin-top:3%;
    background-color:white;
}

.box4{
    /*border: 2px solid black;*/
    border-right:2px solid black;
    border-left:2px solid black;
    padding: 30px 30px 30px 30px;
    background-color: lightgrey;
}

.l4{
    border:1px solid black;
    border-radius: 10px;
    padding:10px;
    width:100px;
    margin-top:3%;
    background-color: white;

}

.group3{
    padding: 30px 0px 30px 0px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.box5{
    border:2px solid black;
    padding: 30px 30px 30px 30px;
    background-color: lightgrey;
    margin-bottom:3%;

}

.l5{
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
    width:100px;
    margin-top:3%;
    background-color:white;
}

.box6{
    border:2px solid black;
    padding: 30px 30px 30px 30px;
    background-color:lightgrey;
    margin-left:4%;
    margin-bottom:3%;
}

.l6{
    border:1px solid black;
    border-radius:10px;
    padding:10px;
    width:100px;
    margin-top:3%;
    background-color: white;
}



.ending{
    padding-top:35px;
    border-top: 2px solid black;
  
}

.final{
    padding: 30px 0px 30px 0px;
    width:48%;
}

.computer{
    display:flex;
    justify-content: flex-end;

}
.copyright{
    padding-top:60px;
    padding-bottom:60px;
    text-align: center;
}