/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
	width: 800px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.topcontainer {
	width: 800px;
	height: 50px;
	display: flex;
	padding-top: 20px;
}

nav {
	display: flex;
	width: 80%;
	justify-content: space-evenly;
}

nav a {
	vertical-align: top;
	/* display: inline-block; */
	text-decoration: none;
	color: gray;
	font-weight: bold;
	/* background: blue; */
	font-size: 16px;
	/* width: 8.2%;
	margin-right: 8.2%; */
}

/*  .logolink {
	 width: 20%;
	display: flex; 
} */

/* .logologo {
	width: 20%;
	background-image: url(../img/logo.png)
} */ 

.logo {
	/* background: yellow; */
	width: 20%;
	/* display: inline-block; */
	vertical-align: top;
	position: relative;
	bottom: 8px;
}

.services {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: solid 2px black;
	margin-bottom: 40px;
}

.services-header-img {
	width: 100%;
}

.box {
	background:#F2F2F2;
	width: 45%;
	padding: 20px 10px;
	
	border: solid 1px black;
	margin-bottom: 40px;

}

.leftbox {
	margin-right: 10%;
}

button {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2px 5px;
	margin-top: 20px;
	
	margin-left: 20px;
	/* font-size: 16px; */
	/* padding: 10px 50px; */
}

.bottomsec {
	width: 100%;
	display: flex;
	border-top: 2px solid black;
}

.services-info-img {
	width: 45%;
	padding-top: 40px;
}

.somefacts {
	width: 45%;
	padding-top: 40px;
	margin-right: 10%;
}

.listofacts {
	position: relative;
	left: 20px;
}

ul {
	list-style-type: square;
	margin-top: 20px;
}

li {
	margin: 5px;
}

footer {
	margin-top: 70px;
	text-align: center;
	margin-bottom: 50px;
}



.mediaquery {
	width: 800px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
	.box {
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
		padding: auto;
	}

	.mediaquery {
		width: 400px;
		/* margin: auto; */
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}	

	
	
}