


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: disc;
    list-style-position: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h1{
    font-size: 25px;
}
.container {
  width: 800px;
  /* TB LR */
  margin: 0 45px;
}

/* header */

header{
/* border: 1px solid red; */ 
display: flex;
margin: 25px 0;
justify-content:space-between;
}

header nav {
  /* border:1px solid green;*/
  
  display: flex;
  width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

header nav a {
  display: flex;
  flex-wrap: wrap;
  margin-right: 65px;
  font-size: 15px;
  font-weight: bold;
  color: #b0b4bd;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
    /*border: 1px solid red; */
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  /* border: 1px solid red; 8 */
  margin-top: 25px;
}

.services-header-img{
    max-width: 100%;
    max-height: 100%;
}

.text-content{
    
    line-height: 20px;
}

/* service about */

.service-content .service-about{
    /* border:1px solid green;*/
    margin: 25px 0;
    font-weight: bold;
    border-bottom: 2px solid black;
    
}

.service-content .service-about p{
    margin-bottom: 40px;

}

/* service box menu*/
.service-content .service-menu{
    border: 1px solid black;

    display:flex;
    
}

.service-menu .subbox{
    /* border: 1px solid orange; */

    display:flex;
}

.service-menu .subbox div{
    border: 1px solid black;
    background-color: #f4f3f4;
    margin: 50px 0;
    padding: 20px;
    display:flex;
    flex-flow: wrap;
}

.service-menu .subbox button{
    padding: 1px 15px;
    border: 1px solid black;
    border-radius: 7px;
    font: inherit;
    color: inherit;
    background-color:white;
    cursor: pointer;
    
}

.some-facts{
    border:1px solid purple;
    display:flex;
    margin: 35px 0;
}

.some-facts .fact-text{
    border:1px solid blue;

    margin: 0 auto;
    padding: 20px 0;
}

.some-facts .fact-text ul{
    border:1px solid green;


}
.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 14px;
}