/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a { text-decoration: none; }

.container {
	width:876px;
	margin: auto;
}

html body header nav {
	width: 100%;
	margin-top: 35px;
	vertical-align: top;
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
}

html body header nav a {
	margin-top: 10px;
	color:grey;
	background-color: white;
}

header nav a:last-child {
    margin-top: 0;
}

header {
	width: 100%;
	margin-top: 35px;
	vertical-align: top;
	display: flex;
}

.services-header-img {
	margin: 20px 0;
}

.topsectiongroup .topsectbox h2 {
    font-size: 24px;
}

.topsectiongroup {
	height: 0px auto;
	display:flex;
	flex-direction: column;
	justify-content: right;
}

.container .bodyboxes {
	height: 0px auto;
	width: 870px;
    margin-top: 40px;
    padding-top: 20px;
	display:flex;
	flex-wrap: wrap;
    justify-content: left;
    border-top: 2px solid black;
}

.bodyboxes button {
	height: 30px;
	width: 150px;
	border: 1px solid black;
	margin:0 auto;
	color: black;
	background-color: white;
    font-size: 11px;
    border-radius: 5px;
}

.container .box {
	width: 420px;
	padding: 20px;
	margin: 20px 0px;
	border: 1px solid black;
	background-color: lightgrey;
}

.container .box1 {
    margin-right: 30px;
}

.container .box3 {
    margin-right: 30px;
}

.container .box5 {
    margin-right: 30px;
}

.container .box7 {
	width: 375px;
	height: 250px;
	padding: 20px;
	
}

li {
	margin-left: 16px;
	margin-top: 10px;
}

.container .about-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black;
    margin: 25px 0 35px 0;
    padding-top: 40px;
}

.container .about-service .services-info-img {
	width: 420px;
    height: 300px;
}

.copy {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}