/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


.container {
    width: 800px;
    margin: 0 auto;
    align-content: center;
}

.nav-bar {
    display: flex;
    padding-bottom: 1%;
    margin-top: 20px;
    color: grey;
    justify-content: center;
	font-family: Arial;
}

.nav-bar a {
    color: lightgrey;
    font-family: 'titillium web', cursive;
    font-size: 20px;
    letter-spacing: .02em;
   
}

.nav-bar .logo {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}


/* #### Learn More Button Style #### */


button {
    margin-top: 3%;
	background-color: #fff;
	color: #000000;
	font-family: 'titillium web', sans-serif;
	border: .5px solid #000000;
	letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: bold;
}

ul {
    margin-left: 25px;
    padding-top: 25px;
}

li {
    list-style-type: square;
}

.services-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}

.services-img {
    width: 800px;
}

.services-1 .service-text {
    padding-bottom: 2%;
}

.services-1 h3 {
    padding-top: 2%;
    padding-right: 1%;
    font-size: 24px;
}


.main-contain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.text-container {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
    width: 48%;
    height: 48%;
    border: 1px solid black;
    background-color: #F4F4F3;
   
}

.text-container h3 {
    font-size: 20px;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.bottom-container {
    margin-bottom: 2%;
    margin-top: 2%;
    padding-right: 15px;
    width: 48%;
    height: 48%;
}


footer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 25px;
    font-weight: bold;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */