/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav, 
{
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}
.container {
  width: 880px;
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
}
header nav {
  display: flex;
  width: 700px;
 justify-content: space-between;
  margin-top: 30px;
}

header nav a {
  color:hotpink;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
  color: lawngreen;
}

header .logo {
  margin: 25px 0 0 80px;
}

.cta {
  display: flex;
  margin-top: 70px;
  justify-content: flex-end;
}

.cta .cta-text {
  font-size: 70px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 75px 0 0;
}

.cta .cta-text button {
border: 3px double hotpink;
font-size: 18px;
background: lawngreen;
width: 150px;
height: 35px;
margin-top: 10px;
cursor: pointer;
}

.cta .cta-text button:hover {
  background: lawngreen;
  color: hotpink;
}

.main-content {
  border-top: 3px solid yellow;
  border-bottom: 3px hotpink;
  margin: 70px 0 30px 0;
  padding: 30px 0;
  font-size: 18px;
  line-height: 16px;
}

.main-content .top-content {
  display: flex;
}

.main-content .middle-img {
  display: block;
  margin: 30px auto;
}

.main-content .bottom-content {
  display: flex;
}

.main-content .bottom-content p {
  padding-right: 20px;
}

.contact p {
  margin: 15px 0;
}

footer { 
  text-align: center;
  margin: 40px 0 20px;
}

.services-section .services-header-img {
  display: flex;
}
.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.3;
}

.services-section .services-header-img {
  margin: 20px 0;
}

.services-section h1 {
  font-size: 25px;
  margin: 10px 0;
  color: hotpink;
}

.services-section .services-text {
  border-bottom: 3px hotpink;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.services-section .box {
  padding: 20px;
  border: 3px solid hotpink;
  width: 400px;
  background: lawngreen;
  margin: 20px 0;
}

.services-section .box button {
  padding: 10px 40px;
  margin-top: 20px;
  cursor: pointer;
  background: hotpink;
  border-radius: 5px;
  border: 3px lawngreen;
}

.services-section .box button:hover {
  background: rgb(230, 32, 230);
  color: rgb(38, 7, 101);
}

.bottom-information {
  display: flex;
}


.bottom-information .details ul {
  margin: 20px;
}

.bottom-information .details ul li {
  list-style: square;
  padding: 5px;
}

.bottom-information .details h2 {
  border-top: 3px hotpink;
}
 .bottom-information .details { 
  width: 400px;
  margin: 0px 60px 20px 0;
 } 

.bottom-information .details p {
  margin-bottom: 20px;
  display: border-box;
}

.bottom-information .details .services-info-img {
  width: 350px;
  height: 300px;
}






