/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* above copied from index.css 
   my additions */

.container header, .container header nav,
.services, .categories, .categories section,
.facts {
  display: flex;
}

.services, .facts .sideA {
  flex-direction: column;
}

.container header {
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.categories, .categories section, .facts {
  justify-content: space-between;
}

.services, .categories {
  border-bottom: 2px solid black;
}

header nav a {
  width: 115px;
  text-decoration: none;
  color: #777;
}

.services, .categories, .facts {
  padding: 30px 0;
}

.categories {
  flex-wrap: wrap;
}

.categories section {
  width: 48%;
  flex-flow: column wrap;
  border: 2px solid black;
  padding: 1.5%;
  margin: 2% 0;
  background-color: #eee;
}

.categories section p{
  padding-bottom: 4%;
}

.categories section button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.facts .sideA {
  width: 45%;
}

.facts .sideA ul {
  margin-top: 20px;
  margin-left: 17px
}

.facts .sideA ul li {
  padding: 8px 0;
  list-style-type: square;
}

footer {
  text-align: center;
  margin: 20px 0;
}