/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
	box-sizing: border-box;
}

p, address, a {
	/* introduced new font family */
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.container {
	max-width: 90%;
	margin: 25px auto;
	text-align: center;
	box-sizing: border-box;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	width: 90%;
	/* added background color to the nav bar and fixed its position */
	position: fixed;
	background-color: rgb(173, 216, 230, 0.7);
	border-radius: 100px;
	margin: 10px auto;
	padding: 10px 5px;
}

.logo {
	padding-right: 15px;
}

.top-bar nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
	margin-left: 25px;
	margin-right: 100px;
}

.top-bar nav a {
	text-decoration: none;
	color: red;
	font-size: 18px;
	padding: 5px;
	text-shadow: 1px 1px black;

	transition: .1s;
}

.top-bar nav a:hover {
	color: white;
}

.top-section {
	padding-top: 75px;
}

.services-header-img {
	width: 100%;
	height: auto;
}

.about-services {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 16px;
}

.about-services h1 {
	font-size: 32px;
}

.middle-services {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 16px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px 0px;
}

.middle-services h2 {
	font-size: 18px;
}

.box-around {
	width: 48%;
	text-align: left;
	padding: 25px;
	border: 1px solid black;
	margin: 20px 0px;
	background-color: #F0F0F0;
}

.middle-services button {
	border: 1px solid black;
	padding: 5px 25px;
	margin-top: 15px;
  	font-size: 14px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	transition: .2s;
}

.middle-services button:hover {
	transform: scale(1.1);
} 

.bottom-section {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.service-facts {
	text-align: left;
	font-size: 16px;
}

.service-facts h3 {
	font-size: 18px;
}

.service-facts ul {
	list-style: disc;
	list-style-position: inside;
	padding: 10px;
	margin: 10px 0;
	line-height: 200%;
}

.bottom-boxes {
	width: 47%;
}

.services-info-img {
	height: auto;
}

footer {
	padding: 50px 50px 25px 50px;
	font-size: 16px;
}