/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
	width: 800px;
	margin-left: 60px;
	margin-top: 20px;
}

.nav ul {
    display: flex;
    justify-content: space-between;

}

.nav a {
    text-decoration: none;
    color: grey;
}

.logo {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: 20px;
}

.services-header-img {
    width: 800px;
    height: auto;
}

.services {
    margin-top: 20px;
}

h2 {
    font-weight: 575;
    font-size: 20px;
}

.flex-row1, .flex-row2, .flex-row3  {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.digital-design {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
}

.uxui {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
}

.digital-marketing {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.web-development {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ios-development {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
}

.android-development {
    border: solid black 1px;
    padding: 10px;
    background: #F3F3F3;
    width: 45%;
}
/*
.learn-more{
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    font-size: 13px;
    border-radius: 10px;
}
*/
.lmbutton {
    border: 0;
    padding: 5px 25px 5px 25px;
    margin: 10px 0px 5px 10px;
    font-family: inherit;
    background: white;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.page-bottom {
    display: flex;
    justify-content: space-between;
}

.some-facts {
    width: 45%;
}

.things {
    list-style-type: square;
}
.things li {
    margin: 12px;
}

.services-info-img {
    height: 45%;
    width: 45%;
}

.copyright {
	text-align: center;
	margin-top: 50px;
}
