/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Your code starts here! */

.container {
	width: 880px;
	/* TB LR */
	margin: 0 auto;
	/* padding: 5px 250px; */
	/* display: flex;
	flex-wrap: wrap; */
	/* border: 2px solid red; */
}

nav {
	position: fixed;
	background: white;
	top: 0;
	width: 880px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 2px solid red; */
}

nav a {
	margin: 20px 0px;
	text-decoration: none;
	color: gray;
	/* border: 2px solid red; */
}

.nav-img {
	/* border: 2px solid red; */
}

header {
	border-bottom: 2px solid gray;
	margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 0 30px 0;
}

header img {
	/* border: 2px solid red; */
}

header h1 {
    font-size: 25px;
    margin: 20px 0 20px 0;
	/* border: 2px solid red; */
}

header p {
    margin: 0 0 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    margin-top: 50px;
    border-bottom: 2px solid black;
	height: 830px;
}

main div {
	width: 411px;
	height: 220px;
    padding: 20px;
    border: 1px solid black; 
}

button {
	width: 135px;
	height: 30px;
	font-size: 15px;
	background: white;
    border: 1px solid black;
    border-radius: 7%;
    margin: 20px 0 0 0;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0 0 0;
    /* border: 2px solid red;  */
}

.bottom-left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 20px 0 0 0; 
	margin: 0 30px 0 0;
	width: 400px;
}

.bottom-left ul {
    list-style-type: square;
    padding: 20px; 
    line-height: 2;
}

.bottom-section img {
	margin-top: 20px;
	padding: 0 0 20px 0;
	height: 300px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	/* border: 2px solid red; */
}