/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
  color: aliceblue;
}

a {
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
}
/* unvisited link */
a:link {
  color: antiquewhite;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: rgb(0,191,255);
}

/* .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1542553458-79a13aebfda6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1864&q=80");
  
  height: 100%;
} */

html {
  background: url("https://images.unsplash.com/photo-1542553458-79a13aebfda6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1864&q=80") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: LEMONCHIFFON; */
}


.navigation li {
  margin: 20px 0 10px 0;
  padding-left: 6%;
}

.navigation >li>a {
  color: black;
}

li:last-of-type {
  margin-left: auto;
  padding-right: 4%;
  /* margin-top: 13px; */
}

.innovation {
  /* display: flex */
  align-items: center;
  margin: 5% 0;
}

.left-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left-box h1 {
  font-size: 3.5em;
  width: 40%;
}

.button {
  padding-top: 10px;
  padding-bottom: 25px;
  width: 40%;
  height: 30px;
  border: 1px solid white;
  text-align: center;
  margin-top: 2%;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0;
}

.main {
  margin: 0 4%;
}

.hero {
  display: flex;
  justify-content: center;
  /* margin-bottom: 5%; */
  margin-top: 4%;
}

.products {
  display: flex;
  /* margin: 5% 0; */
  text-align: center;
  
}

.article {
  display: flex;
  flex-direction: column;
  margin: 30%;
}

.article h1 {
  font-size: 5em;
  letter-spacing: 5px;
}

.article p{
  margin-top: 3%;
  letter-spacing: 5px;
  font-size: 1.1em;
}

.main-3 {
  /* margin: 0 4%; */
  display: flex;
  justify-content: center;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}

.contact {
  padding-top: 1%;
}


/* Services section */



.container-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10% 3%;
}

.container-2 > .main-6 {
  flex-grow: 1;
  flex: 1 1 45%;
}

.main-6 {
  /* border: 1px solid black; */
  padding: 2%;
  margin: 2%;
}

.bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.bottom-1 {
  width: 50%;
  margin: 4%;
}

.bottom-1 p, li {
  font-size: 1.3em;
}

.bottom-1 h1 {
  font-size: 2em;
}

.bottom-1 ul {
  margin-top: 4%;
}

.bottom-1 img {
  width: 75%;
}

.bottom-1  li {
  list-style-type: disc;
  margin-left: 3%;
}

footer {
  text-align: center;
  margin: 5%;
}

.hero-1 {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}

.hero-1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3.5em;
  text-shadow: 2px 2px black;
}

.hero-1 h1{
  color: aliceblue;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
}


/* Responsive design */

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  

