/* Header */
#vision header {
	flex-direction: column;
	padding: 25px 0;
}

#vision header section {
	margin-top: 30px;
}

#vision header h1 {
	font-size: 25px;
}

/* Content Sections */
#vision .content-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

#vision .content-blocks section {
	width: 420px;
	background: #f4f4f4;
	border: 1px solid black;
	padding: 20px;
	margin: 20px 0;
}

#vision .content-blocks .learn {
	color: black;
	text-decoration: none;
	font-size: 12px;
	padding: 10px 40px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}

#vision .facts {
	display: flex;
	border-top: 1px solid black;
	padding-top: 40px;
}

#vision .facts-left {
	margin-right: 20px;
}

#vision .facts ul {
	list-style-type: square;
	margin: 20px 0 0 20px;
}

#vision .facts ul li {
	margin-top: 10px;
}