/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

body {
	width: 995px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    
    margin-bottom: 15px;
}

.nav-links a {
	list-style: none;
	text-decoration: none;
	color: grey;
	font-weight: bold;
	
	
}

nav .nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	margin-top: 10%;
}

.logo {
	display: absolute;
	margin: -25px 0 4% 80%;
}

.services-header-img {
	width: 995px;
}

.services {
	border-bottom: 1px solid black;
	height: 25%;
	width: 1000px;
}

p {
	font-weight: bold;
	line-height: 25px;
}

h1 {
	font-size: 175%;
	margin-top: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	 
}

#digital-design,
#ux-ui,
#digital-marketing,
#web-dev,
#ios-dev, 
#android-dev {
	border: 1px solid black;
	background-color: #f0f0f0;
	/*margin: 20px;*/
	padding: 30px;
    width: 400px;
	margin-top: 70px;
	
}

h2 {
	font-size: 20px;
}

button {
	width: 150px;
	height: 35px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	margin-top: 25px; 
}

footer {
	height: 800px;
	border-top: 2px solid black;
	margin-top: 70px;
}

footer h2 {
	margin-top: 60px;
}

.footer-paragraph {
	width: 40%;
}

.services-info-img {
	display: absolute;
	margin-top: -300px;
	margin-left: 575px;
}

.footer-list {
	list-style-type: square;
	line-height: 30px;
	margin-top: 45px;
	margin-left: 25px;
	font-weight: bold;
}

#copyright {
	text-align: center;
	margin-top: 150px;
    
}

